.ca-width-0, .ca-size-0 { inline-size: 0; }
.ca-width-1, .ca-size-1 { inline-size: 0.5rem; }
.ca-width-2, .ca-size-2 { inline-size: 1rem; }
.ca-width-3, .ca-size-3 { inline-size: 1.5rem; }
.ca-width-4, .ca-size-4 { inline-size: 2rem; }
.ca-width-5, .ca-size-5 { inline-size: 2.5rem; }
.ca-width-6, .ca-size-6 { inline-size: 3rem; }
.ca-width-7, .ca-size-7 { inline-size: 3.5rem; }
.ca-width-8, .ca-size-8 { inline-size: 4rem; }
.ca-width-9, .ca-size-9 { inline-size: 4.5rem; }
.ca-width-10, .ca-size-10 { inline-size: 5rem; }
.ca-width-12, .ca-size-12 { inline-size: 6rem; }
.ca-width-14, .ca-size-14 { inline-size: 7rem; }
.ca-width-16, .ca-size-16 { inline-size: 8rem; }
.ca-width-18, .ca-size-18 { inline-size: 9rem; }
.ca-width-20, .ca-size-20 { inline-size: 10rem; }
.ca-width-25, .ca-size-25 { inline-size: 12.5rem; }
.ca-width-30, .ca-size-30 { inline-size: 15rem; }
.ca-width-35, .ca-size-35 { inline-size: 17.5rem; }
.ca-width-40, .ca-size-40 { inline-size: 20rem; }
.ca-width-45, .ca-size-45 { inline-size: 22.5rem; }
.ca-width-50, .ca-size-50 { inline-size: 25rem; }
.ca-width-60, .ca-size-60 { inline-size: 30rem; }
.ca-width-70, .ca-size-70 { inline-size: 35rem; }
.ca-width-80, .ca-size-80 { inline-size: 40rem; }
.ca-width-90, .ca-size-90 { inline-size: 45rem; }
.ca-width-1\/6, .ca-size-1\/6 { inline-size: 16.666667%; }
.ca-width-1\/5, .ca-size-1\/5 { inline-size: 20%; }
.ca-width-1\/4, .ca-size-1\/4 { inline-size: 25%; }
.ca-width-1\/3, .ca-size-1\/3 { inline-size: 33.333333%; }
.ca-width-1\/2, .ca-size-1\/2 { inline-size: 50%; }
.ca-width-2\/3, .ca-size-2\/3 { inline-size: 66.666667%; }
.ca-width-3\/4, .ca-size-3\/4 { inline-size: 75%; }
.ca-width-4\/5, .ca-size-4\/5 { inline-size: 80%; }
.ca-width-5\/6, .ca-size-5\/6 { inline-size: 83.333333%; }
.ca-width-auto, .ca-size-auto { inline-size: auto; }
.ca-width-full, .ca-size-full { inline-size: 100%; }

.ca-max-width-0, .ca-max-size-0 { max-inline-size: 0; }
.ca-max-width-1, .ca-max-size-1 { max-inline-size: 0.5rem; }
.ca-max-width-2, .ca-max-size-2 { max-inline-size: 1rem; }
.ca-max-width-3, .ca-max-size-3 { max-inline-size: 1.5rem; }
.ca-max-width-4, .ca-max-size-4 { max-inline-size: 2rem; }
.ca-max-width-5, .ca-max-size-5 { max-inline-size: 2.5rem; }
.ca-max-width-6, .ca-max-size-6 { max-inline-size: 3rem; }
.ca-max-width-7, .ca-max-size-7 { max-inline-size: 3.5rem; }
.ca-max-width-8, .ca-max-size-8 { max-inline-size: 4rem; }
.ca-max-width-9, .ca-max-size-9 { max-inline-size: 4.5rem; }
.ca-max-width-10, .ca-max-size-10 { max-inline-size: 5rem; }
.ca-max-width-12, .ca-max-size-12 { max-inline-size: 6rem; }
.ca-max-width-14, .ca-max-size-14 { max-inline-size: 7rem; }
.ca-max-width-16, .ca-max-size-16 { max-inline-size: 8rem; }
.ca-max-width-18, .ca-max-size-18 { max-inline-size: 9rem; }
.ca-max-width-20, .ca-max-size-20 { max-inline-size: 10rem; }
.ca-max-width-25, .ca-max-size-25 { max-inline-size: 12.5rem; }
.ca-max-width-30, .ca-max-size-30 { max-inline-size: 15rem; }
.ca-max-width-35, .ca-max-size-35 { max-inline-size: 17.5rem; }
.ca-max-width-40, .ca-max-size-40 { max-inline-size: 20rem; }
.ca-max-width-45, .ca-max-size-45 { max-inline-size: 22.5rem; }
.ca-max-width-50, .ca-max-size-50 { max-inline-size: 25rem; }
.ca-max-width-60, .ca-max-size-60 { max-inline-size: 30rem; }
.ca-max-width-70, .ca-max-size-70 { max-inline-size: 35rem; }
.ca-max-width-80, .ca-max-size-80 { max-inline-size: 40rem; }
.ca-max-width-90, .ca-max-size-90 { max-inline-size: 45rem; }
.ca-max-width-1\/6, .ca-max-size-1\/6 { max-inline-size: 16.666667%; }
.ca-max-width-1\/5, .ca-max-size-1\/5 { max-inline-size: 20%; }
.ca-max-width-1\/4, .ca-max-size-1\/4 { max-inline-size: 25%; }
.ca-max-width-1\/3, .ca-max-size-1\/3 { max-inline-size: 33.333333%; }
.ca-max-width-1\/2, .ca-max-size-1\/2 { max-inline-size: 50%; }
.ca-max-width-2\/3, .ca-max-size-2\/3 { max-inline-size: 66.666667%; }
.ca-max-width-3\/4, .ca-max-size-3\/4 { max-inline-size: 75%; }
.ca-max-width-4\/5, .ca-max-size-4\/5 { max-inline-size: 80%; }
.ca-max-width-5\/6, .ca-max-size-5\/6 { max-inline-size: 83.333333%; }
.ca-max-width-auto, .ca-max-size-auto { max-inline-size: auto; }
.ca-max-width-full, .ca-max-size-full { max-inline-size: 100%; }

.ca-min-width-0, .ca-min-size-0 { min-inline-size: 0; }
.ca-min-width-1, .ca-min-size-1 { min-inline-size: 0.5rem; }
.ca-min-width-2, .ca-min-size-2 { min-inline-size: 1rem; }
.ca-min-width-3, .ca-min-size-3 { min-inline-size: 1.5rem; }
.ca-min-width-4, .ca-min-size-4 { min-inline-size: 2rem; }
.ca-min-width-5, .ca-min-size-5 { min-inline-size: 2.5rem; }
.ca-min-width-6, .ca-min-size-6 { min-inline-size: 3rem; }
.ca-min-width-7, .ca-min-size-7 { min-inline-size: 3.5rem; }
.ca-min-width-8, .ca-min-size-8 { min-inline-size: 4rem; }
.ca-min-width-9, .ca-min-size-9 { min-inline-size: 4.5rem; }
.ca-min-width-10, .ca-min-size-10 { min-inline-size: 5rem; }
.ca-min-width-12, .ca-min-size-12 { min-inline-size: 6rem; }
.ca-min-width-14, .ca-min-size-14 { min-inline-size: 7rem; }
.ca-min-width-16, .ca-min-size-16 { min-inline-size: 8rem; }
.ca-min-width-18, .ca-min-size-18 { min-inline-size: 9rem; }
.ca-min-width-20, .ca-min-size-20 { min-inline-size: 10rem; }
.ca-min-width-25, .ca-min-size-25 { min-inline-size: 12.5rem; }
.ca-min-width-30, .ca-min-size-30 { min-inline-size: 15rem; }
.ca-min-width-35, .ca-min-size-35 { min-inline-size: 17.5rem; }
.ca-min-width-40, .ca-min-size-40 { min-inline-size: 20rem; }
.ca-min-width-45, .ca-min-size-45 { min-inline-size: 22.5rem; }
.ca-min-width-50, .ca-min-size-50 { min-inline-size: 25rem; }
.ca-min-width-60, .ca-min-size-60 { min-inline-size: 30rem; }
.ca-min-width-70, .ca-min-size-70 { min-inline-size: 35rem; }
.ca-min-width-80, .ca-min-size-80 { min-inline-size: 40rem; }
.ca-min-width-90, .ca-min-size-90 { min-inline-size: 45rem; }
.ca-min-width-1\/6, .ca-min-size-1\/6 { min-inline-size: 16.666667%; }
.ca-min-width-1\/5, .ca-min-size-1\/5 { min-inline-size: 20%; }
.ca-min-width-1\/4, .ca-min-size-1\/4 { min-inline-size: 25%; }
.ca-min-width-1\/3, .ca-min-size-1\/3 { min-inline-size: 33.333333%; }
.ca-min-width-1\/2, .ca-min-size-1\/2 { min-inline-size: 50%; }
.ca-min-width-2\/3, .ca-min-size-2\/3 { min-inline-size: 66.666667%; }
.ca-min-width-3\/4, .ca-min-size-3\/4 { min-inline-size: 75%; }
.ca-min-width-4\/5, .ca-min-size-4\/5 { min-inline-size: 80%; }
.ca-min-width-5\/6, .ca-min-size-5\/6 { min-inline-size: 83.333333%; }
.ca-min-width-auto, .ca-min-size-auto { min-inline-size: auto; }
.ca-min-width-full, .ca-min-size-full { min-inline-size: 100%; }

.ca-height-0, .ca-size-0 { block-size: 0; }
.ca-height-1, .ca-size-1 { block-size: 0.5rem; }
.ca-height-2, .ca-size-2 { block-size: 1rem; }
.ca-height-3, .ca-size-3 { block-size: 1.5rem; }
.ca-height-4, .ca-size-4 { block-size: 2rem; }
.ca-height-5, .ca-size-5 { block-size: 2.5rem; }
.ca-height-6, .ca-size-6 { block-size: 3rem; }
.ca-height-7, .ca-size-7 { block-size: 3.5rem; }
.ca-height-8, .ca-size-8 { block-size: 4rem; }
.ca-height-9, .ca-size-9 { block-size: 4.5rem; }
.ca-height-10, .ca-size-10 { block-size: 5rem; }
.ca-height-12, .ca-size-12 { block-size: 6rem; }
.ca-height-14, .ca-size-14 { block-size: 7rem; }
.ca-height-16, .ca-size-16 { block-size: 8rem; }
.ca-height-18, .ca-size-18 { block-size: 9rem; }
.ca-height-20, .ca-size-20 { block-size: 10rem; }
.ca-height-25, .ca-size-25 { block-size: 12.5rem; }
.ca-height-30, .ca-size-30 { block-size: 15rem; }
.ca-height-35, .ca-size-35 { block-size: 17.5rem; }
.ca-height-40, .ca-size-40 { block-size: 20rem; }
.ca-height-45, .ca-size-45 { block-size: 22.5rem; }
.ca-height-50, .ca-size-50 { block-size: 25rem; }
.ca-height-60, .ca-size-60 { block-size: 30rem; }
.ca-height-70, .ca-size-70 { block-size: 35rem; }
.ca-height-80, .ca-size-80 { block-size: 40rem; }
.ca-height-90, .ca-size-90 { block-size: 45rem; }
.ca-height-1\/6, .ca-size-1\/6 { block-size: 16.666667%; }
.ca-height-1\/5, .ca-size-1\/5 { block-size: 20%; }
.ca-height-1\/4, .ca-size-1\/4 { block-size: 25%; }
.ca-height-1\/3, .ca-size-1\/3 { block-size: 33.333333%; }
.ca-height-1\/2, .ca-size-1\/2 { block-size: 50%; }
.ca-height-2\/3, .ca-size-2\/3 { block-size: 66.666667%; }
.ca-height-3\/4, .ca-size-3\/4 { block-size: 75%; }
.ca-height-4\/5, .ca-size-4\/5 { block-size: 80%; }
.ca-height-5\/6, .ca-size-5\/6 { block-size: 83.333333%; }
.ca-height-auto, .ca-size-auto { block-size: auto; }
.ca-height-full, .ca-size-full { block-size: 100%; }

.ca-max-height-0, .ca-max-size-0 { max-block-size: 0; }
.ca-max-height-1, .ca-max-size-1 { max-block-size: 0.5rem; }
.ca-max-height-2, .ca-max-size-2 { max-block-size: 1rem; }
.ca-max-height-3, .ca-max-size-3 { max-block-size: 1.5rem; }
.ca-max-height-4, .ca-max-size-4 { max-block-size: 2rem; }
.ca-max-height-5, .ca-max-size-5 { max-block-size: 2.5rem; }
.ca-max-height-6, .ca-max-size-6 { max-block-size: 3rem; }
.ca-max-height-7, .ca-max-size-7 { max-block-size: 3.5rem; }
.ca-max-height-8, .ca-max-size-8 { max-block-size: 4rem; }
.ca-max-height-9, .ca-max-size-9 { max-block-size: 4.5rem; }
.ca-max-height-10, .ca-max-size-10 { max-block-size: 5rem; }
.ca-max-height-12, .ca-max-size-12 { max-block-size: 6rem; }
.ca-max-height-14, .ca-max-size-14 { max-block-size: 7rem; }
.ca-max-height-16, .ca-max-size-16 { max-block-size: 8rem; }
.ca-max-height-18, .ca-max-size-18 { max-block-size: 9rem; }
.ca-max-height-20, .ca-max-size-20 { max-block-size: 10rem; }
.ca-max-height-25, .ca-max-size-25 { max-block-size: 12.5rem; }
.ca-max-height-30, .ca-max-size-30 { max-block-size: 15rem; }
.ca-max-height-35, .ca-max-size-35 { max-block-size: 17.5rem; }
.ca-max-height-40, .ca-max-size-40 { max-block-size: 20rem; }
.ca-max-height-45, .ca-max-size-45 { max-block-size: 22.5rem; }
.ca-max-height-50, .ca-max-size-50 { max-block-size: 25rem; }
.ca-max-height-60, .ca-max-size-60 { max-block-size: 30rem; }
.ca-max-height-70, .ca-max-size-70 { max-block-size: 35rem; }
.ca-max-height-80, .ca-max-size-80 { max-block-size: 40rem; }
.ca-max-height-90, .ca-max-size-90 { max-block-size: 45rem; }
.ca-max-height-1\/6, .ca-max-size-1\/6 { max-block-size: 16.666667%; }
.ca-max-height-1\/5, .ca-max-size-1\/5 { max-block-size: 20%; }
.ca-max-height-1\/4, .ca-max-size-1\/4 { max-block-size: 25%; }
.ca-max-height-1\/3, .ca-max-size-1\/3 { max-block-size: 33.333333%; }
.ca-max-height-1\/2, .ca-max-size-1\/2 { max-block-size: 50%; }
.ca-max-height-2\/3, .ca-max-size-2\/3 { max-block-size: 66.666667%; }
.ca-max-height-3\/4, .ca-max-size-3\/4 { max-block-size: 75%; }
.ca-max-height-4\/5, .ca-max-size-4\/5 { max-block-size: 80%; }
.ca-max-height-5\/6, .ca-max-size-5\/6 { max-block-size: 83.333333%; }
.ca-max-height-auto, .ca-max-size-auto { max-block-size: auto; }
.ca-max-height-full, .ca-max-size-full { max-block-size: 100%; }

.ca-min-height-0, .ca-min-size-0 { min-block-size: 0; }
.ca-min-height-1, .ca-min-size-1 { min-block-size: 0.5rem; }
.ca-min-height-2, .ca-min-size-2 { min-block-size: 1rem; }
.ca-min-height-3, .ca-min-size-3 { min-block-size: 1.5rem; }
.ca-min-height-4, .ca-min-size-4 { min-block-size: 2rem; }
.ca-min-height-5, .ca-min-size-5 { min-block-size: 2.5rem; }
.ca-min-height-6, .ca-min-size-6 { min-block-size: 3rem; }
.ca-min-height-7, .ca-min-size-7 { min-block-size: 3.5rem; }
.ca-min-height-8, .ca-min-size-8 { min-block-size: 4rem; }
.ca-min-height-9, .ca-min-size-9 { min-block-size: 4.5rem; }
.ca-min-height-10, .ca-min-size-10 { min-block-size: 5rem; }
.ca-min-height-12, .ca-min-size-12 { min-block-size: 6rem; }
.ca-min-height-14, .ca-min-size-14 { min-block-size: 7rem; }
.ca-min-height-16, .ca-min-size-16 { min-block-size: 8rem; }
.ca-min-height-18, .ca-min-size-18 { min-block-size: 9rem; }
.ca-min-height-20, .ca-min-size-20 { min-block-size: 10rem; }
.ca-min-height-25, .ca-min-size-25 { min-block-size: 12.5rem; }
.ca-min-height-30, .ca-min-size-30 { min-block-size: 15rem; }
.ca-min-height-35, .ca-min-size-35 { min-block-size: 17.5rem; }
.ca-min-height-40, .ca-min-size-40 { min-block-size: 20rem; }
.ca-min-height-45, .ca-min-size-45 { min-block-size: 22.5rem; }
.ca-min-height-50, .ca-min-size-50 { min-block-size: 25rem; }
.ca-min-height-60, .ca-min-size-60 { min-block-size: 30rem; }
.ca-min-height-70, .ca-min-size-70 { min-block-size: 35rem; }
.ca-min-height-80, .ca-min-size-80 { min-block-size: 40rem; }
.ca-min-height-90, .ca-min-size-90 { min-block-size: 45rem; }
.ca-min-height-1\/6, .ca-min-size-1\/6 { min-block-size: 16.666667%; }
.ca-min-height-1\/5, .ca-min-size-1\/5 { min-block-size: 20%; }
.ca-min-height-1\/4, .ca-min-size-1\/4 { min-block-size: 25%; }
.ca-min-height-1\/3, .ca-min-size-1\/3 { min-block-size: 33.333333%; }
.ca-min-height-1\/2, .ca-min-size-1\/2 { min-block-size: 50%; }
.ca-min-height-2\/3, .ca-min-size-2\/3 { min-block-size: 66.666667%; }
.ca-min-height-3\/4, .ca-min-size-3\/4 { min-block-size: 75%; }
.ca-min-height-4\/5, .ca-min-size-4\/5 { min-block-size: 80%; }
.ca-min-height-5\/6, .ca-min-size-5\/6 { min-block-size: 83.333333%; }
.ca-min-height-auto, .ca-min-size-auto { min-block-size: auto; }
.ca-min-height-full, .ca-min-size-full { min-block-size: 100%; }
