<div class="site-header">
  <div class="site-header-container">
    <button class="main-navigation-button">
      <div class="hamburger"></div>
      <span class="visually-hidden">Main menu</span>
    </button>
    <div class="site-branding">
      <a href="/">
        <div class="site-branding-logo">
          <div class="logo-image">
            <img
              class="overflow"
              src="https://cdn.cdt.ca.gov/cdt/CAWeb/site-logo-circle.svg"
              alt="Eureka Design System logo" />
          </div>
          <div class="site-branding-text">
            <span class="state">California</span>
            <span class="department">Department Website</span>
          </div>
        </div>
      </a>
    </div>
    <div class="site-header-utility">
      <button class="search-toggle"></button>
      <a href="#" class="login-button"
        ><img
          src="/images/login-icon.svg"
          class="login-icon"
          aria-hidden="true"
          alt="" /><span class="login-text">Login</span></a
      >
      <button class="cagov-button">
        <img class="cagov-icon" src="/images/cagov-icon.svg" /><span
          class="visually-hidden"
          >ca.gov links</span
        >
      </button>
    </div>
  </div>
</div>
