<!-- Add class "theme-light" to use light header version -->
<div class="site-header">
  <div class="site-header-container">
    <button class="main-navigation-button">
      <div class="hamburger"></div>
      <span class="visually-hidden">Main menu</span>
    </button>
    <a href="/" class="site-logo">
      <!-- add class "no-overflow" to remove image's bottom overflow-->
      <img
        src="https://cdn.cdt.ca.gov/cdt/CAWeb/site-logo-circle.svg"
        alt="Eureka Design System logo"
        class="logo-image" />

      <div class="site-branding-text">
        <span class="state">California</span>
        <span class="department">Department Website</span>
      </div>
    </a>
    <div class="site-header-utility">
      <button class="search-toggle"></button>
      <a href="#" class="login-button"><span class="login-text">Login</span></a>
      <button class="cagov-button">
        <span class="visually-hidden">ca.gov links</span>
      </button>
    </div>
  </div>
</div>
