:where(form) {
  font-size: var(--text-size-1);
  max-width: var(--content-width-large);
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(label) {
  display: block;
  font-weight: 600;
}

:where(label > :is(input, textarea, select)) {
  margin-block-start: 1rem;
}

/* Default to display:block for most inputs. */
:where(
    input:not([type="radio"], [type="checkbox"], [type="color"]),
    textarea,
    select
  ) {
  display: block;
  padding: .75rem 1rem;

  border: 0.0625rem solid var(--gray-30);
  border-radius: var(--border-radius);
}

/* Increase width for some inputs. */
input:not(
    [type="submit"],
    [type="reset"],
    [type="color"],
    [type="checkbox"],
    [type="radio"]
  ),
select,
textarea {
  inline-size: 100%;
}

/* Add some buffer when scrolling back up to an invalid field. */
input:invalid {
  scroll-margin-block: 5ex;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  margin-block-end: .25rem;
}
