p {
  line-height: var(--line-height-default);
  /* max-width: var(--text-max-width); */
  text-wrap: pretty;
  margin-block-end: 1.5rem;
}

:where(p) {
  max-width: var(--content-width-small);
}

h1 + p,
.ca-lead {
  font-size: var(--text-size-large);
  line-height: var(--line-height-large);
  margin-block-end: clamp(2rem, calc(1.7289rem + 1.2048vw), 2.5rem);
}
