search {
  & form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    block-size: 3rem;
    min-inline-size: 13rem;
    max-inline-size: 62ch;
    background-color: var(--primary-background-40);
    border-radius: var(--border-radius);
  }
  & input[type="search"] {
    all: unset;
    display: inline-block;
    inline-size: 100%;
    padding: .5rem 1rem;
    font-size: var(--text-size-1);

    &::placeholder {
      color: var(--gray-100);
      opacity: 66%;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  & button {
    all: unset;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    inline-size: 3rem;
    min-inline-size: 3rem;
    block-size: 100%;

    & ca-icon {
      block-size: auto;
      inline-size: 1rem;
    }

    &:hover {
      color: var(--primary-120);
      background-color: var(--primary-background-50);
    }
  }
}
