table {
  border-collapse: separate;
  border-spacing: 0;
}

:where(table) {
  max-inline-size: var(--content-width-large);
}

caption {
  font-size: var(--text-size-small);
  caption-side: bottom;
  padding: 1rem;
  font-style: italic;
  text-align: start;
}

th,
td {
  font-size: var(--text-size-default);
  padding: .5rem 1rem;
  text-align: start;
}

th {
  font-weight: 600;
}

td {
  font-weight: 400;
}

table.ca-inner-border {
  &:has(tfoot > tr) > tbody > tr,
  &:not(:has(tfoot > tr)) tr:not(:last-child) {
    & > :is(th, td) {
      border-block-end: 0.0625rem solid var(--gray-30);
    }
  }

  & thead > tr > :is(th, td) {
    border-block-end: 0.0625rem solid var(--gray-50);
  }
}

table.ca-outer-border {
  border: 0.0625rem solid var(--gray-30);
  border-radius: var(--border-radius);
}

table.ca-stripes {
  & tr:nth-child(even) {
    background-color: var(--gray-background-30);
  }

  & > thead > tr {
    background-color: var(--gray-background-50);
  }
}

table.ca-hover-rows {
  & :not(thead) tr:hover {
    background-color: var(--primary-background-30);
  }
}
