/* stylelint-disable selector-combinator-allowed-list */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable csstools/use-nesting */
/* stylelint-disable selector-max-universal */
/* establish layer-order: last takes precedence */
@layer global, typogrqphy, layouts, utilities;
@layer global {
  * {
    box-sizing: border-box;
    margin: 0;
  }
  /* margin (page global) */
  main * + * {
    margin-block-start: var(--space-unit-x2);
  }
}
@layer typogrqphy {
  body {
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: var(--font-family), system-ui, -apple-system, "Roboto", "Helvetica Neue", sans-serif;
    font-size: clamp(1rem, var(--p-font-size), 5rem);
    letter-spacing: 0.02rem;
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  a {
    color: var(--link-color);
  }
  a:focus {
    color: var(--active-link-color);
  }
  /* --- Typography ---  */
  p,
  li,
  h2,
  h3,
  h4,
  h5,
  small,
  blockquote {
    max-width: var(--text-max-width);
  }
  h1 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h1);
    line-height: var(--h1-line-height);
  }
  h2 {
    font-weight: var(--h2-font-weight);
    font-size: var(--h2);
    line-height: var(--h2-line-height);
  }
  h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3);
    line-height: var(--h3-line-height);
  }
  h4 {
    font-weight: var(--h4-font-weight);
    font-size: var(--h4);
    line-height: var(--h4-line-height);
  }
  h5 {
    font-weight: var(--h5-font-weight);
    font-size: var(--h4-line-height);
  }
  p {
    line-height: var(--p-line-height);
  }
  h1 + p {
    font-size: calc(var(--lead-text) - 0.02rem);
    line-height: var(--lead-text-line-height);
  }
  small {
    font-weight: var(--small-text-font-weight);
    font-size: var(--small-text);
    line-height: var(--small-text-line-height);
  }
  blockquote {
    border-left: var(--gray-300) 4px solid;
    margin-left: 0;
    padding-left: var(--space-unit-x4);
  }
  li + li {
    margin-top: var(--space-unit-x4);
  }
}
@layer utilities {
  /* --- Utilities  --- */
  /* spacing */
  /* colors */
  /* borders */
  /* Accessibility */
  .visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
@layer layouts {
  /* --- Layouts --- */
  /* fixed layout with left sidebar */
  .container-fixed-width {
    max-width: var(--desktop-max-width);
    margin-right: auto;
    margin-left: auto;
  }
  [class*=container-left-sidebar] {
    display: flex;
    margin-top: 0;
    gap: var(--columns-gap);
    align-items: stretch;
    flex-wrap: wrap;
    padding-left: var(--space-unit-x2);
    padding-right: var(--space-unit-x2);
    --breakpoint-width: var(--breakpoint-width-medium);
  }
  [class*=container-left-sidebar] > :first-child {
    flex-basis: var(--sidebar-max-width);
    flex-grow: 1;
  }
  [class*=container-left-sidebar] > :last-child {
    flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
    flex-grow: var(--flex-grow-max);
  }
  .container-left-sidebar-breakpoint-large {
    --breakpoint-width: var(--breakpoint-width-large);
  }
  .container-left-sidebar-breakpoint-medium {
    --breakpoint-width: var(--breakpoint-width-medium);
  }
  .container-left-sidebar-breakpoint-small {
    --breakpoint-width: var(--breakpoint-width-small);
  }
  /* container with equal columns */
  [class*=container-equal-columns] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--columns-gap);
    padding-left: var(--space-unit-x2);
    padding-right: var(--space-unit-x2);
    --breakpoint-width: var(--breakpoint-width-medium);
  }
  [class*=container-equal-columns] > * {
    flex-grow: 1;
    flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
    margin-block-start: 0;
  }
  [class*=container-equal-columns] > :nth-last-child(n+5),
  [class*=container-equal-columns] > :nth-last-child(n+5) ~ * {
    flex-basis: 100%;
  }
  .container-equal-columns-breakpoint-large {
    --breakpoint-width: var(--breakpoint-width-large);
  }
  .container-equal-columns-breakpoint-medium {
    --breakpoint-width: var(--breakpoint-width-medium);
  }
  .container-equal-columns-breakpoint-small {
    --breakpoint-width: var(--breakpoint-width-small);
  }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--main-dark);
    --text-color: var(--text-white);
    --link-color: var(--hyperlink-dark);
    --active-link-color: var(--hyperlink-activated-dark);
  }
}
/* --- Site header --- */
/* stylelint-disable csstools/use-nesting */
/* stylelint-disable selector-combinator-allowed-list */
@layer default, theme, desktop, states;
@layer default {
  :root {
    --search-icon: var(--search-icon-light);
    --cagov-icon: var(--cagov-icon-light);
    --login-icon: var(--login-icon-light);
    --header-bg: var(--banner-dark);
    --hamburger-bg: var(--white);
    --header-link-color: var(--white);
    --search-border-color: var(--navigation-submenu-light);
    --search-placeholder-color: var(--navigation-submenu-light);
    --search-input-color: var(--white);
    --search-submit-button-color: var(--navigation-submenu-light);
    --search-input-outline: var(--white);
  }
  header {
    position: relative;
    top: 0;
    /* hamburger */
    /* site logo */
    /* site header utility links */
  }
  header .site-header {
    background-color: var(--header-bg);
  }
  header a {
    color: var(--header-link-color);
  }
  header .hamburger,
  header .hamburger::before,
  header .hamburger::after {
    background-color: var(--hamburger-bg);
  }
  header .site-header-container {
    max-width: var(--desktop-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--space-unit-x2);
    display: flex;
    align-items: center;
    gap: var(--space-unit-x4);
    overflow: visible;
  }
  header .main-navigation-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 var(--space-unit-1) 0 var(--space-unit-1);
  }
  header .main-navigation-button .hamburger {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transition: all 200ms ease;
    position: relative;
  }
  header .main-navigation-button .hamburger::before, header .main-navigation-button .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 200ms ease;
  }
  header .main-navigation-button .hamburger::before {
    transform: translateY(-7px);
  }
  header .main-navigation-button .hamburger::after {
    transform: translateY(7px);
  }
  header a.site-logo {
    display: flex;
    align-items: flex-start;
    gap: var(--space-unit-x4);
    text-decoration: none;
  }
  header .logo-image {
    max-width: 100%;
    min-height: auto;
    height: clamp(4.5rem, 1.9286rem + 3.8095vw, 6.5rem);
    object-fit: contain;
    transform: translateY(var(--space-unit-x2));
    display: none;
  }
  header .site-branding-text {
    padding-top: var(--space-unit-x2);
    padding-bottom: var(--space-unit-x2);
  }
  header .site-branding-text .state {
    font-size: clamp(1.5rem, 1.1786rem + 0.4762vw, 1.75rem);
    font-weight: 600;
    display: block;
    letter-spacing: 1px;
    margin-top: clamp(0rem, -1.2857rem + 1.9048vw, 1rem);
  }
  header .site-branding-text .department {
    font-size: clamp(1rem, 0.6786rem + 0.4762vw, 1.25rem);
    font-weight: 400;
    display: block;
    letter-spacing: 1px;
    margin-top: clamp(0.5rem, -0.4643rem + 1.4286vw, 1.25rem);
  }
  header .site-header-utility {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    gap: calc(var(--space-unit-x2) / 1.5);
  }
  header .search-container-desktop {
    border: 1px solid var(--search-border-color);
    border-radius: var(--rounded-buttons);
    display: none;
  }
  header .search-container-desktop form {
    display: flex;
  }
  header .search-container-desktop form input.search-input {
    outline: 2px solid var(--search-input-outline); /* Needed for Safari */
    outline-offset: -4px;
    border-top-left-radius: var(--rounded-buttons);
    border-bottom-left-radius: var(--rounded-buttons);
    border: 0; /* Needed for Safari */
    width: clamp(10rem, -6.7143rem + 24.7619vw, 23rem);
    height: var(--space-unit-x4);
    padding-left: 3rem;
    padding-right: 1rem;
    background: transparent var(--search-icon) no-repeat;
    background-size: 1.125rem 1.125rem;
    background-position: 1rem center;
    color: var(--search-input-color);
    transition: width 300ms ease, padding 300ms ease;
    /* shrink into a search icon */
  }
  header .search-container-desktop form input.search-input::placeholder {
    color: var(--search-placeholder-color);
    opacity: 1; /* Firefox */
  }
  header .search-container-desktop form input.search-input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--search-placeholder-color);
  }
  header .search-container-desktop form input.search-input:not(:focus) {
    outline: none;
    width: var(--space-unit-x4);
    padding-left: 0;
    background: transparent var(--search-icon) no-repeat center/1.125rem;
    cursor: pointer;
    color: transparent;
  }
  header .search-container-desktop form input.search-input:not(:focus)::placeholder {
    visibility: hidden; /* Hide the search placeholder as an icon */
  }
  header .search-container-desktop form input.search-input:not(:focus)::-webkit-search-cancel-button {
    display: none;
  }
  header .search-container-desktop form button.search-submit {
    width: 2rem;
    height: 2rem;
    border: none;
    border-top-right-radius: var(--rounded-buttons);
    border-bottom-right-radius: var(--rounded-buttons);
    background-color: var(--search-submit-button-color);
    background-image: var(--search-icon);
    background-repeat: no-repeat;
    background-size: 1.125rem 1.125rem;
    background-position: center;
    cursor: pointer;
  }
  header .search-container-desktop form:not(:focus-within) button.search-submit {
    display: none;
  }
  header button.cagov-toggle {
    border: none;
    background: transparent;
    background-image: var(--cagov-icon);
    background-repeat: no-repeat;
    background-size: clamp(2rem, 0.7143rem + 1.9048vw, 3rem) clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
    background-position: center;
    height: clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
    width: clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
    margin-left: auto;
    margin-inline-start: clamp(0rem, -11.5714rem + 17.1429vw, 9rem);
    cursor: pointer;
  }
  header .login-button {
    background-image: var(--login-icon-white);
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: center;
    padding: var(--space-unit-x2);
    display: block;
  }
  header span.login-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
@layer states {
  header .main-navigation-button.open .hamburger {
    transform: rotate(45deg);
  }
  header .main-navigation-button.open .hamburger::before {
    transform: rotate(90deg) translateX(0);
  }
  header .main-navigation-button.open .hamburger::after {
    transform: rotate(90deg) translateX(0);
  }
  header .logo-image.no-overflow {
    transform: translateY(0);
    padding: var(--space-unit-1) 0;
  }
}
@layer desktop {
  /* Site header desktop styles */
  @media (width >= 1080px) {
    header {
      position: sticky;
      /* search */
    }
    header .main-navigation-button {
      display: none;
    }
    header .logo-image {
      display: block;
    }
    header .site-header-utility {
      gap: var(--space-unit-x4);
    }
    header .search-container-desktop {
      display: block;
    }
    header .login-button {
      background-color: var(--action-secondary);
      border-radius: var(--rounded-buttons);
      padding: var(--space-unit-1) calc(var(--space-unit-1) + 30 * (100vw - 48rem) / 1200);
      text-decoration: none;
      color: var(--text-dark);
      font-size: 1.125rem;
    }
    header .login-button span.login-text {
      position: relative;
      overflow: visible;
      clip: unset;
      width: unset;
      height: unset;
      margin: unset;
    }
    header .login-button,
    header .theme-light .login-button {
      background-image: none;
    }
    header .login-button:hover,
    header .login-button:focus {
      color: var(--black);
      background-color: var(--action-secondary-hover);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    header .login-icon {
      display: none;
    }
  }
}
@layer theme {
  /* theme light header */
  header .theme-light {
    background-color: var(--white);
  }
  header .theme-light a {
    color: var(--text-dark);
  }
  header .theme-light .hamburger,
  header .theme-light .hamburger::before,
  header .theme-light .hamburger::after {
    background-color: var(--banner-dark);
  }
  header .theme-light .search-container-desktop {
    border-color: var(--text-dark);
  }
  header .theme-light .search-toggle {
    background-image: var(--search-icon-dark);
  }
  header .theme-light .login-button {
    background-image: var(--login-icon-dark);
  }
  header .theme-light button.cagov-toggle {
    background-image: var(--cagov-icon-dark);
  }
}
