ca-burger {
  z-index: 4;
  display: block;
}

/* Fix the burger after user has scrolled down the page. */
ca-burger[position="scrolled"] {
  & > :is(a, button) {
    position: fixed;
    top: .5rem;
    left: 1rem;
  }
}

@keyframes reveal-scrolled-burger {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  16% {
    opacity: 0.8;
    transform: translateY(0.5rem);
  }

  28% {
    opacity: 1;
    transform: translateY(-0.25rem);
  }

  44% {
    transform: translateY(0.1rem);
  }

  59% {
    transform: translateY(-0.05rem);
  }

  88% {
    transform: translateY(0.005rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Only add animation if user is okay with it. */
@media (prefers-reduced-motion: no-preference) {
  ca-burger[position="scrolled"] > :is(a, button) {
    opacity: 0;
    animation: reveal-scrolled-burger ease-out 0.8s forwards;
  }
}

/* Default (Eureka), small desktop */
@media screen and (min-width: 1024px) {
  /* Hide the burger */
  ca-burger {
    display: none;
  }
}
