/*
content.css

Provides common rules for user content. 
For now, this is limited to <main> and <footer>.
*/

/* Variables */
/* Globally configurable max-widths. */
:root {
  --content-width-small: 45.5rem;
  --content-width-medium: 69rem;
  --content-width-large: 92.5rem;
  --content-width-full: unset;
}
/* Default indents. */
ca-layout {
  --outdent: min(10vw, 9.5rem);
  --indent: min(11vw, 10.5rem);
}
/* Slightly different for top-nav layouts. */
ca-layout[format|="top"] {
  --outdent: min(12vw, 11.5rem);
  --indent: min(13vw, 12.5rem);
}

/* Utility classes and defaults for constraining content. */
.content-width-medium,
:where(ca-layout > :is(main, footer) > *) {
  max-width: var(--content-width-medium);
}
.content-width-small,
:where(ca-layout > :is(main, footer, section) > :is(p, ul, ol)) {
  max-width: var(--content-width-small);
}
.content-width-large,
:where(
    ca-layout
      > :is(main, footer)
      > :is(figure, table, img, picture, video, canvas, code, form, hr)
  ) {
  max-width: var(--content-width-large);
}
.content-width-full,
:where(ca-layout > :is(main, footer) > :is(ul.grid, ca-grid)) {
  max-width: var(--content-width-full);
}

/* Auto-apply side margin to all top-level children of main. */
:where(ca-layout > :is(main, footer) > *) {
  margin-inline: 1rem;
}

/* Manual indents, for creating custom blocks. But mostly inert on mobile here, by default. */
.nodent {
  margin-inline: 0;
}
.outdent,
.indent {
  margin-inline: 1rem;
}

@media screen and (min-width: 1024px) {
  /* Auto-apply the indent to all first-level main and footer content. */
  :where(ca-layout > :is(main, footer) > *) {
    margin-inline-start: var(--indent);
    margin-inline-end: 2rem;
  }

  /* For select first-level content in main, auto-apply the outdent. Only main, not footer. */
  :where(
      ca-layout
        > main
        > :is(
          figure,
          table,
          img,
          picture,
          video,
          canvas,
          code,
          ul.grid,
          ca-grid
        )
    ) {
    margin-inline-start: var(--outdent);
  }

  /* Class-based overrides */
  .outdent {
    margin-inline: var(--outdent) 2rem;
  }
  .indent {
    margin-inline: var(--indent) 2rem;
  }
}
