/*
content.css

Provides common rules for user content. 
For now, this is limited to <main> and <footer>.
*/

/* Variables */
/* Globally configurable max-widths. */
:root {
  --content-width-small: 45.5rem;
  --content-width-medium: 69rem;
  --content-width-large: 92.5rem;
  --content-width-full: unset;
}
/* Default indents. */
ca-layout {
  --outdent: min(10vw, 9.5rem); /* An emphasized left indent that sticks out a bit. */
  --indent: min(11vw, 10.5rem); /* A standard left indent for most content. */
  --enddent: 2rem; /* The right-side gutter. */
  --mindent: 1rem; /* The small-size margin on both sides for mobile. */
}
/* Slightly different for top-nav layouts. */
ca-layout[format|="top"] {
  --outdent: min(12vw, 11.5rem);
  --indent: min(13vw, 12.5rem);
}

/* Utility classes and defaults for constraining content. */
.content-width-small,
.width-small {
  max-inline-size: var(--content-width-small);
}
.content-width-medium,
.width-medium {
  max-inline-size: var(--content-width-medium);
}
.content-width-large,
.width-large {
  max-inline-size: var(--content-width-large);
}
.content-width-full,
.width-full {
  max-inline-size: var(--content-width-full);
}
.width-small,
.width-medium,
.width-large,
.width-full {
  inline-size: calc(100% - 2 * var(--mindent));
}
.content-width-reset {
  max-inline-size: none;
}

/* Auto-apply side margin to all top-level children of main. */
:where(ca-layout > :is(main, footer) > *) {
  margin-inline: var(--mindent);
}

/* Manual indents, for creating custom blocks. But mostly inert on mobile here, by default. */
.nodent {
  margin-inline: 0;
}
.outdent,
.indent {
  margin-inline: var(--mindent);
}

@media screen and (min-width: 1024px) {
  .content {
    margin-inline: 0;
  }

  /* Auto-apply the indent to all first-level main and footer content. */
  :where(ca-layout > :is(main, footer) > *),
  .content > * {
    margin-inline: var(--indent) var(--enddent);
  }

  /* For select first-level content in main, auto-apply the outdent. Only main, not footer. */
  :where(
      ca-layout
        > main
        > :is(
          figure,
          table,
          img,
          picture,
          video,
          canvas,
          code,
          ul.grid,
          ca-grid,
          ca-code-demo
        )
    ),
  .content
    > :is(
      figure,
      table,
      img,
      picture,
      video,
      canvas,
      code,
      ul.grid,
      ca-grid,
      ca-code-demo
    ) {
    margin-inline-start: var(--outdent);
  }

  /* Class-based overrides */
  .outdent {
    margin-inline: var(--outdent) var(--enddent);
  }
  .indent {
    margin-inline: var(--indent) var(--enddent);
  }
}
