ca-layout > footer {
  z-index: 1;
  container: footer / inline-size;
  padding-block: 4rem 3rem;
  padding-inline: 0;
  background: var(--primary-background-10);
  border-block-start: 0.0625rem solid var(--gray-40);

  & a {
    color: var(--primary-text);
    text-decoration: none;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
  }

  & li {
    padding: 0;
    margin: 0;
    font-size: var(--text-size-0);
  }
}

ca-box[format="site-links"] {
  margin-block-end: 4rem;

  & ca-grid {
    --min-cell-inline-size: 15rem;

    & section {
      padding: 0;
    }

    /* Support all heading levels for footer sections, just in case. */
    & :is(h2, h3, h4, h5, h6) {
      font-size: var(--text-size-1);
      line-height: normal;
      font-weight: 600;
      margin-block: 0 1rem;
    }
  }

  & ca-org {
    display: block;
    inline-size: max(16rem, 50%);
  }
}

ca-flex[format="footer-end"] {
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  column-gap: 2rem;
  row-gap: 1rem;
}

ca-flex[format="copyright-stamp"] {
  flex-direction: column;
  flex-basis: 100%;
  row-gap: 1rem;
  column-gap: 1rem;

  & p {
    margin: 0;
    font-size: var(--text-size-1);
    line-height: normal;
  }

  & > *:last-child {
    font-size: var(--text-size-0);
  }
}

ca-flex[format="footer-utility"] {
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1.5rem;

  & > a {
    justify-self: end;
  }
}

@container footer (width > 56rem) {
  ca-flex[format="copyright-stamp"],
  ca-flex[format="footer-utility"] {
    flex-direction: row;
  }

  ca-flex[format="copyright-stamp"] > *:last-child {
    margin-inline-start: auto; /* Push copyright line to edge. */
  }
}
