/* 
Layout header 
*/

ca-layout > header {
  padding: 1.5rem 1rem;
  background-color: var(--primary-background-20);
  z-index: 3;
}

@media screen and (min-width: 1024px) {
  /* Default (Eureka), small desktop */
  ca-layout:not([format|="top"]) > header {
    padding: 1.5rem 2rem 0 2rem;
    border-inline-end: 0.0625rem solid var(--gray-40);
  }

  /* Horizon, small desktop */
  ca-layout[format|="top"] > header {
    padding: 1rem 2rem;
  }
}
