/* General CSS rules */
ca-layout {
  position: relative;
  min-block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Layout grid area definitions */
ca-layout {
  /* Required */
  & > :is(header, [slot="header"]) {
    grid-area: header;
  }

  /* Required */
  & > :is(main, [slot="main"]) {
    grid-area: main;
  }

  /* Optional */
  & > :is(footer, [slot="footer"]) {
    grid-area: footer;
  }

  /* For hiding elements with the dev tool. */
  & > *[hidden] {
    display: none !important;
  }
}

/* Sidebar desktop */
@media screen and (min-width: 1024px) {
  ca-layout:not([format|="top"]) {
    grid-template-columns: 16rem 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header main"
      "header footer";
  }
}
