ca-layout > main {
  container: main / inline-size;
  z-index: 1;
}

:where(ca-layout > main) {
  padding-block: 5rem;
}

/* Skyline, small desktop */
@media screen and (min-width: 1024px) {
  ca-layout[format|="top"] > main {
    padding-block: 2rem;
  }

  ca-layout[format="top-lite"] > main {
    border-block-start: 0.0625rem solid var(--gray-40);
  }
}
