menu {
  --nested: 0;

  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin: 0;
  padding: 0;
  gap: .5rem;
  list-style-type: none;

  & > li {
    margin: 0;
    padding: 0;
  }

  & menu {
    --nested: 1;
  }
  & menu menu {
    --nested: 2;
  }
  & menu menu menu {
    --nested: 3;
  }
  & menu menu menu menu {
    --nested: 4;
  }
}

:is(menu, [slot="menu"]) ca-menu button {
  all: unset;
  cursor: pointer;
}

menu a,
:is(menu, [slot="menu"]) ca-menu button {
  display: flex;
  align-items: center;
  color: var(--primary-110);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: .75rem 1rem .75rem 0;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  border-radius: var(--border-radius);

  & > ca-icon[name] {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    margin-inline-start: auto;
    flex: 0 0 .75rem;
  }

  /* Create the little accent block at the beginning of the link. */
  /* It's empty at rest, but still occupies space. */
  &::before {
    content: " ";
    display: block;
    inline-size: .125rem;
    block-size: 1rem;
    margin-inline-end: calc(0.875rem + (var(--nested) * 1rem));
  }

  /* When needed, apply background color to bring it to life. */
  &:is(:hover, :active, .active)::before {
    background-color: var(--primary-accent);
  }

  &:hover {
    background-color: var(--primary-background-40);
  }

  /* In-click state */
  &:active,
  &.active {
    color: var(--primary-120);
    background-color: var(--primary-background-50);
  }

  &:focus-visible {
    border: 2px solid var(--primary-10);
    outline: 2px solid var(--primary-120);
  }
}

menu a:visited {
  color: var(--primary-110);
}

menu menu a,
:is(menu, [slot="menu"] menu) menu ca-menu button {
  font-weight: 400;
}

ca-menu {
  display: inline-block;

  & > menu {
    display: none;
  }
  &[open] > menu {
    margin-block-start: .5rem;
    display: flex;
  }

  & > button > ca-icon[name] {
    transition: transform 0.4s ease;
  }

  &[open] {
    & > button > ca-icon[name] {
      transform: rotate(-180deg);
    }
  }
}

[slot="menu"] ca-menu {
  display: block;
}

/* In side-nav layout, we need to expand to fill the sidebar, so the arrows flush right. */
ca-layout:not([format|="top"]) [slot="menu"] ca-menu {
  display: block;
}

@media screen and (min-width: 1024px) {
  ca-layout[format|="top"] [slot="menu"] {
    display: flex;
    align-items: center;

    /* In top-nav layouts, we need the top-level menu to be horizontal. */
    & menu {
      flex-direction: row;
    }
    /* But then we need the dropdown to be vertical again. */
    & menu menu {
      flex-direction: column;
      min-inline-size: 16rem;
      padding: 1rem;
    }

    & menu a,
    & menu ca-menu button {
      display: inline-flex;
      inline-size: auto;
      flex-wrap: wrap;
      padding: .75rem 1rem 0 1rem;

      & > ca-icon[name] {
        inline-size: 1.5rem;
        block-size: 1.5rem;
        margin-inline-start: 1rem;
        flex: 0 0 .75rem;
      }

      &::before {
        all: unset;
      }
      &::after {
        content: " ";
        display: block;
        inline-size: 100%;
        block-size: .125rem;
        margin-block-start: .875rem;
      }

      &:is(:hover, :active, .active)::after {
        background-color: var(--primary-highlight-active);
      }

      &:hover {
        background-color: unset;
      }

      /* In-click state */
      &:active,
      &.active {
        color: var(--primary-120);
        background-color: unset;
      }

      &:focus-visible {
        border: 2px solid var(--primary-10);
        outline: 2px solid var(--primary-120);
      }
    }

    & menu menu a,
    & menu menu ca-menu button {
      padding-block-end: 1rem;

      &::after {
        margin-block-start: 0.125rem;
      }
    }

    ca-menu {
      position: relative;

      &[open] > menu {
        position: absolute;
        inset-block-start: 100%;
        inset-inline-start: 0;
        background: var(--primary-background-20);
        box-shadow: var(--primary-shadow-2);

        & menu {
          position: unset;
          background: unset;
          box-shadow: unset;
          padding-block: 0;
          min-inline-size: unset;
        }
      }
    }
  }
}
