@media screen and (min-width: 1024px) {
  /* Horizon, small desktop */
  ca-layout[format="horizon"] > ca-page-bar {
    padding: 0 1rem 0 0;
    border-block-start: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      transparent,
      var(--primary-accent),
      transparent
    );
  }

  /* Skyline, small desktop */
  ca-layout[format="skyline"] > ca-page-bar {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
  }
}

/* Go ahead and display content-nav if JS disabled. */
ca-layout:has(ca-site-menu:not(:defined)) > ca-page-bar {
  display: block;

  /* Without JS, display the nested lists too. */
  & ul ul {
    display: flex;
  }
}

ca-nav-menu {
  block-size: 100%;
  display: flex;

  & ul {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* Hide nested lists */
  & ul ul {
    display: none;
    margin-inline-start: 1rem;
  }

  & li {
    margin: 0;
  }

  /* Button and link styles */
  & button {
    all: unset;
    cursor: pointer;
  }
  & a,
  & button {
    display: grid;
    grid-template-columns: .125rem 1fr fit-content(1.5rem);
    grid-template-rows: auto;
    align-items: center;
    column-gap: .875rem;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    font-size: var(--text-size-1);
    font-weight: 400;
    padding: .75rem 1rem .75rem 0;
    text-decoration: none;
    color: var(--primary-110);
    border-radius: .25rem;

    /* Create the little accent block at the beginning of the link. */
    /* It's empty at rest, but still occupies space. */
    &::before {
      content: "";
      display: block;
      width: .125rem;
      height: 100%;
    }
    /* When needed, apply background color to bring it to life. */
    &:is(:hover, :active, .active)::before {
      background-color: var(--primary-accent);
      clip-path: inset(15% 0); /* Clip the size of the block slightly. */
    }

    &:hover {
      background-color: var(--primary-background-40);
    }

    /* In-click state */
    &:active {
      background-color: var(--primary-background-50);
      border: 1px solid var(--primary-90);
    }

    /* Defined as "active" link in UI, with class or data attribute. */
    &.active {
      color: var(--primary-120);
      font-weight: 600;
      background-color: var(--primary-background-50);
      z-index: 0;

      &:hover {
        background-color: var(--primary-background-60);
      }
    }

    &:focus-visible {
      background-color: var(--primary-background-20);
      border: 2px solid var(--primary-10);
      outline: 2px solid var(--primary-120);
    }
  }

  & ca-icon {
    block-size: 1.5rem;
    inline-size: 1.5rem;
    margin-inline-start: auto;
    flex: 0 0 1.5rem;
    transition: transform 0.4s ease;

    &[name="close"] {
      transform: rotate(180deg);
    }
  }
}

/* Default (Eureka), small desktop */
@media screen and (min-width: 1024px) {
  ca-layout:not([format="horizon"]):not([format="skyline"]) {
    /* The peeking drawer that slightly pops out when hovering over a nested nav item. */
    & ca-nav-menu {
      &:not([expanded]):has(> button:hover)::before {
        content: "";
        z-index: 3;
        position: absolute;
        block-size: 100%;
        inline-size: 1rem;
        inset-block-start: 0;
        inset-inline-start: 15rem;
        background-color: var(--primary-background-30);
        box-shadow: .25rem 0 .25rem 0 rgba(0, 0, 0, 0.05);
      }
      /* We need to lock the upper shadow in place, so it doesn't dance with the animation. */
      &[expanded]::after,
      &:not([expanded]):has(> button:hover)::after {
        content: "";
        z-index: 4;
        position: absolute;
        block-size: 100%;
        inline-size: .5rem;
        inset-block-start: 0;
        inset-inline-start: 15rem;
        background-color: var(--primary-background-30);
        box-shadow: .25rem 0 .25rem 0 rgba(0, 0, 0, 0.05) inset;
      }
      &[expanded]::after {
        inline-size: 1rem;
      }
      &[expanded] > ul {
        position: absolute;
        margin: 0;
        inset-block-start: 0;
        inset-inline-start: 15rem;
        display: flex;
        padding: 3.5rem 1rem 1rem 1rem;
        inline-size: 15rem;
        block-size: 100%;
        z-index: 1;
        background-color: var(--primary-background-30);
        box-shadow: .25rem 0 .25rem 0 rgba(0, 0, 0, 0.05);
      }
    }
  }

  ca-layout[format="horizon"],
  ca-layout[format="skyline"] {
    & ca-nav-menu {
      position: relative;

      & ul {
        flex-direction: row;
        column-gap: 2rem;
      }

      & button > ca-icon[glyph="right"] {
        transform: rotate(90deg);
      }

      & a,
      & button {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1rem;
        padding: 1rem 1rem 0 1rem;
        border-radius: unset;

        &:has(ca-icon) {
          grid-template-columns: 1fr auto;
        }

        /* Remove the accent block on left. */
        &::before,
        &:is(:hover, :active, .active)::before {
          all: unset;
        }

        /* Add the accent block below. */
        &::after {
          display: block;
          content: "";
          block-size: 0.0625rem;
          inline-size: 100%;
          align-self: end;
        }
        &:not(:active):is(:hover, :active)::after {
          background-color: var(--primary-accent);
        }
        &:has(ca-icon)::after {
          grid-column: span 2;
        }

        &:is(:hover, .active) {
          background-color: unset;
        }

        /* In-click state */
        &:is(:active, .active) {
          font-weight: 600;
          color: var(--primary-120);
        }

        &:active {
          border: 1px solid var(--primary-accent);
        }

        /* Defined as "active" link in UI, with class or data attribute. */
        &.active:hover {
          color: var(--primary-110);
        }
      }

      &[expanded] > ul {
        display: inline-flex;
        flex-direction: column;
        min-inline-size: 15rem;
        padding: 1rem;
        background-color: var(--primary-background-20);
        border-radius: .25rem;
        border: 1px solid var(--primary-background-60);
        position: absolute;
        margin: 0;
        inline-size: auto;
        inset-block-start: 120%;
        inset-inline-start: 0;
        z-index: 1;
      }
    }
  }

  /* Horizon dropdown and Skyline top-level */
  ca-layout[format="skyline"] ca-nav-menu,
  ca-layout[format="horizon"] ca-nav-menu[expanded] > ul {
    & button {
      display: none;
    }

    & a {
      display: inline-block;
      padding: 1rem;

      &::after,
      &:is(:hover, :active)::after {
        all: unset;
      }

      /* Remove the accent block on bottom. */

      &:is(:active, :hover, .active) {
        text-decoration: underline var(--primary-accent) solid;
        text-underline-offset: .5rem;
      }

      /* Defined as "active" link in UI, with class or data attribute. */
      &.active {
        color: var(--primary-120);
        font-weight: 600;
      }
    }
  }

  ca-layout[format="skyline"] {
    & ca-nav-menu {
      & ul {
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
      }

      & ul ul,
      li:has(button) {
        display: none;
      }
    }
  }
}

/* 
 * Animations 
 */

@keyframes reveal-subnav-drawer-eureka {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pull-subnav-drawer-eureka {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-pulldown-menu {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animations for desktop. */
@media screen and (min-width: 1024px) and (
    prefers-reduced-motion: no-preference
  ) {
  ca-layout:not([format="horizon"]):not([format="skyline"]) {
    & ca-nav-menu:not([expanded]):has(> button:hover)::before {
      opacity: 0;
      animation: reveal-subnav-drawer-eureka ease-out 0.2s forwards;
    }
    & ca-nav-menu[expanded] > ul {
      opacity: 0;
      animation: pull-subnav-drawer-eureka ease-out 0.2s forwards;
    }
  }
  ca-layout[format="horizon"] {
    & ca-nav-menu[expanded] > ul {
      opacity: 0;
      animation: reveal-pulldown-menu ease-out 0.2s forwards;
    }
  }
}
