ca-page-bar {
  display: none; /* Hide by default on mobile. */
  padding: 1.5rem 1rem 1rem 1rem;
  z-index: 3;
  background-color: var(--primary-background-20);
}

@media screen and (min-width: 1024px) {
  /* Show the full nav on desktop. */
  ca-page-bar {
    display: block;
  }

  ca-layout:not([format|="top"]) > ca-page-bar {
    border-inline-end: 0.0625rem solid var(--gray-40);
  }

  /* Horizon, small desktop */
  ca-layout[format="top-full"] > ca-page-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 0;
    border-block-start: 0.0625rem solid var(--gray-40);
  }

  /* Skyline, small desktop */
  ca-layout[format="top-lite"] > ca-page-bar {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
  }
}

/* Go ahead and display content-nav if JS disabled. */
ca-layout:has(ca-site-menu:not(:defined)) > ca-page-bar {
  display: block;

  /* Without JS, display the nested lists too. */
  & ul ul {
    display: flex;
  }
}
