ca-priority-bar {
  padding: .5rem 1rem;
  background-color: var(--primary-background-20);
  display: flex;
  align-items: center;
  justify-content: end;
  inline-size: 100%;
  block-size: 100%;
  z-index: 3;
}
