ca-site-menu {
  z-index: 4;
  display: flex;
  align-items: center;
  background-color: var(--primary-background-20);

  & > :is(a, button) {
    all: unset;
    color: var(--primary-100);
    background-color: var(--primary-background-20);
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      color: var(--primary-120);
      background-color: var(--primary-background-50);
    }
  }

  & ca-icon {
    block-size: auto;
    inline-size: 2.5rem;
  }

  /* Hide the X symbol in the burger icon. */
  & use[data-close] {
    display: none;
  }
}

/* Fix the burger after user has scrolled down the page. */
ca-site-menu[position="scrolled"] {
  & > :is(a, button) {
    position: fixed;
    block-size: 3rem;
    inline-size: 3rem;
    top: 1rem;
    left: 1rem;
    padding: .5rem;
    background-color: var(--primary-110);
    color: var(--primary-background-10);
    box-shadow: .25rem .25rem .25rem 0px rgba(0, 0, 0, 0.25);

    &:hover {
      color: var(--primary-background-40);
      background-color: var(--primary-120);
    }
  }

  & ca-icon {
    block-size: 100%;
    inline-size: auto;
  }
}

/* Slide the burger menu in from top, after scroll.
@keyframes reveal-scrolled-burger {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@keyframes reveal-scrolled-burger {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  16% {
    opacity: 0.8;
    transform: translateY(0.5rem);
  }

  28% {
    opacity: 1;
    transform: translateY(-0.25rem);
  }

  44% {
    transform: translateY(0.1rem);
  }

  59% {
    transform: translateY(-0.05rem);
  }

  88% {
    transform: translateY(0.005rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Only add animation if user is okay with it. */
@media (prefers-reduced-motion: no-preference) {
  ca-site-menu[position="scrolled"] > :is(a, button) {
    opacity: 0;
    animation: reveal-scrolled-burger ease-out 0.8s forwards;
  }
}

/* Default (Eureka), small desktop */
@media screen and (min-width: 1024px) {
  /* Hide the burger */
  ca-site-menu {
    display: none;
  }
}
