ca-utility-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: .5rem 1rem;
  background-color: var(--primary-background-20);

  & > nav > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;

    & > li {
      margin: 0;
    }
  }
}

/* Small desktop */
@media screen and (min-width: 1024px) {
  ca-utility-bar {
    background-color: unset;
  }

  ca-layout {
    &[format="horizon"],
    &[format="skyline"] {
      & > ca-utility-bar {
        background-color: var(--primary-background-20);
      }
    }
  }
}
