{% extends "blank-page.njk" %}

{% block content %}

<ca-layout format=""> 
	<header>
		<ca-burger>
			<a href="#content-nav" title="Menu" class="button button-burger">
				<ca-pic icon="pancakes-menu"></ca-pic>
				<span class="visually-hidden">Menu</span>
			</a>
		</ca-burger>

		<ca-org>
      <a href="/pages">
        <ca-pic slot="img" emblem="ca.gov" aria-label="ca.gov"></ca-pic>
        <span slot="cal">California</span>
        <span slot="dept">Design System</span>
      </a>
    </ca-org>

		<search slot="priority">
			<form>
				<label for="site-search" class="visually-hidden">Search this site</label>
				<input type="search" id="site-search" placeholder="Search" />
				<button type="submit">
					<ca-pic icon="search"></ca-pic>
					<span class="visually-hidden">Search</span>
				</button>
			</form>
		</search>

		<nav id="utility-nav" slot="utility" aria-label="Utility navigation">
			<ul>
				<li>
					<ca-layout-toggle></ca-layout-toggle>
				</li>
        <li>
          <ca-color-scheme-toggle>
            <button class="button button-utility">
              <ca-pic icon="light-mode"></ca-pic>
              <span class="visually-hidden">Switch between light and dark modes</span>
            </button>
          </ca-color-scheme-toggle>
        </li>
        <li>
          <a href="#" title="Login" class="button button-utility">
            <ca-pic icon="account-circle"></ca-pic>
            <span class="visually-hidden">Login</span>
          </a>
        </li>
			</ul>
		</nav>

		<nav id="content-nav" slot="menu" aria-label="Content navigation">
			<menu>
				<li><a href="/pages/get-started/index">Get started</a></li>
				<li>
					<ca-menu>
						<a slot="summary" href="/pages/digital-design/index">Digital design</a>
						<menu>
							<li><a href="/pages/digital-design/digital-design-principles">Digital design principles</a></li>
							<li><a href="/pages/digital-design/typography">Typography</a></li>
							<li><a href="/pages/digital-design/color">Color</a></li>
							<li><a href="/pages/digital-design/layouts">Layouts</a></li>
							<li><a href="/pages/digital-design/inclusivity">Inclusivity</a></li>
							<li><a href="/pages/digital-design/ui-kit">UI-kit</a></li>
						</menu>
					</ca-menu>
				</li>
				<li>
					<ca-menu>
						<a slot="summary" href="/pages/development/index">Development</a>
						<menu>
							<li><a href="/pages/development/environment-setup">Environment setup</a></li>
							<li><a href="/pages/development/base-code">Base code</a></li>
							<li><a href="/pages/development/theming">Theming</a></li>
							<li><a href="/pages/development/css-utilities">CSS utilities</a></li>
							<!--<li><a href="/pages/development/development-checklist">Devleopment checklists</a></li>-->
							<li><a href="/pages/development/release-and-installation">Releases and installation</a></li>
						</menu>
					</ca-menu>
				</li>
				<li>
					<ca-menu>
						<a slot="summary" href="/pages/building-blocks/index">Building blocks</a>
						<menu>
							<li><a href="/pages/building-blocks/ca-grid">CA-grid</a></li>
							<li><a href="/pages/building-blocks/ca-flex">CA-flex</a></li>
							<li><a href="/pages/building-blocks/header-navigation">Header and navigation</a></li>
							<li><a href="/pages/building-blocks/cards">Cards</a></li>
							<li><a href="/pages/building-blocks/tables">Tables</a></li>
							<!--<li><a href="/pages/building-blocks/alerts">Alerts</a></li>-->
							<li><a href="/pages/building-blocks/footer">Footer</a></li>
						</menu>
					</ca-menu>
				</li>
				<li><a href="/pages/building-blocks/index">Showcase</a></li>
			</menu>
		</nav>
	</header>

	<main>
    {{ content | safe }} 
  </main>

	<footer>
    <ca-box columns="5" gap="6" size="large" format="site-links">
      <ca-column span="2">
        <ca-org>
          <a href="/">
            <ca-pic slot="img" emblem="ca.gov" aria-label="ca.gov"></ca-pic>
            <span slot="cal">California</span>
            <span slot="dept">Department Website Long Name</span>
          </a>
        </ca-org>
      </ca-column>

      <ca-grid class="span-3" gap="6">
        <section>
          <h2>Footer column heading</h2>
          <ul>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
          </ul>
        </section>
        <section>
          <h2>Footer column heading</h2>
          <ul>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
          </ul>
        </section>
        <section>
          <h2>Footer column heading</h2>
          <ul>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
          </ul>
        </section>
      </ca-grid>
    </ca-box>

    <hr>

    <ul class="flex flex-row flex-wrap gap-2">
      <li class="flex-basis-full">
        <a href="#">Website Accessibility Certification</a>
      </li>
      <li>
        <a href="#">Conditions of use</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Accessibility</a>
      </li>
      <li>
        <a href="#">Sitemap</a>
      </li>
    </ul>

    <ul class="flex flex-row gap-2 margin-y-6">
      <li>
        <a href="#" class="button button-social">
          <ca-pic icon="mail"></ca-pic>
          <span class="visually-hidden">Email</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-pic icon="facebook"></ca-pic>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-pic icon="linked-in"></ca-pic>
          <span class="visually-hidden">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-pic icon="x-dot-com"></ca-pic>
          <span class="visually-hidden">X.com</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-pic icon="youtube"></ca-pic>
          <span class="visually-hidden">YouTube</span>
        </a>
      </li>
    </ul>

    <ca-flex format="footer-end">
      <ca-flex format="copyright-stamp">
        <ca-pic icon="footer-ca-bear"></ca-pic>
        <p>An official California state website</p>
        <p>© <ca-current-year>2025</ca-current-year> State of California</p>
      </ca-flex>
      <ca-flex format="footer-utility">
        <a href="#" class="button button-utility">
          <ca-pic icon="help"></ca-pic>
          <span class="visually-hidden">Help</span>
        </a>
        <a href="#" class="button button-utility">
          <ca-pic icon="back-to-top"></ca-pic>
          <span class="visually-hidden">Back to top</span>
        </a>
      </ca-flex>
    </ca-flex>
  </footer>
</ca-layout>

<!-- Google Translate Widgrt JS -->
<script type="text/javascript">
	function googleTranslateElementInit() {
 		new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
	}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}