{% extends "blank-page.njk" %}

{% block content %}

<ca-layout format="">
  <ca-site-menu>
    <a href="#content-nav" title="Menu">
      <ca-icon name="bear-menu"></ca-icon>
      <span class="visually-hidden">Menu</span>
    </a>
  </ca-site-menu>

  <ca-site-logo>
    <a href="/">
      <svg width="24" height="24" viewBox="0 0 10 10" aria-hidden="true">
        <circle cx="5" cy="5" r="5" fill="var(--primary-background-60)" />
      </svg>
    </a>
  </ca-site-logo>

  <header>
    <a href="/">
      <span>California</span>
      <span>Department Website</span>
    </a>
  </header>

  <search>
    <form>
      <label for="site-search" class="visually-hidden">Search this site</label>
      <input type="search" id="site-search" placeholder="Search" />
      <button type="submit">
        <ca-icon name="search"></ca-icon>
        <span class="visually-hidden">Search</span>
      </button>
    </form>
  </search>

  <nav id="utility-nav" aria-label="Utility navigation">
    <ul>
      <li>
        <ca-layout-toggle></ca-layout-toggle>
      </li>
      <li>
        <ca-utility-icon>
          <ca-color-scheme-toggle></ca-color-scheme-toggle>
        </ca-utility-icon>
      </li>
      <li>
        <a href="#" title="Login">
          <ca-utility-icon>
            <ca-icon name="account-circle"></ca-icon>
            <span class="visually-hidden">Login</span>
          </ca-utility-icon>
        </a>
      </li>
      <li>
        <a href="#" title="Translate">
          <ca-utility-icon>
            <ca-icon name="language"></ca-icon>
            <span class="visually-hidden">Translate</span>
          </ca-utility-icon>
        </a>
      </li>
    </ul>
  </nav>

  <main>
    {{ content | safe }} 
  </main>

  <nav id="content-nav" aria-label="Content navigation">
		<ca-nav-menu>
      <ul>
        <li><a href="/get-started.html">Get started</a></li>
        <li>
          <ca-nav-menu>
            <a href="#">Design</a>
            <ul>
              <li><a href="#">Drawer 1</a></li>
              <li><a href="#">Sub-link 2</a></li>
              <li><a href="#">Nested link 3</a></li>
            </ul>
          </ca-nav-menu>
        </li>
        <li><a href="#">Develop</a></li>
				<li><a href="#">Building blocks</a></li>
      </ul>
    </ca-nav-menu>
  </nav>

  <footer>
    <ca-grid>
      <section>
        <h2>Footer column heading</h2>
        <ul>
          <li><a href="#">Footer link</a></li>
          <li><a href="#">Footer link</a></li>
          <li><a href="#">Footer link</a></li>
        </ul>
      </section>
      <section>
        <h2>Footer column heading</h2>
        <ul>
          <li><a href="#">Footer link</a></li>
          <li><a href="#">Footer link</a></li>
          <li><a href="#">Footer link</a></li>
        </ul>
      </section>
      <section>
        <h2>Footer column heading</h2>
        <ul>
          <li><a href="#">Footer link</a></li>
          <li><a href="#">Footer link</a></li>
          <li><a href="#">Footer link</a></li>
        </ul>
      </section>
    </ca-grid>

    <ca-footer-links>
      <ul>
        <li><a href="#">Website Accessibility Certification</a></li>
        <li><a href="#">Conditions of use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>

      <ca-social-links>
        <a href="#">
          <ca-icon name="mail"></ca-icon>
          <span class="visually-hidden">Email</span>
        </a>
        <a href="#">
          <ca-icon name="facebook"></ca-icon>
          <span class="visually-hidden">Facebook</span>
        </a>
        <a href="#">
          <ca-icon name="linked-in"></ca-icon>
          <span class="visually-hidden">LinkedIn</span>
        </a>
        <a href="#">
          <ca-icon name="x-dot-com"></ca-icon>
          <span class="visually-hidden">X.com</span>
        </a>
        <a href="#">
          <ca-icon name="youtube"></ca-icon>
          <span class="visually-hidden">YouTube</span>
        </a>
      </ca-social-links>
    </ca-footer-links>

    <ca-footer-end>
      <div>
        <ca-icon name="ca-bear"></ca-icon>
        <p>An official California state website</p>
        <p>© <ca-current-year>2025</ca-current-year> State of California</p>
      </div>
      <div>
        <a href="#">
          <ca-utility-icon with-border>
            <ca-icon name="help"></ca-icon>
            <span class="visually-hidden">Help</span>
          </ca-utility-icon>
        </a>
        <a href="#">
          <ca-utility-icon with-border>
            <ca-icon name="back-to-top"></ca-icon>
            <span class="visually-hidden">Back to top</span>
          </ca-utility-icon>
        </a>
      </div>
    </ca-footer-end>
  </footer>
</ca-layout>

{% endblock %}