:root {
  --primary-static-10: var(--coastal-static-10);
  --primary-static-20: var(--coastal-static-20);
  --primary-static-30: var(--coastal-static-30);
  --primary-static-40: var(--coastal-static-40);
  --primary-static-50: var(--coastal-static-50);
  --primary-static-60: var(--coastal-static-60);
  --primary-static-70: var(--coastal-static-70);
  --primary-static-80: var(--coastal-static-80);
  --primary-static-90: var(--coastal-static-90);
  --primary-static-100: var(--coastal-static-100);
  --primary-static-110: var(--coastal-static-110);
  --primary-static-120: var(--coastal-static-120);
  --primary-lightest: var(--coastal-lightest);
  --primary-lighter: var(--coastal-lighter);
  --primary-light: var(--coastal-light);
  --primary-palest: var(--coastal-palest);
  --primary-paler: var(--coastal-paler);
  --primary-pale: var(--coastal-pale);
  --primary-dim: var(--coastal-dim);
  --primary-dimmer: var(--coastal-dimmer);
  --primary-dimmest: var(--coastal-dimmest);
  --primary-dark: var(--coastal-dark);
  --primary-darker: var(--coastal-darker);
  --primary-darkest: var(--coastal-darkest);

  --primary-accent: var(--coastal-accent);
  --primary-highlight: var(--coastal-highlight);
  --primary-shadow: var(--coastal-shadow);
}

/* The below definitions do not need to be spelled out like this in every theme. 
 * We're just doing this for convenience in standard set-ups.
 * In your custom theme, just define --border-radius directly.
*/
:root,
[data-corners="soft"] {
  /* Roundedness default */
  --border-radius: 0.25rem;
}
[data-corners="sharp"] {
  --border-radius: 0;
}
[data-corners="round"] {
  --border-radius: 3.125rem;
}
