:root {
  --primary-static-10: var(--desert-static-10);
  --primary-static-20: var(--desert-static-20);
  --primary-static-30: var(--desert-static-30);
  --primary-static-40: var(--desert-static-40);
  --primary-static-50: var(--desert-static-50);
  --primary-static-60: var(--desert-static-60);
  --primary-static-70: var(--desert-static-70);
  --primary-static-80: var(--desert-static-80);
  --primary-static-90: var(--desert-static-90);
  --primary-static-100: var(--desert-static-100);
  --primary-static-110: var(--desert-static-110);
  --primary-static-120: var(--desert-static-120);

  --primary-lightest: var(--desert-lightest);
  --primary-lighter: var(--desert-lighter);
  --primary-light: var(--desert-light);
  --primary-palest: var(--desert-palest);
  --primary-paler: var(--desert-paler);
  --primary-pale: var(--desert-pale);
  --primary-dim: var(--desert-dim);
  --primary-dimmer: var(--desert-dimmer);
  --primary-dimmest: var(--desert-dimmest);
  --primary-dark: var(--desert-dark);
  --primary-darker: var(--desert-darker);
  --primary-darkest: var(--desert-darkest);

  --primary-accent: var(--desert-main-accent);
  --primary-highlight: var(--desert-highlight);
  --primary-shadow: var(--desert-shadow);
}

/* The below definitions do not need to be spelled out like this in every theme. 
 * We're just doing this for convenience in standard set-ups.
 * In your custom theme, just define --border-radius directly.
*/
:root,
[data-corners="soft"] {
  /* Roundedness default */
  --border-radius: 0.25rem;
}
[data-corners="sharp"] {
  --border-radius: 0;
}
[data-corners="round"] {
  --border-radius: 3.125rem;
}
