:root {
  --primary-static-10: var(--mountain-static-10);
  --primary-static-20: var(--mountain-static-20);
  --primary-static-30: var(--mountain-static-30);
  --primary-static-40: var(--mountain-static-40);
  --primary-static-50: var(--mountain-static-50);
  --primary-static-60: var(--mountain-static-60);
  --primary-static-70: var(--mountain-static-70);
  --primary-static-80: var(--mountain-static-80);
  --primary-static-90: var(--mountain-static-90);
  --primary-static-100: var(--mountain-static-100);
  --primary-static-110: var(--mountain-static-110);
  --primary-static-120: var(--mountain-static-120);

  --primary-lightest: var(--mountain-lightest);
  --primary-lighter: var(--mountain-lighter);
  --primary-light: var(--mountain-light);
  --primary-palest: var(--mountain-palest);
  --primary-paler: var(--mountain-paler);
  --primary-pale: var(--mountain-pale);
  --primary-dim: var(--mountain-dim);
  --primary-dimmer: var(--mountain-dimmer);
  --primary-dimmest: var(--mountain-dimmest);
  --primary-dark: var(--mountain-dark);
  --primary-darker: var(--mountain-darker);
  --primary-darkest: var(--mountain-darkest);

  --primary-accent: var(--mountain-accent);
  --primary-highlight: var(--mountain-highlight);
  --primary-highlight-active: var(--mountain-highlight-active);
  --primary-shadow: var(--mountain-shadow);
}

/* The below definitions do not need to be spelled out like this in every theme. 
 * We're just doing this for convenience in standard set-ups.
 * In your custom theme, just define --border-radius directly.
*/
:root,
[data-corners="soft"] {
  /* Roundedness default */
  --border-radius: 0.25rem;
}
[data-corners="sharp"] {
  --border-radius: 0;
}
[data-corners="round"] {
  --border-radius: 3.125rem;
}
