ca-icon[format="burger"] {
  --color: var(--primary-10);
  --background: var(--primary-100);
  --background-hover: var(--primary-110);
  --icon-size: 1.5rem;
  --background-size: 2.5rem;
}

ca-icon[format="social"] {
  --color: var(--primary-10);
  --background: var(--primary-100);
  --background-hover: var(--primary-110);
  --background-active: var(--primary-120);
  --icon-size: 1.25rem;
  --background-size: 2rem;
}

ca-icon[format="utility"] {
  --color: var(--primary-100);
  --background: var(--primary-background-30);
  --background-hover: var(--primary-background-40);
  --background-active: var(--primary-background-60);
  --icon-x-size: 1.25rem;
  --icon-y-size: auto;
  --background-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
  ca-icon[format="utility"] {
    --icon-x-size: 1.5rem;
    --background-size: 3rem;
  }
}

ca-icon[glyph="ca-bear"][format="footer-bear"] {
  --icon-x-size: 3.12325rem;
  --icon-y-size: 1.75rem;
  justify-content: start;
}
