ca-icon[format="utility"] {
  --color: var(--primary-100);
  --background: var(--primary-background-30);
  --background-hover: var(--primary-background-40);
  --background-active: var(--primary-background-60);
  --icon-x-size: 1.25rem;
  --icon-y-size: auto;
  --background-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
  ca-icon[format="utility"] {
    --icon-x-size: 1.5rem;
    --background-size: 3rem;
  }
}
