/* Default global button values */
:root {
  --button-color: var(--primary-static-10);
  --button-background: var(--primary-highlight);
  --button-background-hover: var(--primary-highlight-active);
  --button-background-active: var(--button-background-hover);
  --button-padding: .75rem 2rem;
  --button-block-size: initial;
  --button-gap: .75rem;
  --button-text-size: var(--text-size-2);
  --button-text-weight: 600;
  --button-border: none;
}

.button {
  padding: var(--button-padding);
  color: var(--button-color);
  border: var(--button-border);
  border-radius: var(--border-radius);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
  background: var(--button-background);
  block-size: var(--button-block-size);
  min-inline-size: var(--button-block-size);
  gap: var(--button-gap);
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
  }

  &:where(:hover) {
    background: var(--button-background-hover);
  }

  &:where(:active) {
    background: var(--button-background-active);
  }

  &:focus-visible {
    border: 2px solid var(--primary-10);
    outline: 2px solid var(--primary-120);
  }
}

.button-translucent {
  background: unset;

  &::before {
    position: absolute;
    content: "";
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    background: var(--button-background);
    opacity: 0.8;
  }

  &:hover {
    background: unset;
  }
  &:active {
    background: unset;
  }

  &:hover::before {
    background: var(--button-background-hover);
  }
  &:active::before {
    background: var(--button-background-active);
  }
}

.button-gray {
  --button-color: var(--gray-static-10);
  --button-background: var(--gray-highlight);
  --button-background-hover: var(--gray-highlight-active);
}

.button-magenta {
  --button-color: var(--magenta-static-10);
  --button-background: var(--magenta-highlight);
  --button-background-hover: var(--magenta-highlight-active);
}

.button-orange {
  --button-color: var(--orange-static-10);
  --button-background: var(--orange-highlight);
  --button-background-hover: var(--orange-highlight-active);
}

.button-green {
  --button-color: var(--green-static-10);
  --button-background: var(--green-highlight);
  --button-background-hover: var(--green-highlight-active);
}

.button-blue {
  --button-color: var(--blue-static-10);
  --button-background: var(--blue-highlight);
  --button-background-hover: var(--blue-highlight-active);
}

.button-purple {
  --button-color: var(--purple-static-10);
  --button-background: var(--purple-highlight);
  --button-background-hover: var(--purple-highlight-active);
}

.button-yellow {
  --button-color: var(--yellow-static-10);
  --button-background: var(--yellow-highlight);
  --button-background-hover: var(--yellow-highlight-active);
}

.button-red {
  --button-color: var(--red-static-10);
  --button-background: var(--red-highlight);
  --button-background-hover: var(--red-highlight-active);
}

.button-coastal {
  --button-color: var(--coastal-static-10);
  --button-background: var(--coastal-highlight);
  --button-background-hover: var(--coastal-highlight-active);
}

.button-desert {
  --button-color: var(--desert-static-10);
  --button-background: var(--desert-highlight);
  --button-background-hover: var(--desert-highlight-active);
}

.button-mountain {
  --button-color: var(--mountain-static-10);
  --button-background: var(--mountain-highlight);
  --button-background-hover: var(--mountain-highlight-active);
}

.button-valley {
  --button-color: var(--valley-static-10);
  --button-background: var(--valley-highlight);
  --button-background-hover: var(--valley-highlight-active);
}

.button-utility {
  --button-color: var(--primary-100);
  --button-background: var(--primary-background-30);
  --button-background-hover: var(--primary-background-40);
  --button-background-active: var(--primary-background-60);
  --button-padding: .625rem;
  --button-block-size: 2.5rem;

  & > ca-pic {
    inline-size: 1.25rem;
    block-size: auto;
  }
}
@media screen and (min-width: 1024px) {
  .button.button-utility {
    --button-block-size: 3rem;
    --button-padding: .75rem;

    & > ca-pic {
      inline-size: 1.5rem;
    }
  }
}

.button-social {
  --button-color: var(--primary-10);
  --button-background: var(--primary-100);
  --button-background-hover: var(--primary-110);
  --button-background-active: var(--primary-120);
  --button-padding: .375rem;
  --button-block-size: 2rem;

  & > ca-pic {
    inline-size: 1.25rem;
    block-size: auto;
  }
}

.button-burger {
  --button-color: var(--primary-10);
  --button-background: var(--primary-100);
  --button-background-hover: var(--primary-110);
  --button-padding: .5rem;
  --button-block-size: 2.5rem;

  & > ca-pic {
    inline-size: 1.5rem;
    block-size: auto;
  }
}
