ca-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--primary-background-30);
  border-radius: var(--border-radius);

  & > :is(div, section, article) {
    padding: 1.5rem 1rem;

    & > :first-child {
      margin-block-start: 0;
    }

    & > :last-child {
      margin-block-end: 0;
    }
  }

  & > :is(img, svg, ca-pic) {
    place-self: start center;
  }

  & a {
    text-decoration: none;
  }

  /* The full card will "rise" when a link/button within is hovered. */
  &[interactive] {
    & :where(a:hover) {
      text-decoration: underline;
    }

    &:has(a:hover, button:hover) {
      transform: scale(1.01);
    }
  }

  /* 
	 * When we want the whole card to be clickable, we expand the link's target area to fill the card. 
	 * This allows us to present a natural mark-up to assistive devices while still acheiving full clickability.
	 * Warning: this will probably do unexpected things when more than one link/button is present.
	 */
  &[interactive="full"] {
    position: relative;

    & :is(a, button) {
      &::before {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        block-size: 100%;
        inline-size: 100%;
      }
    }
  }

  /* Enable shadows to add depth to the card. */
  &[shadow] {
    box-shadow: var(--primary-shadow-1);

    &[interactive]:has(a:hover, button:hover) {
      box-shadow: var(--primary-shadow-2);
    }
  }

  &[size="small"] {
    & > :is(img, svg, ca-pic) {
      block-size: 15.5rem;
    }
  }
  &[size="medium"] {
    & > :is(img, svg, ca-pic) {
      block-size: 22rem;
    }
  }
  &[size="large"] {
    & > :is(img, svg, ca-pic) {
      block-size: 28.5rem;
    }
  }

  &[flow|="horizontal"] {
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      flex: 1 2 auto;
    }

    & > :is(img, svg, ca-pic) {
      flex: 2 1 auto;
    }

    &[size="small"] {
      & > :is(img, svg, ca-pic) {
        inline-size: 9rem;
      }
    }
    &[size="medium"] {
      & > :is(img, svg, ca-pic) {
        inline-size: 15.5rem;
      }
    }
    &[size="large"] {
      & > :is(img, svg, ca-pic) {
        inline-size: 22rem;
      }
    }
  }

  /* Used as flow="horizontal-reverse" */
  &[flow*="reverse"] {
    flex-wrap: wrap-reverse;
  }
}

/* Defaults. */
:where(ca-card) {
  block-size: 100%;
  inline-size: 100%;

  & > :where(img) {
    inline-size: 100%;
    max-block-size: 22rem;
    object-fit: cover;
  }

  & > :where([flow|="horizontal"] > :where(img, svg, ca-pic)) {
    inline-size: max(20vw, 100%);
  }
}

/* Animations. */
@media screen and (prefers-reduced-motion: no-preference) {
  ca-card {
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
  }
}
