@layer default, options, interactive, darkmode;

@layer default {
  ul.cards {
    padding: 0;
    font-size: 0.85em;
  }
  @supports (display: grid) {
    ul.cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      grid-gap: var(--columns-gap);

      > li {
        height: 100%;
      }
    }
  }

  ul.cards img {
    aspect-ratio: 3 / 2;
    max-inline-size: 100%;
    block-size: auto;
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
    margin: unset;
    order: 1;
  }

  ul.cards article {
    padding: var(--space-unit-x3);
    margin: 0;
    order: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  ul.cards h1,
  ul.cards h2,
  ul.cards h3,
  ul.cards h4,
  ul.cards h5 {
    font-weight: 700;
    font-size: var(--text-size-4);
    line-height: var(--text-lineheight-medium);
    margin-top: 0;
  }

  ul.cards h1 > a,
  ul.cards h2 > a,
  ul.cards h3 > a,
  ul.cards h4 > a,
  ul.cards h5 > a {
    color: inherit;
    text-decoration: none;
  }

  ul.cards > li {
    margin-block-start: 0;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 1px;
    border-color: var(--utility-light-grey);
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  ul.cards li,
  ul.cards p {
    max-width: unset;
  }

  /* call to action */
  .action {
    --outline-color: var(--brand-secondary);
    background: var(--brand-secondary);
    color: white;
    display: inline-block;
    margin: var(--card-spacing);
    margin-block-start: 0;
    margin-block-end: 1.5rem;
    padding-block: 0.55rem;
    padding-inline: 1.5rem;
    border-radius: calc(var(--border-radius) * 1.5);
    text-decoration: none;
    transition: box-shadow 0.3 ease-out;
    box-shadow: var(--shadow);
    align-self: start; /*not full width button*/
    order: 3;
    margin-top: auto;
  }
  .action:hover,
  .action:focus {
    box-shadow: var(--shadow-focus);
    background: var(--brand-hover-light);
    transform: scale(1.06);
  }

  .action:active {
    transform: scale(0.95);
    background: var(--brand-primary);
  }

  /* card's layout  and orientations */
  ul.cards[data-orientation^="media"] {
    > li {
      flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    & img {
      border-start-start-radius: var(--border-radius);
      border-start-end-radius: 0;
      border-end-start-radius: var(--border-radius);
      border-end-end-radius: 0;
      max-block-size: 100%;
      max-inline-size: 33%;
    }

    li:only-child {
      img {
        max-inline-size: 30%;
      }
    }
  }

  ul.cards[data-orientation="media-end"] {
    > li {
      flex-direction: row-reverse;
    }

    & img {
      border-start-start-radius: 0;
      border-start-end-radius: var(--border-radius);
      border-end-start-radius: 0;
      border-end-end-radius: var(--border-radius);
    }

    article {
      flex-grow: 2;
    }
  }
}

@layer options {
  [data-filter="dissaturated"] {
    li {
      img {
        filter: saturate(20%);
      }
    }
  }

  [data-action="interactive"][data-filter="dissaturated"] {
    > li:focus-within,
    > li:hover {
      img {
        filter: saturate(100%);
      }
    }
  }
}

@layer interactive {
  [data-action="interactive"] {
    > li {
      box-shadow: var(--shadow);
      cursor: pointer;
      transition: all 0.3s ease-out;
      justify-content: start;
      position: relative;
    }

    article a::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: 3000; /*for Chrome and Edge to allow anchor over the img*/
    }
    > li:focus-within {
      --outline-size: max(2px, 0.08em);
      --outline-style: solid;
      outline: var(--outline-size) var(--outline-style) var(--brand-primary);
      outline-offset: var(--outline-offset, var(--outline-size));

      a:focus {
        outline: none;
      }

      & img {
        filter: saturate(100%);
      }
    }

    h2 > a {
      color: inherit;
      text-decoration: none;
    }

    img {
      margin-block-start: unset;
    }

    > li > a {
      display: block;
      color: currentColor;
      text-decoration: none;
      border-radius: var(--border-radius);
      height: 100%;
      --outline-color: var(--brand-primary);
    }

    > li:hover,
    > li:focus {
      transform: scale(1.04);
      box-shadow: var(--shadow-focus);
      a {
        color: var(--brand-hover-dark);
        text-decoration: underline;
      }
    }

    > li:active {
      transform: scale(1.02);
    }
  }
}

@layer darkmode {
  ul[data-action="interactive"] {
    > li:hover,
    > li:focus {
      box-shadow: var(--shadow-focus);
      a {
        color: var(--brand-hover-light);
        text-decoration: underline;
      }
    }
  }
}
