/* --- Site header --- */
@layer default, desktop, theme, states;

/* Light theme is default */
@layer default {
  :root {
    --search-icon: var(--search-icon-dark);
    --cagov-icon: var(--cagov-icon-dark);
    --cagov-logo: var(--cagov-logo-dark);
    --login-icon: var(--login-icon-dark);
    --header-bg: var(--white);
    --hamburger-bg: var(--banner-dark);
    --header-link-color: var(--text-dark);
    --search-border-color: var(--navigation-submenu-dark);
    --search-placeholder-color: var(--navigation-submenu-dark);
    --search-input-color: var(--text-dark);
    --search-submit-button-color: var(--navigation-submenu-dark);
    --search-submit-button-outline: var(--white);
    --search-input-outline: var(--text-dark);
    --search-submit-icon: var(--search-submit-light);
    --search-input-clear-icon: var(--search-input-clear-dark);
  }

  header {
    position: relative;
    top: 0;

    .site-header {
      background-color: var(--header-bg);
    }

    a {
      color: var(--header-link-color);
    }

    .site-header-container {
      max-width: var(--desktop-max-width);
      margin: 0 auto;
      padding: 0 var(--space-unit-x2);
      display: flex;
      align-items: center;
      gap: var(--space-unit-x4);
      overflow: visible;
    }

    /* hamburger */
    .main-navigation-button {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
      margin: 0 var(--space-unit-1);

      .hamburger {
        height: 4px;
        position: relative;

        /* All 3 lines */
        &,
        &::before,
        &::after {
          width: 100%;
          background-color: var(--hamburger-bg);
          border-radius: 5px;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          transition: all 200ms ease;
        }

        &::before {
          transform: translateY(-7px);
        }

        &::after {
          transform: translateY(7px);
        }
      }
    }

    /* site logo */
    a.site-logo {
      display: flex;
      align-items: flex-start;
      gap: var(--space-unit-x4);
      text-decoration: none;
    }

    .logo-image {
      max-width: 100%;
      min-height: auto;
      height: clamp(4.5rem, 1.9286rem + 3.8095vw, 6.5rem);
      object-fit: contain;
      transform: translateY(var(--space-unit-x2));
      display: none;
    }

    .site-branding-text {
      padding: var(--space-unit-x2) 0;

      span {
        display: block;
        letter-spacing: 1px;

        &.state {
          font-size: clamp(1.5rem, 1.1786rem + 0.4762vw, 1.75rem);
          font-weight: 600;
          margin-top: clamp(0rem, -1.2857rem + 1.9048vw, 1rem);
        }

        &.department {
          font-size: clamp(1rem, 0.6786rem + 0.4762vw, 1.25rem);
          font-weight: 400;
          margin-top: clamp(0.5rem, -0.4643rem + 1.4286vw, 1.25rem);
        }
      }
    }

    /* site header utility links */
    .site-header-utility {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      gap: calc(var(--space-unit-x2) / 1.5);
    }

    .search-container-desktop {
      border: 1px solid var(--search-border-color);
      border-radius: var(--rounded-buttons);
      display: none;

      form {
        display: flex;
        position: relative;

        input.search-input {
          border-radius: var(--rounded-buttons) 0 0 var(--rounded-buttons);
          border: 0;
          width: clamp(10rem, -6.7143rem + 24.7619vw, 23rem);
          height: var(--space-unit-x4);
          padding-left: calc(var(--space-unit-x2) * 3);
          padding-right: var(--space-unit-1);
          background: transparent;
          color: var(--search-input-color);
          transition:
            width 300ms ease,
            padding 300ms ease;

          &:focus {
            outline: 2px solid var(--search-input-outline);
            outline-offset: -4px;
          }

          &:autofill {
            /* Keeps the autofill consistent with theme */
            box-shadow: 0 0 0 1000px var(--header-bg) inset;
            -webkit-text-fill-color: var(--search-input-color);
          }

          &::placeholder {
            color: var(--search-placeholder-color);
            opacity: 1; /* Firefox */
          }

          /* stylelint-disable-next-line selector-no-vendor-prefix */
          &::-ms-input-placeholder, /* -ms-input-placeholder for Edge 12 -18 */
              &::placeholder {
            color: var(--search-placeholder-color);
            opacity: 1; /* Firefox */
          }

          &::-webkit-search-cancel-button {
            -webkit-appearance: none; /* Remove default styling */
            height: var(--space-unit-x2);
            width: var(--space-unit-x2);
            background: transparent var(--search-input-clear-icon) no-repeat;
          }
        }

        label.search-toggle {
          border: none;
          border-radius: var(--rounded-buttons);
          position: absolute;
          cursor: pointer;
          height: var(--space-unit-x4);
          width: var(--space-unit-x4);
          background-color: transparent;
          background-image: var(--search-icon);
          background-repeat: no-repeat;
          background-size: 1.125rem;
          background-position: calc(50% + 0.25rem) center;
          top: 0;
          left: 0;
        }

        button.search-submit {
          padding: 0 1.5rem;
          border: none;
          border-radius: 0 var(--rounded-buttons) var(--rounded-buttons) 0;
          background: var(--search-submit-button-color)
            var(--search-submit-icon) no-repeat center / 1.125rem;
          cursor: pointer;

          &:focus {
            outline: 2px solid var(--search-submit-button-outline);
            outline-offset: -3px;
          }
        }

        &:not(:focus-within) {
          label.search-toggle {
            background-position: center;
          }

          input.search-input {
            outline: none;
            padding: 0;
            width: var(--space-unit-x4);
            background: transparent;
            cursor: pointer;
            color: transparent;
            border-radius: var(--rounded-buttons);

            &:autofill {
              /* Keeps the autofill consistent with theme */
              -webkit-text-fill-color: var(--header-bg);
            }

            &::placeholder {
              visibility: hidden; /* Hide the search placeholder as an icon */
            }

            &::-webkit-search-cancel-button {
              display: none; /* Needed for Safari, Chrome clears on blur */
            }
          }

          button.search-submit {
            display: none;
          }
        }
      }
    }

    button.cagov-toggle {
      border: none;
      background: transparent;
      background-image: var(--cagov-icon);
      background-repeat: no-repeat;
      background-size: clamp(2rem, 0.7143rem + 1.9048vw, 3rem)
        clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
      background-position: center;
      height: clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
      width: clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
      margin-left: auto;
      cursor: pointer;
    }

    .login-button {
      background-image: var(--login-icon);
      background-repeat: no-repeat;
      background-size: var(--space-unit-x4) var(--space-unit-x4);
      background-position: center;
      padding: var(--space-unit-x2);
      display: block;
    }
    span.login-text {
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      width: 1px;
      height: 1px;
      margin: -1px;
    }
  }
}

@layer states {
  header {
    .main-navigation-button.open .hamburger {
      transform: rotate(45deg);
    }

    .main-navigation-button.open .hamburger::before {
      transform: rotate(90deg) translateX(0);
    }

    .main-navigation-button.open .hamburger::after {
      transform: rotate(90deg) translateX(0);
    }

    .logo-image.no-overflow {
      transform: translateY(0);
      padding: var(--space-unit-1) 0;
    }
  }
}

@layer desktop {
  /* Site header desktop styles */
  @media (width >= 1080px) {
    header {
      position: sticky;

      .main-navigation-button {
        display: none;
      }

      .logo-image {
        display: block;
      }

      .site-header-utility {
        gap: var(--space-unit-x4);
      }

      /* search */
      .search-container-desktop {
        display: block;
      }

      .login-button {
        background-color: var(--action-secondary);
        border-radius: var(--rounded-buttons);
        padding: var(--space-unit-1)
          calc(var(--space-unit-1) + (30 * ((100vw - 48rem) / 1200)));
        text-decoration: none;
        color: var(--text-dark);
        font-size: 1.125rem;

        span.login-text {
          position: relative;
          overflow: visible;
          clip: unset;
          width: unset;
          height: unset;
          margin: unset;
        }
      }

      .login-button,
      .theme-light .login-button,
      .theme-dark .login-button {
        background-image: none;
      }

      .login-button:hover,
      .login-button:focus {
        color: var(--black);
        background-color: var(--action-secondary-hover);
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
      }

      .login-icon {
        display: none;
      }

      button.cagov-toggle {
        background-image: var(--cagov-logo);
        background-size: clamp(3.6rem, 0.7143rem + 1.9048vw, 5.5rem)
          clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
        height: clamp(2rem, 0.7143rem + 1.9048vw, 3rem);
        width: clamp(3.6rem, 0.7143rem + 1.9048vw, 5.5rem);
        margin-inline-start: clamp(0rem, -11.5714rem + 17.1429vw, 10rem);
      }
    }
  }
}

/* THEMES */
@media (prefers-color-scheme: dark) {
  :root {
    --search-icon: var(--search-icon-light);
    --cagov-icon: var(--cagov-icon-light);
    --cagov-logo: var(--cagov-logo-light);
    --login-icon: var(--login-icon-light);
    --header-bg: var(--banner-dark);
    --hamburger-bg: var(--white);
    --header-link-color: var(--white);
    --search-border-color: var(--navigation-submenu-light);
    --search-placeholder-color: var(--navigation-submenu-light);
    --search-input-color: var(--white);
    --search-submit-button-color: var(--navigation-submenu-light);
    --search-submit-button-outline: var(--text-dark);
    --search-input-outline: var(--white);
    --search-submit-icon: var(--search-submit-dark);
    --search-input-clear-icon: var(--search-input-clear-light);
  }
}

@layer theme {
  /* theme light header */
  header {
    .theme-light {
      background-color: var(--white);
      a {
        color: var(--text-dark);
      }

      .hamburger,
      .hamburger::before,
      .hamburger::after {
        background-color: var(--banner-dark);
      }

      .search-container-desktop {
        border-color: var(--text-dark);

        label.search-toggle {
          background-image: var(--search-icon-dark);
        }
      }

      .search-input {
        color: var(--text-dark);
        outline-color: var(--navigation-submenu-dark);
        &::placeholder {
          color: var(--gray-600);
          opacity: 1; /* Firefox */
        }
        &::-ms-input-placeholder {
          color: var(--gray-600);
        }
        &::-webkit-search-cancel-button {
          background: var(--search-input-clear-dark);
        }
      }

      .search-submit {
        background-color: var(--navigation-submenu-dark);
        background-image: var(--search-submit-light);
        &:focus {
          outline-color: var(--white);
        }
      }

      .login-button {
        background-image: var(--login-icon-light);
        @media (width >= 1080px) {
          background-image: none;
          color: var(--text-dark);
        }
      }

      button.cagov-toggle {
        background-image: var(--cagov-icon-dark);
        @media (width >= 1080px) {
          background-image: var(--cagov-logo-dark);
        }
      }
    }

    /* theme dark header */
    .theme-dark {
      background-color: var(--banner-dark);
      a {
        color: var(--white);
      }

      .hamburger,
      .hamburger::before,
      .hamburger::after {
        background-color: var(--white);
      }

      .search-container-desktop {
        border-color: var(--navigation-submenu-dark);

        label.search-toggle {
          background-image: var(--search-icon-light);
        }
      }

      .search-input {
        color: var(--white);
        outline-color: var(--navigation-submenu-light);
        &::placeholder {
          color: var(--navigation-submenu-light);
          opacity: 1; /* Firefox */
        }
        &::-ms-input-placeholder {
          color: var(--navigation-submenu-light);
        }
        &::-webkit-search-cancel-button {
          background: var(--search-input-clear-light);
        }
      }

      .search-submit {
        background-color: var(--navigation-submenu-light);
        background-image: var(--search-submit-dark);
        &:focus {
          outline-color: var(--text-dark);
        }
      }

      .login-button {
        background-image: var(--login-icon-light);
        @media (width >= 1080px) {
          background-image: none;
          color: var(--text-dark);
        }
      }

      button.cagov-toggle {
        background-image: var(--cagov-icon-light);
        @media (width >= 1080px) {
          background-image: var(--cagov-logo-light);
        }
      }
    }
  }
}
