---
layout: base-layout
title: Design System Dev
permalink: /
---

<section class="container">
	<h1>Design System Dev</h1>
	<p>Use demo pages to test the system, in part and in full.</p>
	<p>Demo pages are located in the <em>pages</em> folder.</p>
	<ul>
	{% for page in collections.components %}
		<li>
			<a href="{{page.url}}">{{page.data.title}}</a>
		</li>
	{% endfor %}
	</ul>
</section>
