/* stylelint-disable selector-combinator-allowed-list */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable csstools/use-nesting */
/* stylelint-disable selector-max-universal */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--text-color);
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family:
    var(--font-family),
    system-ui,
    -apple-system,
    "Roboto",
    "Helvetica Neue",
    sans-serif;
  font-size: clamp(1rem, var(--base), 5rem);
  letter-spacing: 0.02rem;
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  --color: var(--text-dark);
  --bg: var(--main-light);
}

a {
  --link-color: var(--hyperlink-light);
}

/* --- Layouts --- */

/* fixed layout with left sidebar */
.container-fixed {
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
}

.container-left-sidebar {
  display: flex;
  gap: var(--columns-gap);
  align-items: stretch;
  flex-wrap: wrap;
  --breakpoint-width: var(--mobile-breakpoint-width);
}

.container-left-sidebar > :first-child {
  flex-basis: var(--sidebar-max-width);
  flex-grow: 1;
}

.container-left-sidebar > :last-child {
  flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
  flex-grow: var(--flex-grow-max);
}

/* container with equal columns */
.container-columns {
  display: flex;
  flex-wrap: wrap;

  gap: var(--columns-gap);
  --breakpoint-width: var(--mobile-breakpoint-width);
}

.container-columns > * {
  flex-grow: 1;
  flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
  margin-block-start: 0;
}

.container-columns > :nth-last-child(n + 5),
.container-columns > :nth-last-child(n + 5) ~ * {
  flex-basis: 100%;
}

/* --- Themes --- */
[class*="theme-"] {
  color: var(--color);
  background-color: var(--bg);
}

[class*="theme-"] a {
  color: var(--link-color);
}

/* dark theme */
.theme-dark {
  --color: var(--text-white);
  --bg: var(--main-dark);
}

.theme-dark a {
  --link-color: var(--hyperlink-dark);
}

/* --- Utility  --- */

/* margin (page global) */
main * + * {
  margin-block-start: var(--s-x2);
}

/* spacing */

/* colors */

/* borders */

/* --- Typography ---  */
p,
li,
h2,
h3,
h4,
h5,
small,
blockquote {
  max-width: var(--text-max-width);
}

h1 {
  font-weight: var(--h1-font-weight);
  font-size: var(--h1);
  line-height: var(--h1-line-height);
}

h2 {
  font-weight: var(--h2-font-weight);
  font-size: var(--h2);
  line-height: var(--h2-line-height);
}

h3 {
  font-weight: var(--h3-font-weight);
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}

h4 {
  font-weight: var(--h4-font-weight);
  font-size: var(--h4);
  line-height: var(--h4-line-height);
}

h5 {
  font-weight: var(--h5-font-weight);
  font-size: var(--h4-line-height);
}

p {
  line-height: var(--p-line-height);
}

h1 + p {
  font-size: calc(var(--lt) - 0.02rem);
  line-height: var(--lt-line-height);
}

small {
  font-weight: var(--st-font-weight);
  font-size: var(--st);
  line-height: var(--st-line-height);
}

blockquote {
  border-left: var(--gray-300) 4px solid;
  margin-left: 0;
  padding-left: var(--s-x4);
}

li + li {
  margin-top: var(--s-x4);
}
