/* stylelint-disable selector-combinator-allowed-list */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable csstools/use-nesting */
/* stylelint-disable selector-max-universal */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family:
    var(--font-family),
    system-ui,
    -apple-system,
    "Roboto",
    "Helvetica Neue",
    sans-serif;
  font-size: clamp(1rem, var(--p-font-size), 5rem);
  letter-spacing: 0.02rem;
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:focus {
  color: var(--active-link-color);
}

/* --- Themes --- */

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--main-dark);
    --text-color: var(--text-white);
    --link-color: var(--hyperlink-dark);
    --active-link-color: var(--hyperlink-activated-dark);
  }
}

/* --- Utility  --- */

/* margin (page global) */
main * + * {
  margin-block-start: var(--space-unit-x2);
}

/* spacing */

/* colors */

/* borders */

/* Accessibility */
.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* --- Typography ---  */
p,
li,
h2,
h3,
h4,
h5,
small,
blockquote {
  max-width: var(--text-max-width);
}

h1 {
  font-weight: var(--h1-font-weight);
  font-size: var(--h1);
  line-height: var(--h1-line-height);
}

h2 {
  font-weight: var(--h2-font-weight);
  font-size: var(--h2);
  line-height: var(--h2-line-height);
}

h3 {
  font-weight: var(--h3-font-weight);
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}

h4 {
  font-weight: var(--h4-font-weight);
  font-size: var(--h4);
  line-height: var(--h4-line-height);
}

h5 {
  font-weight: var(--h5-font-weight);
  font-size: var(--h4-line-height);
}

p {
  line-height: var(--p-line-height);
}

h1 + p {
  font-size: calc(var(--lead-text) - 0.02rem);
  line-height: var(--lead-text-line-height);
}

small {
  font-weight: var(--small-text-font-weight);
  font-size: var(--small-text);
  line-height: var(--small-text-line-height);
}

blockquote {
  border-left: var(--gray-300) 4px solid;
  margin-left: 0;
  padding-left: var(--space-unit-x4);
}

li + li {
  margin-top: var(--space-unit-x4);
}

/* --- Layouts --- */

/* fixed layout with left sidebar */
.container-fixed-width {
  max-width: var(--desktop-max-width);
  margin-right: auto;
  margin-left: auto;
}

[class*="container-left-sidebar"] {
  display: flex;
  margin-top: 0;
  gap: var(--columns-gap);
  align-items: stretch;
  flex-wrap: wrap;
  --breakpoint-width: var(--breakpoint-width-medium);
}

.container-left-sidebar-breakpoint-large {
  --breakpoint-width: var(--breakpoint-width-large);
}

.container-left-sidebar-breakpoint-medium {
  --breakpoint-width: var(--breakpoint-width-medium);
}

.container-left-sidebar-breakpoint-small {
  --breakpoint-width: var(--breakpoint-width-small);
}

[class*="container-left-sidebar"] > :first-child {
  flex-basis: var(--sidebar-max-width);
  flex-grow: 1;
}

[class*="container-left-sidebar"] > :last-child {
  flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
  flex-grow: var(--flex-grow-max);
}

/* container with equal columns */
[class*="container-equal-columns"] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--columns-gap);
  --breakpoint-width: var(--breakpoint-width-medium);
}

.container-equal-columns-breakpoint-large {
  --breakpoint-width: var(--breakpoint-width-large);
}

.container-equal-columns-breakpoint-medium {
  --breakpoint-width: var(--breakpoint-width-medium);
}

.container-equal-columns-breakpoint-small {
  --breakpoint-width: var(--breakpoint-width-small);
}

[class*="container-equal-columns"] > * {
  flex-grow: 1;
  flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
  margin-block-start: 0;
}

[class*="container-equal-columns"] > :nth-last-child(n + 5),
[class*="container-equal-columns"] > :nth-last-child(n + 5) ~ * {
  flex-basis: 100%;
}
