---
permalink: css/ds-base.css
---

:root { 
/* layout variables */
--columns-gap: {{ ds_tokens.layout.columns_gap }}; 
--sidebar-max-width: {{ ds_tokens.layout.sidebar_col_max_width }}; 
--main-max-width: calc({{ ds_tokens.layout.mobile_breakpoint }} - {{ ds_tokens.layout.sidebar_col_max_width }} - {{ ds_tokens.spacing.s_5 }} - {{ ds_tokens.layout.columns_gap }}); 
--flex-grow-max: {{ ds_tokens.layout.flex_grow_max }}; 
--container-max-width: {{ ds_tokens.layout.container_max_width }}; 

/* color variables */
--text-color: {{ ds_tokens.color.text_color }}; 
--primary: {{ ds_tokens.color.primary }}; 
--highlight: {{ ds_tokens.color.highlight }}; 
--white: {{ ds_tokens.color.white }}; 
--gray-10: {{ ds_tokens.color.gray_10 }}; 
--gray-25: {{ ds_tokens.color.gray_25 }};
--gray-50: {{ ds_tokens.color.gray_50 }};
--gray-75: {{ ds_tokens.color.gray_75 }};
--gray-100: {{ ds_tokens.color.gray_100 }};
--gray-200: {{ ds_tokens.color.gray_200 }};
--gray-300: {{ ds_tokens.color.gray_300 }};
--gray-400: {{ ds_tokens.color.gray_400 }};
--gray-500: {{ ds_tokens.color.gray_500 }};
--gray-600: {{ ds_tokens.color.gray_600 }};
--gray-700: {{ ds_tokens.color.gray_700 }};
--gray-800: {{ ds_tokens.color.gray_800 }};
--gray-900: {{ ds_tokens.color.gray_900 }};
--gray-1000: {{ ds_tokens.color.gray_1000 }};
--black: {{ ds_tokens.color.black }};

/* border variables */
--brd-1px: {{ ds_tokens.border.border_1 }}; 
--brd-2px: calc({{ ds_tokens.border.border_1 }} * 2); 
--brd-4px: calc({{ ds_tokens.border.border_1 }} * 4); 
--brd-8px: calc({{ ds_tokens.border.border_1 }} * 8);
--brd-radius-sm: calc({{ ds_tokens.border.radius }} / 2); 
--brd-radius: {{ ds_tokens.border.radius }};
--brd-radius-lg: calc({{ ds_tokens.border.radius }} * 2); 
--brd-radius-round: 50%;

/* spacing variables */
--s-4: {{ ds_tokens.spacing.s_4 }};

/* typography variables */
--text-max-width:  {{ ds_tokens.typography.text_max_width }};
}

/* layout */
@media (max-width: {{ ds_tokens.layout.container_max_width }}) {
  .content-wrapper > * {
    padding-left: var(--s-4);
    padding-right: var(--s-4);
  }
}

{% include "./base.css" -%}
