---
permalink: css/ds-base.css
---

:root { 
/* layout variables */
--columns-gap: {{ ds_tokens.layout.columns_gap }}; 
--sidebar-max-width: {{ ds_tokens.layout.sidebar_col_max_width }}; 
--main-max-width: calc({{ ds_tokens.layout.mobile_breakpoint }} - {{ ds_tokens.layout.sidebar_col_max_width }} - {{ ds_tokens.spacing.s_5 }} - {{ ds_tokens.layout.columns_gap }}); 
--flex-grow-max: {{ ds_tokens.layout.flex_grow_max }}; 
--container-max-width: {{ ds_tokens.layout.container_max_width }}; 

/* color variables */
--brand-primary: {{ ds_tokens.color.brand_primary }}; 
--brand-secondary: {{ ds_tokens.color.brand_secondary }}; 
--banner-light: {{ ds_tokens.color.banner_light }}; 
--banner-dark: {{ ds_tokens.color.banner_dark }}; 
--brand-hover-light: {{ ds_tokens.color.brand_hover_light }}; 
--brand-hover-dark: {{ ds_tokens.color.brand_hover_dark }}; 
--navigation-hover-light: {{ ds_tokens.color.navigation_hover_light }}; 
--navigation-hover-dark: {{ ds_tokens.color.navigation_hover_dark }}; 
--background-primary-light: {{ ds_tokens.color.background_primary_light }}; 
--background-primary-dark: {{ ds_tokens.color.background_primary_dark }}; 
--background-secondary-light: {{ ds_tokens.color.background_secondary_light }}; 
--background-secondary-dark: {{ ds_tokens.color.background_secondary_dark }}; 
--action-primary: {{ ds_tokens.color.action_primary }}; 
--action-secondary: {{ ds_tokens.color.action_secondary }}; 
--main-light: {{ ds_tokens.color.main_light }}; 
--main-dark: {{ ds_tokens.color.main_dark }}; 
--navigation-submenu-dark: {{ ds_tokens.color.navigation_submenu_dark }}; 
--navigation-submenu-light: {{ ds_tokens.color.navigation_submenu_light }}; 
--utility-dark: {{ ds_tokens.color.utility_dark }}; 
--utility-dark-grey: {{ ds_tokens.color.utility_dark_grey }}; 
--utility-mid-grey: {{ ds_tokens.color.utility_mid_grey }}; 
--utility-light-grey: {{ ds_tokens.color.utility_light_grey }}; 
--text-dark: {{ ds_tokens.color.text_dark }}; 
--text-white: {{ ds_tokens.color.text_white }}; 
--hyperlink-light: {{ ds_tokens.color.hyperlink_light }}; 
--hyperlink-activated-light: {{ ds_tokens.color.hyperlink_activated_light }}; 
--hyperlink-dark: {{ ds_tokens.color.hyperlink_dark }}; 
--hyperlink-activated-dark: {{ ds_tokens.color.hyperlink_activated_dark }}; 
--white: {{ ds_tokens.color.white }}; 
--gray-10: {{ ds_tokens.color.gray_10 }}; 
--gray-25: {{ ds_tokens.color.gray_25 }};
--gray-50: {{ ds_tokens.color.gray_50 }};
--gray-75: {{ ds_tokens.color.gray_75 }};
--gray-100: {{ ds_tokens.color.gray_100 }};
--gray-200: {{ ds_tokens.color.gray_200 }};
--gray-300: {{ ds_tokens.color.gray_300 }};
--gray-400: {{ ds_tokens.color.gray_400 }};
--gray-500: {{ ds_tokens.color.gray_500 }};
--gray-600: {{ ds_tokens.color.gray_600 }};
--gray-700: {{ ds_tokens.color.gray_700 }};
--gray-800: {{ ds_tokens.color.gray_800 }};
--gray-900: {{ ds_tokens.color.gray_900 }};
--gray-1000: {{ ds_tokens.color.gray_1000 }};
--black: {{ ds_tokens.color.black }};

/* border variables */
--brd-1px: {{ ds_tokens.border.border_1 }}; 
--brd-2px: calc({{ ds_tokens.border.border_1 }} * 2); 
--brd-4px: calc({{ ds_tokens.border.border_1 }} * 4); 
--brd-8px: calc({{ ds_tokens.border.border_1 }} * 8);
--brd-radius-sm: calc({{ ds_tokens.border.radius }} / 2); 
--brd-radius: {{ ds_tokens.border.radius }};
--brd-radius-lg: calc({{ ds_tokens.border.radius }} * 2); 
--brd-radius-round: 50%;

/* spacing variables */
--s-1: {{ ds_tokens.spacing.unit }};
--s-x2: calc({{ ds_tokens.spacing.unit }} * 2);
--s-x4: calc({{ ds_tokens.spacing.unit }} * 4);
--s-x8: calc({{ ds_tokens.spacing.unit }} * 8);
--s-x16: calc({{ ds_tokens.spacing.unit }} * 16);

/* typography variables */
--font-family:  {{ ds_tokens.typography.font }};
--text-max-width:  {{ ds_tokens.typography.text_max_width }};
--font-size-base:  {{ ds_tokens.typography.font_size_base }};
--font-weight-base: {{ ds_tokens.typography.font_weight_base }};
--line-height-base: {{ ds_tokens.typography.line_height_base }};
--ratio:  {{ ds_tokens.typography.ratio }};
--s0: calc(var(--font-size-base) + .2vw);

/* small text font  */
--st: calc(var(--s0) - .1em);
--st-font-weight: {{ ds_tokens.typography.small_text_font_weight }};
--st-line-height: {{ ds_tokens.typography.small_text_line_height }};

/* standard paragraph font  */
--base: calc(var(--s0) * var(--ratio));
--p-line-height: {{ ds_tokens.typography.p_line_weight }};
  
/* Lead text font */
--lt: calc(var(--base) * var(--ratio));
--lt-line-height: {{ ds_tokens.typography.lead_text_line_height }};
  
/* headings fonts  */
--h6: calc(var(--s0) * var(--ratio));
--h5: calc(var(--h6) * var(--ratio));
--h4: calc(var(--h5) * var(--ratio));
--h3: calc(var(--h4) * var(--ratio));
--h2: calc(var(--h3) * var(--ratio));
--h1: calc(var(--h2) * var(--ratio) * var(--ratio));
--h1-font-weight: {{ ds_tokens.typography.h1_font_weight }};
--h1-line-height: {{ ds_tokens.typography.h1_line_height }};
--h2-font-weight: {{ ds_tokens.typography.h2_font_weight }};
--h2-line-height: {{ ds_tokens.typography.h2_line_height }};
--h3-font-weight: {{ ds_tokens.typography.h3_font_weight }};
--h3-line-height: {{ ds_tokens.typography.h3_line_height }};
--h4-font-weight: {{ ds_tokens.typography.h4_font_weight }};
--h4-line-height: {{ ds_tokens.typography.h4_line_height }};
--h5-font-weight: {{ ds_tokens.typography.h5_font_weight }};
--h5-line-height: {{ ds_tokens.typography.h5_line_height }};
}

/* layout */
@media (max-width: {{ ds_tokens.layout.container_max_width }}) {
  .content-wrapper > * {
    padding-left: var(--s-x2);
    padding-right: var(--s-x2);
  }
}

{% include "./base.css" -%}
