button,
a.button {
  --text-color: var(--primary-static-10);
  --background-color: var(--primary-highlight);
  --hover-color: var(--primary-highlight-active);

  all: unset;
  cursor: pointer;
  padding: .75rem 2rem;
  color: var(--text-color);
  border-radius: var(--border-radius);
  font-size: var(--text-size-2);
  font-weight: 600;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
      180deg,
      color-mix(in srgb, var(--text-color), transparent 100%) 61.5%,
      color-mix(in srgb, var(--text-color), transparent 80%) 100%
    ), var(--background-color);

  &:where(:hover) {
    background-color: var(--hover-color);
  }

  &.gray {
    --text-color: var(--gray-static-10);
    --background-color: var(--gray-highlight);
    --hover-color: var(--gray-highlight-active);
  }
  &.magenta {
    --text-color: var(--magenta-static-10);
    --background-color: var(--magenta-highlight);
    --hover-color: var(--magenta-highlight-active);
  }
  &.orange {
    --text-color: var(--orange-static-10);
    --background-color: var(--orange-highlight);
    --hover-color: var(--orange-highlight-active);
  }
  &.green {
    --text-color: var(--green-static-10);
    --background-color: var(--green-highlight);
    --hover-color: var(--green-highlight-active);
  }
  &.blue {
    --text-color: var(--blue-static-10);
    --background-color: var(--blue-highlight);
    --hover-color: var(--blue-highlight-active);
  }
  &.purple {
    --text-color: var(--purple-static-10);
    --background-color: var(--purple-highlight);
    --hover-color: var(--purple-highlight-active);
  }
  &.yellow {
    --text-color: var(--yellow-static-10);
    --background-color: var(--yellow-highlight);
    --hover-color: var(--yellow-highlight-active);
  }
  &.red {
    --text-color: var(--red-static-10);
    --background-color: var(--red-highlight);
    --hover-color: var(--red-highlight-active);
  }
}

/* If browser doesn't support our fancy background, then fall back. */
@supports (
    not (
      background: linear-gradient(
          180deg,
          color-mix(in srgb, var(--text-color), transparent 100%) 61.5%,
          color-mix(in srgb, var(--text-color), transparent 80%) 100%
        ), var(--background-color)
    )
  ) {
  button,
  a.button {
    background: var(--background-color);
  }
}
