button {
  --text-color: var(--primary-10);
  --background-color: var(--primary-highlight);
  --hover-color: var(--primary-highlight-active);

  all: unset;
  cursor: pointer;
  padding: .5rem 2rem;
  color: var(--text-color);
  border-radius: var(--border-radius);
  border-radius: 0.25rem;
  background: linear-gradient(
      180deg,
      color-mix(in srgb, var(--text-color), transparent 100%) 61.5%,
      color-mix(in srgb, var(--text-color), transparent 80%) 100%
    ), var(--background-color);

  &:hover {
    background-color: var(--hover-color);
  }

  &.gray {
    --text-color: var(--gray-10);
    --background-color: var(--gray-highlight);
    --hover-color: var(--gray-highlight-active);
  }
  &.magenta {
    --text-color: var(--magenta-10);
    --background-color: var(--magenta-highlight);
    --hover-color: var(--magenta-highlight-active);
  }
  &.orange {
    --text-color: var(--orange-10);
    --background-color: var(--orange-highlight);
    --hover-color: var(--orange-highlight-active);
  }
  &.green {
    --text-color: var(--green-10);
    --background-color: var(--green-highlight);
    --hover-color: var(--green-highlight-active);
  }
  &.blue {
    --text-color: var(--blue-10);
    --background-color: var(--blue-highlight);
    --hover-color: var(--blue-highlight-active);
  }
  &.purple {
    --text-color: var(--purple-10);
    --background-color: var(--purple-highlight);
    --hover-color: var(--purple-highlight-active);
  }
  &.yellow {
    --text-color: var(--yellow-10);
    --background-color: var(--yellow-highlight);
    --hover-color: var(--yellow-highlight-active);
  }
  &.red {
    --text-color: var(--red-10);
    --background-color: var(--red-highlight);
    --hover-color: var(--red-highlight-active);
  }
}
