@charset "utf-8";
/* CSS Document */

/**** EUREKA DESIGN SYSTEM CODE TOOL CSS α0.2.8 ****/
/***************************************************/

/**** BEGIN EUREKA CODE TOOL CSS ****/
/************************************/
ca-code-tool {
    color: var(--primary-text);
    
    /* I used a @media query instead of a @container query. */
    /* I can never get @container working. But it's here if you'd wanna challenge. Happy hunting. :) */
    container: tool / inline-size;
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
        "code"
        "output";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    min-height: 40rem;
    
    /*** BEGIN ELEMENTS THAT SHARE CSS AND APPLY TO BOTH GRID-COLUMNS ***/
    /********************************************************************/
    
    /** BEGIN SECTION HEADINGS **/
    /****************************/
    section#code div[type="heading"], section#output div[type="heading"] {
        background-color: var(--primary-background-50);
        & h3 {
            font-weight: 500;
            margin-block: auto;
            padding-block: var(--flow-space);
            padding-inline: var(--flow-space);
        }
    }
    /** END SECTION HEADINGS **/
    /**************************/
    
    /** BEGIN .DARTH-THUMB (SCROLLBAR) **/
    /************************************/
    [data-toggle="darth-thumb"]::-webkit-scrollbar-track {
        background-color: var(--primary-background-30);
    }
    [data-toggle="darth-thumb"]::-webkit-scrollbar {
        height: 0.65rem;
        width: 0.65rem;
    }
    pre[data-toggle="darth-thumb"]::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
    }
    [data-toggle="darth-thumb"]::-webkit-scrollbar-thumb {
        background-color: var(--primary-background-60);
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    /** END DARTH SCROLLBAR **/
    /*************************/
    
    /** END BUTTONS **/
    /*****************/
    button:hover {
        cursor: pointer;
    }
    /** END BUTTONS **/
    /*****************/
    /*** END ELEMENTS THAT SHARE CSS ***/
    /***********************************/
    
    /*** BEGIN 'CODE' GRID-TEMPLATE-AREA ***/
    /***************************************/
    section#code {
        color: var(--primary-text);
        overflow-y: hidden;
        article.snippet {
            background-color: var(--primary-background-40);
            max-height: 30rem;
            padding-block-start: 0.5rem;
            padding-inline: var(--flow-space);
            overflow-y: auto;
            overflow-x: hidden;
            
            /** BEGIN DETAILS ACCORDION **/
            /*****************************/
            details {
                background: var(--gray-10);
                cursor: pointer;
                font-family: "Cascadia code";
                font-size: 1.2rem;
                margin-block: var(--flow-space);
                padding-block-start: var(--flow-space);
                overflow: hidden;
            }
            details:hover, details:focus-within {
                outline: 2px solid var(--gray-120);
            }
            details > summary {
                color: var(--primary-text);
                font-family: "Noto Sans";
                list-style-type: none;
                padding-block-end: var(--flow-space);
                padding-inline: var(--flow-space);
            }
            details > summary svg {
                fill: var(--primary-text);
                margin-inline-end: 0.5rem;
                vertical-align: bottom;
            }
            details > summary:focus-visible {
                outline: none;
            }
            
            .tab {
                display: flex;
                justify-content: space-between;
                overflow: hidden;
            }
            tab > button {
                width: 30%;
            }
            .tabcontent {
                display: none;
                flex-wrap: wrap;
            }
            
            pre {
                color: var(--coastal-static-50);
                cursor: text;
                font-size: var(--text-size-sm);
                height: auto;
                padding-block-start: var(--flow-space);
                padding-inline: 1.25rem;
                overflow: auto;
                white-space: ;
            }
            
            /** PLAN ON USING JS TO IMPORT CODE HIGHLIGHTS IN A LATER VERSION. **/
            /*pre span.content {
                color: var(--primary-100);
              }
              pre span.declaration {
                color: var(--orange-static-50);
              }
              pre span.in-parens {
                color: var(--yellow-static-50);
              }
            */
            
            /** BEGIN BUTTONS **/
            /*******************/
            button.html, button.css, button.js {
                background-color: var(--primary-30);
                border: none;
                color: var(--primary-text);
                font-family: "Noto Sans";
                font-size: var(--text-size-sm);
                font-weight: 500;
                outline: none;
                padding-block: 1rem;
                width: 33%;
            }
            button.html:hover, button.css:hover, button.js:hover {
                background-color: var(--primary-40);
                transition: ease-in-out 0.2s;
            }
            button.copy:hover, button.copy:focus-within {
                outline: 2px solid var(--primary-40);
            }
            button.html.active, button.css.active, button.js.active {
                background-color: var(--primary-20);
                font-size: 1rem;
                font-weight: 500;
                transition: ease-in-out 0.2s;
            }
            button.html:focus-visible, button.css:focus-visible, button.js:focus-visible {
                outline: none !important;
            }
            button.html:focus-within, button.css:focus-within, button.js:focus-within {
                font-weight: 700;
                font-size: 1.2rem;
                text-decoration: underline;
            }            
            button.copy {
                background-color: var(--gray-static-120);
                border: none;
                /*margin-block-start: 0.25rem;*/
                margin-block: 0.5rem;
                margin-inline-start: 1.5rem;
                padding-block: 0.35rem 0.25rem;
                padding-inline: 0.5rem;
            }
            button.copy > svg {
                fill: var(--gray-static-10);
            }
            /** END BUTTONS **/
            /*****************/
            
            /* BEGIN COPY BUTTON W/ SUCCESS VALIDATION.*/
            /* THERE IS ALSO JS FUNCTIONALITY THAT ACCOMPANIES THIS CSS. */
            /*************************************************************/
            .copy-container {
                background-color: var(--gray-static-120);
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
            .copy-btn:focus-within {
                outline: 1px solid var(--gray-120);
            }
            /* Success Message Styling */
            .copy-btn, .copy-success {
                max-width: min-content;
            }
            .copy-success {
                background: var(--green-highlight);
                border-radius: 0.25rem; /* We can adjust this based on the theme settings. */
                color: var(--gray-text);
                font-weight: 300;
                font-size: var(--text-size);
                margin-block: 0.5rem;
                /*margin-block-end: var(--flow-space);*/
                margin-inline-start: 0.25rem;
                opacity: 0; /* Start fully transparent */
                padding-block-start: 0.15rem;
                padding-inline: 0.25rem;
                transform: scale(0.6); /* Start slightly smaller */
                transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0s linear 0.4s;
                visibility: hidden; /* Hide it visually but keep it in layout */
            }
            .copy-success > svg {
                fill: var(--gray-static-10);
            }
            /* When the success message is active */
            .success-flex {
                display: flex;
                margin-block-start: 0.5rem;
            }
            .copy-success.show {
                opacity: 1;
                visibility: visible;
                transform: scale(0.8);
                transition: opacity 0.4s ease-out, transform 0.4s ease-out;
            }
            /** END COPY BUTTON **/
            /*********************/
            /** END DETAILS ACCORDION **/
            /***************************/
        }
    }
    /*** END 'CODE' GRID-TEMPLATE-AREA ***/
    /*************************************/
    
    /*** BEGIN 'OUTPUT' GRID-TEMPLATE-AREA ***/
    /*****************************************/
    section#output {
        background: var(--primary-background-40);
        display: grid;
        grid-template-areas:
            "heading"
            "body";
        grid-template-columns: auto;
        
        & div[type="heading"] {
            display: flex;
            justify-content: space-between;
          
            & small {
                margin-block: 1.5rem;
            }
        }
        
        /** BEGIN LIGHT/DARK TOGGLE **/
        /*****************************/
        ca-color-scheme-toggle {
            display: flex;
            gap: 0.5rem;
            
            button {
                background-color: var(--primary-background-50);
                border: none;
                cursor: pointer;
                margin-block: var(--flow-space);
                margin-inline-end: var(--flow-space);
                */ padding: 0;
            }
            button svg {
                fill: var(--primary-text);
                margin-block-start: 0.1rem;
            }
            button:focus-visible {
                outline: none;
            }
            button:focus-within {
                outline: 2px solid var(--gray-120);
            }
        }
        /** END LIGHT/DARK TOGGLE **/
        /***************************/
        
        article#body {
            padding-block: 1.5rem;
            padding-inline: var(--flow-space);
            
            p {
                color: var(--primary-text);
                text-align: left;
            }
        }
    }
    /*** END 'OUTPUT' GRID-TEMPLATE-AREA ***/
    /***************************************/
}
/*** END EUREKA CODE TOOL ***/
/****************************/