:root {
  /* Link colors */
  --link-light: #0057ad;
  --link-light-active: #8a0071;
  --link-dark: #87cefa;
  --link-dark-active: #c686b9;
  --text-light: #292929;
  --text-dark: #fefefe;

  /* Grayscale palette, can be used as theme */
  --gray-static-10: #fefefe;
  --gray-static-20: #e7e7e7;
  --gray-static-30: #d0d0d0;
  --gray-static-40: #b9b9b9;
  --gray-static-50: #a2a2a2;
  --gray-static-60: #8b8b8b;
  --gray-static-70: #737373;
  --gray-static-80: #5c5c5c;
  --gray-static-90: #454545;
  --gray-static-100: #292929;
  --gray-static-110: #171717;
  --gray-static-120: #0f0f0f;
  --gray-lightest: var(--gray-static-10);
  --gray-lighter: #f9f9f9;
  --gray-light: #f4f4f4;
  --gray-palest: #efefef;
  --gray-paler: #e4e4e4;
  --gray-pale: #dadada;
  --gray-dim: #2e2e2e;
  --gray-dimmer: #242424;
  --gray-dimmest: #1f1f1f;
  --gray-dark: #1a1a1a;
  --gray-darker: #141414;
  --gray-darkest: var(--gray-static-120);
  --gray-accent: var(--gray-static-70);
  --gray-highlight: var(--gray-static-100);
  --gray-highlight-active-dark: var(--gray-static-90);
  --gray-highlight-active-light: var(--gray-static-110);

  /* Coastal Blue, theme */
  --coastal-static-10: #fefeff;
  --coastal-static-20: #d0f0ff;
  --coastal-static-30: #a2e2ff;
  --coastal-static-40: #73d3ff;
  --coastal-static-50: #45c5fe;
  --coastal-static-60: #17b6ff;
  --coastal-static-70: #009fe7;
  --coastal-static-80: #007fb9;
  --coastal-static-90: #00618d;
  --coastal-static-100: #003f5c;
  --coastal-static-110: #001f2e;
  --coastal-static-120: #000e14;
  --coastal-lightest: #fefeff;
  --coastal-lighter: #f4fbff;
  --coastal-light: #eaf8ff;
  --coastal-palest: #dff5ff;
  --coastal-paler: #caeeff;
  --coastal-pale: #b6e8ff;
  --coastal-dim: #004e72;
  --coastal-dimmmer: #00405d;
  --coastal-dimmest: #003248;
  --coastal-dark: #002334;
  --coastal-darker: #001c29;
  --coastal-darkest: #00151f;
  --coastal-main-accent: var(--coastal-static-90);
  --coastal-optional-accent-dark: #d9b983;
  --coastal-optional-accent-light: #cc860c;
  --coastal-highlight: var(--coastal-static-90);
  --coastal-highlight-active-dark: var(--coastal-static-80);
  --coastal-highlight-active-light: var(--coastal-static-100);

  /* Desert Tan, theme */
  --desert-static-10: #fefefe;
  --desert-static-20: #f1e9d9;
  --desert-static-30: #e4d3b3;
  --desert-static-40: #d6be8e;
  --desert-static-50: #c9a868;
  --desert-static-60: #c29d51;
  --desert-static-70: #b58e41;
  --desert-static-80: #967535;
  --desert-static-90: #705828;
  --desert-static-100: #4b3a1a;
  --desert-static-110: #251d0d;
  --desert-static-120: #0f0c05;
  --desert-lightest: #fefefe;
  --desert-lighter: #fcfaf7;
  --desert-light: #f9f6ef;
  --desert-palest: #f6f1e8;
  --desert-paler: #f1e8d8;
  --desert-pale: #ebe0c9;
  --desert-dim: #54421e;
  --desert-dimmer: #443618;
  --desert-dimmest: #352a13;
  --desert-dark: #261e0d;
  --desert-darker: #261e0d;
  --desert-darkest: #161208;
  --desert-main-accent: var(--desert-static-70);
  --desert-optional-accent-dark: #83a0ff;
  --desert-optional-accent-light: #2f65da;
  --desert-highlight: var(--desert-static-70);
  --desert-highlight-active-dark: var(--desert-static-60);
  --desert-highlight-active-light: var(--desert-static-80);

  /* Mountain Gray, theme */
  --mountain-static-10: #fefeff;
  --mountain-static-20: #e0e7ea;
  --mountain-static-30: #c1cfd6;
  --mountain-static-40: #a2b8c2;
  --mountain-static-50: #83a0ae;
  --mountain-static-60: #688c9d;
  --mountain-static-70: #5e8394;
  --mountain-static-80: #506d7b;
  --mountain-static-90: #3c525c;
  --mountain-static-100: #28363d;
  --mountain-static-110: #141b1e;
  --mountain-static-120: #080b0c;
  --mountain-lightest: #fefeff;
  --mountain-lighter: #f8fafa;
  --mountain-light: #f2f5f6;
  --mountain-palest: #ecf0f2;
  --mountain-paler: #dfe6ea;
  --mountain-pale: #d2dde2;
  --mountain-dim: #2d3d45;
  --mountain-dimmer: #243238;
  --mountain-dimmest: #1c272c;
  --mountain-dark: #141c1f;
  --mountain-darker: #101619;
  --mountain-darkest: #0c1012;
  --mountain-main-accent: var(--mountain-static-60);
  --mountain-optional-accent-dark: #bee6ff;
  --mountain-optional-accent-light: #167837;
  --mountain-highlight: var(--mountain-static-60);
  --mountain-highlight-active-dark: var(--mountain-static-50);
  --mountain-highlight-active-light: var(--mountain-static-70);

  /* Valley Green, theme */
  --valley-static-10: #feffff;
  --valley-static-20: #dbecef;
  --valley-static-30: #b8dadf;
  --valley-static-40: #94c8d0;
  --valley-static-50: #71b6c0;
  --valley-static-60: #4da4b1;
  --valley-static-70: #46919c;
  --valley-static-80: #3c7f89;
  --valley-static-90: #2e626a;
  --valley-static-100: #1f4146;
  --valley-static-110: #0f2023;
  --valley-static-120: #060d0e;
  --valley-lightest: #feffff;
  --valley-lighter: #f7fbfb;
  --valley-light: #f0f7f8;
  --valley-palest: #e9f3f5;
  --valley-paler: #daecef;
  --valley-pale: #cce5e8;
  --valley-dim: #22494f;
  --valley-dimmer: #1c3c41;
  --valley-dimmest: #162e32;
  --valley-dark: #0f2124;
  --valley-darker: #0c1a1c;
  --valley-darkest: #091415;
  --valley-main-accent: var(--valley-static-80);
  --valley-optional-accent-dark: #e7e7bf;
  --valley-optional-accent-light: #f64d13;
  --valley-highlight: var(--valley-static-80);
  --valley-highlight-active-dark: var(--valley-static-70);
  --valley-highlight-active-light: var(--valley-static-90);

  /* Magenta palette, bright */
  --magenta-static-10: #fffefe;
  --magenta-static-20: #fdcde3;
  --magenta-static-30: #fc9bc8;
  --magenta-static-40: #fa6aad;
  --magenta-static-50: #f93892;
  --magenta-static-60: #f60776;
  --magenta-static-70: #e00369;
  --magenta-static-80: #c6055f;
  --magenta-static-90: #940447;
  --magenta-static-100: #63022f;
  --magenta-static-110: #310117;
  --magenta-static-120: #140009;
  --magenta-highlight: var(--magenta-static-60);
  --magenta-highlight-active-dark: var(--magenta-static-50);
  --magenta-highlight-active-light: var(--magenta-static-70);

  /* Orange palette, bright */
  --orange-static-10: #fffefe;
  --orange-static-20: #fdd9cd;
  --orange-static-30: #fbb49c;
  --orange-static-40: #f98f6b;
  --orange-static-50: #f76a3a;
  --orange-static-60: #f64d13;
  --orange-static-70: #e94209;
  --orange-static-80: #c43707;
  --orange-static-90: #932905;
  --orange-static-100: #621b03;
  --orange-static-110: #310d01;
  --orange-static-120: #140500;
  --orange-highlight: var(--orange-static-60);
  --orange-highlight-active-dark: var(--orange-static-50);
  --orange-highlight-active-light: var(--orange-static-70);

  /* Green palette, bright */
  --green-static-10: #fefefe;
  --green-static-20: #cdfdea;
  --green-static-30: #9cfbd5;
  --green-static-40: #6afac1;
  --green-static-50: #39f8ac;
  --green-static-60: #12eb95;
  --green-static-70: #0acc7f;
  --green-static-80: #05a465;
  --green-static-90: #00804d;
  --green-static-100: #03623c;
  --green-static-110: #01311e;
  --green-static-120: #00140c;
  --green-highlight: var(--green-static-80);
  --green-highlight-active-dark: var(--green-static-70);
  --green-highlight-active-light: var(--green-static-90);

  /* Blue palette, bright */
  --blue-static-10: #fefeff;
  --blue-static-20: #cce0fe;
  --blue-static-30: #99c2ff;
  --blue-static-40: #66a4ff;
  --blue-static-50: #3386ff;
  --blue-static-60: #1c78ff;
  --blue-static-70: #0063f2;
  --blue-static-80: #0053cc;
  --blue-static-90: #003e99;
  --blue-static-100: #002966;
  --blue-static-110: #001433;
  --blue-static-120: #000814;
  --blue-highlight: var(--blue-static-70);
  --blue-highlight-active-dark: var(--blue-static-60);
  --blue-highlight-active-light: var(--blue-static-80);

  /* Purple palette, bright */
  --purple-static-10: #fefeff;
  --purple-static-20: #d0cdfd;
  --purple-static-30: #a29bfc;
  --purple-static-40: #746afa;
  --purple-static-50: #574afa;
  --purple-static-60: #4638f9;
  --purple-static-70: #2718e2;
  --purple-static-80: #1305c6;
  --purple-static-90: #0e0494;
  --purple-static-100: #090263;
  --purple-static-110: #040131;
  --purple-static-120: #020014;
  --purple-highlight: var(--purple-static-50);
  --purple-highlight-active-dark: var(--purple-static-40);
  --purple-highlight-active-light: var(--purple-static-60);

  /* Red palette, alert */
  --red-static-10: #fffefe;
  --red-static-20: #fcced1;
  --red-static-30: #fa9da3;
  --red-static-40: #f86c76;
  --red-static-50: #f2515c;
  --red-static-60: #f5202f;
  --red-static-70: #de0818;
  --red-static-80: #c30815;
  --red-static-90: #920610;
  --red-static-100: #61040a;
  --red-static-110: #300205;
  --red-static-120: #130002;
  --red-highlight: var(--red-static-60);
  --red-highlight-active-dark: var(--red-static-50);
  --red-highlight-active-light: var(--red-static-70);

  /* Yellow palette, alert */
  --yellow-static-10: #fffefe;
  --yellow-static-20: #fcebce;
  --yellow-static-30: #f9d89e;
  --yellow-static-40: #f6c46e;
  --yellow-static-50: #efad39;
  --yellow-static-60: #e59810;
  --yellow-static-70: #cc860c;
  --yellow-static-80: #b47509;
  --yellow-static-90: #905e08;
  --yellow-static-100: #603f05;
  --yellow-static-110: #301f02;
  --yellow-static-120: #130c01;
  --yellow-highlight: var(--yellow-static-70);
  --yellow-highlight-active-dark: var(--yellow-static-60);
  --yellow-highlight-active-light: var(--yellow-static-80);
}

/* Light mode (default) */
:root,
[data-color-scheme="light"] {
  --link: var(--link-light);
  --link-active: var(--link-light-active);
  --text: var(--text-light);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --gray-10: var(--gray-static-10);
  --gray-20: var(--gray-static-20);
  --gray-30: var(--gray-static-30);
  --gray-40: var(--gray-static-40);
  --gray-50: var(--gray-static-50);
  --gray-60: var(--gray-static-60);
  --gray-70: var(--gray-static-70);
  --gray-80: var(--gray-static-80);
  --gray-90: var(--gray-static-90);
  --gray-100: var(--gray-static-100);
  --gray-110: var(--gray-static-110);
  --gray-120: var(--gray-static-120);
  --gray-background-10: var(--gray-lightest);
  --gray-background-20: var(--gray-lighter);
  --gray-background-30: var(--gray-light);
  --gray-background-40: var(--gray-palest);
  --gray-background-50: var(--gray-paler);
  --gray-background-60: var(--gray-pale);
  --gray-text: var(--gray-120);
  --gray-background: var(--gray-background-10);
  --gray-highlight-active: var(--gray-highlight-active-light);
  --coastal-10: var(--coastal-static-10);
  --coastal-20: var(--coastal-static-20);
  --coastal-30: var(--coastal-static-30);
  --coastal-40: var(--coastal-static-40);
  --coastal-50: var(--coastal-static-50);
  --coastal-60: var(--coastal-static-60);
  --coastal-70: var(--coastal-static-70);
  --coastal-80: var(--coastal-static-80);
  --coastal-90: var(--coastal-static-90);
  --coastal-100: var(--coastal-static-100);
  --coastal-110: var(--coastal-static-110);
  --coastal-120: var(--coastal-static-120);
  --coastal-background-10: var(--coastal-lightest);
  --coastal-background-20: var(--coastal-lighter);
  --coastal-background-30: var(--coastal-light);
  --coastal-background-40: var(--coastal-palest);
  --coastal-background-50: var(--coastal-paler);
  --coastal-background-60: var(--coastal-pale);
  --coastal-optional-accent: var(--coastal-optional-accent-light);
  --coastal-text: var(--coastal-120);
  --coastal-background: var(--coastal-background-10);
  --coastal-highlight-active: var(--coastal-highlight-active-light);
  --desert-10: var(--desert-static-10);
  --desert-20: var(--desert-static-20);
  --desert-30: var(--desert-static-30);
  --desert-40: var(--desert-static-40);
  --desert-50: var(--desert-static-50);
  --desert-60: var(--desert-static-60);
  --desert-70: var(--desert-static-70);
  --desert-80: var(--desert-static-80);
  --desert-90: var(--desert-static-90);
  --desert-100: var(--desert-static-100);
  --desert-110: var(--desert-static-110);
  --desert-120: var(--desert-static-120);
  --desert-background-10: var(--desert-lightest);
  --desert-background-20: var(--desert-lighter);
  --desert-background-30: var(--desert-light);
  --desert-background-40: var(--desert-palest);
  --desert-background-50: var(--desert-paler);
  --desert-background-60: var(--desert-pale);
  --desert-optional-accent: var(--desert-optional-accent-light);
  --desert-text: var(--desert-120);
  --desert-background: var(--desert-background-10);
  --desert-highlight-active: var(--desert-highlight-active-light);
  --mountain-10: var(--mountain-static-10);
  --mountain-20: var(--mountain-static-20);
  --mountain-30: var(--mountain-static-30);
  --mountain-40: var(--mountain-static-40);
  --mountain-50: var(--mountain-static-50);
  --mountain-60: var(--mountain-static-60);
  --mountain-70: var(--mountain-static-70);
  --mountain-80: var(--mountain-static-80);
  --mountain-90: var(--mountain-static-90);
  --mountain-100: var(--mountain-static-100);
  --mountain-110: var(--mountain-static-110);
  --mountain-120: var(--mountain-static-120);
  --mountain-background-10: var(--mountain-lightest);
  --mountain-background-20: var(--mountain-lighter);
  --mountain-background-30: var(--mountain-light);
  --mountain-background-40: var(--mountain-palest);
  --mountain-background-50: var(--mountain-paler);
  --mountain-background-60: var(--mountain-pale);
  --mountain-optional-accent: var(--mountain-optional-accent-light);
  --mountain-text: var(--mountain-120);
  --mountain-background: var(--mountain-background-10);
  --mountain-highlight-active: var(--mountain-highlight-active-light);
  --valley-10: var(--valley-static-10);
  --valley-20: var(--valley-static-20);
  --valley-30: var(--valley-static-30);
  --valley-40: var(--valley-static-40);
  --valley-50: var(--valley-static-50);
  --valley-60: var(--valley-static-60);
  --valley-70: var(--valley-static-70);
  --valley-80: var(--valley-static-80);
  --valley-90: var(--valley-static-90);
  --valley-100: var(--valley-static-100);
  --valley-110: var(--valley-static-110);
  --valley-120: var(--valley-static-120);
  --valley-background-10: var(--valley-lightest);
  --valley-background-20: var(--valley-lighter);
  --valley-background-30: var(--valley-light);
  --valley-background-40: var(--valley-palest);
  --valley-background-50: var(--valley-paler);
  --valley-background-60: var(--valley-pale);
  --valley-optional-accent: var(--valley-optional-accent-light);
  --valley-text: var(--valley-120);
  --valley-background: var(--valley-background-10);
  --valley-highlight-active: var(--valley-highlight-active-light);
  --magenta-10: var(--magenta-static-10);
  --magenta-20: var(--magenta-static-20);
  --magenta-30: var(--magenta-static-30);
  --magenta-40: var(--magenta-static-40);
  --magenta-50: var(--magenta-static-50);
  --magenta-60: var(--magenta-static-60);
  --magenta-70: var(--magenta-static-70);
  --magenta-80: var(--magenta-static-80);
  --magenta-90: var(--magenta-static-90);
  --magenta-100: var(--magenta-static-100);
  --magenta-110: var(--magenta-static-110);
  --magenta-120: var(--magenta-static-120);
  --magenta-highlight-active: var(--magenta-highlight-active-light);
  --orange-10: var(--orange-static-10);
  --orange-20: var(--orange-static-20);
  --orange-30: var(--orange-static-30);
  --orange-40: var(--orange-static-40);
  --orange-50: var(--orange-static-50);
  --orange-60: var(--orange-static-60);
  --orange-70: var(--orange-static-70);
  --orange-80: var(--orange-static-80);
  --orange-90: var(--orange-static-90);
  --orange-100: var(--orange-static-100);
  --orange-110: var(--orange-static-110);
  --orange-120: var(--orange-static-120);
  --orange-highlight-active: var(--orange-highlight-active-light);
  --green-10: var(--green-static-10);
  --green-20: var(--green-static-20);
  --green-30: var(--green-static-30);
  --green-40: var(--green-static-40);
  --green-50: var(--green-static-50);
  --green-60: var(--green-static-60);
  --green-70: var(--green-static-70);
  --green-80: var(--green-static-80);
  --green-90: var(--green-static-90);
  --green-100: var(--green-static-100);
  --green-110: var(--green-static-110);
  --green-120: var(--green-static-120);
  --green-highlight-active: var(--green-highlight-active-light);
  --blue-10: var(--blue-static-10);
  --blue-20: var(--blue-static-20);
  --blue-30: var(--blue-static-30);
  --blue-40: var(--blue-static-40);
  --blue-50: var(--blue-static-50);
  --blue-60: var(--blue-static-60);
  --blue-70: var(--blue-static-70);
  --blue-80: var(--blue-static-80);
  --blue-90: var(--blue-static-90);
  --blue-100: var(--blue-static-100);
  --blue-110: var(--blue-static-110);
  --blue-120: var(--blue-static-120);
  --blue-highlight-active: var(--blue-highlight-active-light);
  --purple-10: var(--purple-static-10);
  --purple-20: var(--purple-static-20);
  --purple-30: var(--purple-static-30);
  --purple-40: var(--purple-static-40);
  --purple-50: var(--purple-static-50);
  --purple-60: var(--purple-static-60);
  --purple-70: var(--purple-static-70);
  --purple-80: var(--purple-static-80);
  --purple-90: var(--purple-static-90);
  --purple-100: var(--purple-static-100);
  --purple-110: var(--purple-static-110);
  --purple-120: var(--purple-static-120);
  --purple-highlight-active: var(--purple-highlight-active-light);
  --red-10: var(--red-static-10);
  --red-20: var(--red-static-20);
  --red-30: var(--red-static-30);
  --red-40: var(--red-static-40);
  --red-50: var(--red-static-50);
  --red-60: var(--red-static-60);
  --red-70: var(--red-static-70);
  --red-80: var(--red-static-80);
  --red-90: var(--red-static-90);
  --red-100: var(--red-static-100);
  --red-110: var(--red-static-110);
  --red-120: var(--red-static-120);
  --red-highlight-active: var(--red-highlight-active-light);
  --yellow-10: var(--yellow-static-10);
  --yellow-20: var(--yellow-static-20);
  --yellow-30: var(--yellow-static-30);
  --yellow-40: var(--yellow-static-40);
  --yellow-50: var(--yellow-static-50);
  --yellow-60: var(--yellow-static-60);
  --yellow-70: var(--yellow-static-70);
  --yellow-80: var(--yellow-static-80);
  --yellow-90: var(--yellow-static-90);
  --yellow-100: var(--yellow-static-100);
  --yellow-110: var(--yellow-static-110);
  --yellow-120: var(--yellow-static-120);
  --yellow-highlight-active: var(--yellow-highlight-active-light);
}

/* Dark mode */
[data-color-scheme="dark"] {
  --link: var(--link-dark);
  --link-active: var(--link-dark-active);
  --text: var(--text-dark);

  /* Invert for dark mode. */
  --gray-10: var(--gray-static-120);
  --gray-20: var(--gray-static-110);
  --gray-30: var(--gray-static-100);
  --gray-40: var(--gray-static-90);
  --gray-50: var(--gray-static-80);
  --gray-60: var(--gray-static-70);
  --gray-70: var(--gray-static-60);
  --gray-80: var(--gray-static-50);
  --gray-90: var(--gray-static-40);
  --gray-100: var(--gray-static-30);
  --gray-110: var(--gray-static-20);
  --gray-120: var(--gray-static-10);
  --gray-background-10: var(--gray-darkest);
  --gray-background-20: var(--gray-darker);
  --gray-background-30: var(--gray-dark);
  --gray-background-40: var(--gray-dimmest);
  --gray-background-50: var(--gray-dimmer);
  --gray-background-60: var(--gray-dim);
  --gray-text: var(--gray-120);
  --gray-background: var(--gray-background-10);
  --gray-highlight-active: var(--gray-highlight-active-dark);
  --coastal-120: var(--coastal-static-10);
  --coastal-110: var(--coastal-static-20);
  --coastal-100: var(--coastal-static-30);
  --coastal-90: var(--coastal-static-40);
  --coastal-80: var(--coastal-static-50);
  --coastal-70: var(--coastal-static-60);
  --coastal-60: var(--coastal-static-70);
  --coastal-50: var(--coastal-static-80);
  --coastal-40: var(--coastal-static-90);
  --coastal-30: var(--coastal-static-100);
  --coastal-20: var(--coastal-static-110);
  --coastal-10: var(--coastal-static-120);
  --coastal-background-10: var(--coastal-darkest);
  --coastal-background-20: var(--coastal-darker);
  --coastal-background-30: var(--coastal-dark);
  --coastal-background-40: var(--coastal-dimmest);
  --coastal-background-50: var(--coastal-dimmer);
  --coastal-background-60: var(--coastal-dim);
  --coastal-optional-accent: var(--coastal-optional-accent-dark);
  --coastal-text: var(--coastal-120);
  --coastal-background: var(--coastal-background-10);
  --coastal-highlight-active: var(--coastal-highlight-active-dark);
  --desert-120: var(--desert-static-10);
  --desert-110: var(--desert-static-20);
  --desert-100: var(--desert-static-30);
  --desert-90: var(--desert-static-40);
  --desert-80: var(--desert-static-50);
  --desert-70: var(--desert-static-60);
  --desert-60: var(--desert-static-70);
  --desert-50: var(--desert-static-80);
  --desert-40: var(--desert-static-90);
  --desert-30: var(--desert-static-100);
  --desert-20: var(--desert-static-110);
  --desert-10: var(--desert-static-120);
  --desert-background-10: var(--desert-darkest);
  --desert-background-20: var(--desert-darker);
  --desert-background-30: var(--desert-dark);
  --desert-background-40: var(--desert-dimmest);
  --desert-background-50: var(--desert-dimmer);
  --desert-background-60: var(--desert-dim);
  --desert-optional-accent: var(--desert-optional-accent-dark);
  --desert-text: var(--desert-120);
  --desert-background: var(--desert-background-10);
  --desert-highlight-active: var(--desert-highlight-active-dark);
  --mountain-120: var(--mountain-static-10);
  --mountain-110: var(--mountain-static-20);
  --mountain-100: var(--mountain-static-30);
  --mountain-90: var(--mountain-static-40);
  --mountain-80: var(--mountain-static-50);
  --mountain-70: var(--mountain-static-60);
  --mountain-60: var(--mountain-static-70);
  --mountain-50: var(--mountain-static-80);
  --mountain-40: var(--mountain-static-90);
  --mountain-30: var(--mountain-static-100);
  --mountain-20: var(--mountain-static-110);
  --mountain-10: var(--mountain-static-120);
  --mountain-background-10: var(--mountain-darkest);
  --mountain-background-20: var(--mountain-darker);
  --mountain-background-30: var(--mountain-dark);
  --mountain-background-40: var(--mountain-dimmest);
  --mountain-background-50: var(--mountain-dimmer);
  --mountain-background-60: var(--mountain-dim);
  --mountain-optional-accent: var(--mountain-optional-accent-dark);
  --mountain-text: var(--mountain-120);
  --mountain-background: var(--mountain-background-10);
  --mountain-highlight-active: var(--mountain-highlight-active-dark);
  --valley-120: var(--valley-static-10);
  --valley-110: var(--valley-static-20);
  --valley-100: var(--valley-static-30);
  --valley-90: var(--valley-static-40);
  --valley-80: var(--valley-static-50);
  --valley-70: var(--valley-static-60);
  --valley-60: var(--valley-static-70);
  --valley-50: var(--valley-static-80);
  --valley-40: var(--valley-static-90);
  --valley-30: var(--valley-static-100);
  --valley-20: var(--valley-static-110);
  --valley-10: var(--valley-static-120);
  --valley-background-10: var(--valley-darkest);
  --valley-background-20: var(--valley-darker);
  --valley-background-30: var(--valley-dark);
  --valley-background-40: var(--valley-dimmest);
  --valley-background-50: var(--valley-dimmer);
  --valley-background-60: var(--valley-dim);
  --valley-optional-accent: var(--valley-optional-accent-dark);
  --valley-text: var(--valley-120);
  --valley-background: var(--valley-background-10);
  --valley-highlight-active: var(--valley-highlight-active-dark);
  --magenta-10: var(--magenta-static-120);
  --magenta-20: var(--magenta-static-110);
  --magenta-30: var(--magenta-static-100);
  --magenta-40: var(--magenta-static-90);
  --magenta-50: var(--magenta-static-80);
  --magenta-60: var(--magenta-static-70);
  --magenta-70: var(--magenta-static-60);
  --magenta-80: var(--magenta-static-50);
  --magenta-90: var(--magenta-static-40);
  --magenta-100: var(--magenta-static-30);
  --magenta-110: var(--magenta-static-20);
  --magenta-120: var(--magenta-static-10);
  --magenta-highlight-active: var(--magenta-highlight-active-dark);
  --orange-10: var(--orange-static-120);
  --orange-20: var(--orange-static-110);
  --orange-30: var(--orange-static-100);
  --orange-40: var(--orange-static-90);
  --orange-50: var(--orange-static-80);
  --orange-60: var(--orange-static-70);
  --orange-70: var(--orange-static-60);
  --orange-80: var(--orange-static-50);
  --orange-90: var(--orange-static-40);
  --orange-100: var(--orange-static-30);
  --orange-110: var(--orange-static-20);
  --orange-120: var(--orange-static-10);
  --orange-highlight-active: var(--orange-highlight-active-dark);
  --green-10: var(--green-static-120);
  --green-20: var(--green-static-110);
  --green-30: var(--green-static-100);
  --green-40: var(--green-static-90);
  --green-50: var(--green-static-80);
  --green-60: var(--green-static-70);
  --green-70: var(--green-static-60);
  --green-80: var(--green-static-50);
  --green-90: var(--green-static-40);
  --green-100: var(--green-static-30);
  --green-110: var(--green-static-20);
  --green-120: var(--green-static-10);
  --green-highlight-active: var(--green-highlight-active-dark);
  --blue-10: var(--blue-static-120);
  --blue-20: var(--blue-static-110);
  --blue-30: var(--blue-static-100);
  --blue-40: var(--blue-static-90);
  --blue-50: var(--blue-static-80);
  --blue-60: var(--blue-static-70);
  --blue-70: var(--blue-static-60);
  --blue-80: var(--blue-static-50);
  --blue-90: var(--blue-static-40);
  --blue-100: var(--blue-static-30);
  --blue-110: var(--blue-static-20);
  --blue-120: var(--blue-static-10);
  --blue-highlight-active: var(--blue-highlight-active-dark);
  --purple-10: var(--purple-static-120);
  --purple-20: var(--purple-static-110);
  --purple-30: var(--purple-static-100);
  --purple-40: var(--purple-static-90);
  --purple-50: var(--purple-static-80);
  --purple-60: var(--purple-static-70);
  --purple-70: var(--purple-static-60);
  --purple-80: var(--purple-static-50);
  --purple-90: var(--purple-static-40);
  --purple-100: var(--purple-static-30);
  --purple-110: var(--purple-static-20);
  --purple-120: var(--purple-static-10);
  --purple-highlight-active: var(--purple-highlight-active-dark);
  --red-10: var(--red-static-120);
  --red-20: var(--red-static-110);
  --red-30: var(--red-static-100);
  --red-40: var(--red-static-90);
  --red-50: var(--red-static-80);
  --red-60: var(--red-static-70);
  --red-70: var(--red-static-60);
  --red-80: var(--red-static-50);
  --red-90: var(--red-static-40);
  --red-100: var(--red-static-30);
  --red-110: var(--red-static-20);
  --red-120: var(--red-static-10);
  --red-highlight-active: var(--red-highlight-active-dark);
  --yellow-10: var(--yellow-static-120);
  --yellow-20: var(--yellow-static-110);
  --yellow-30: var(--yellow-static-100);
  --yellow-40: var(--yellow-static-90);
  --yellow-50: var(--yellow-static-80);
  --yellow-60: var(--yellow-static-70);
  --yellow-70: var(--yellow-static-60);
  --yellow-80: var(--yellow-static-50);
  --yellow-90: var(--yellow-static-40);
  --yellow-100: var(--yellow-static-30);
  --yellow-110: var(--yellow-static-30);
  --yellow-120: var(--yellow-static-10);
  --yellow-highlight-active: var(--yellow-highlight-active-dark);
}

:root,
[data-accent*="primary"] {
  --coastal-accent: var(--coastal-main-accent);
  --mountain-accent: var(--mountain-main-accent);
  --desert-accent: var(--desert-main-accent);
  --valley-accent: var(--valley-main-accent);
}
[data-accent*="secondary"] {
  --coastal-accent: var(--coastal-optional-accent);
  --mountain-accent: var(--mountain-optional-accent);
  --desert-accent: var(--desert-optional-accent);
  --valley-accent: var(--valley-optional-accent);
}
