/*
 * Universal
 */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

/*
 * Document
 */

body {
	background-color: var(--background-color);
	color: var(--text-color);
	min-height: 100vh;
}

/*
 * Sectioning
 */

article,
aside,
hgroup,
main,
nav,
section {
	padding: 1rem;
}

/*
 * Content
 *
 * Many content rules are in typography.css.
 */

blockquote {
	border-inline-start: var(--gray-300) .25rem solid;
	margin: 1rem 0;
	padding-inline-start: 1rem;
}

dl {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 1rem;
}

dt {
	font-weight: 600;
}

figure {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: .5rem;
	margin: 1rem 0;
	border: .125rem solid var(--gray-300);
	max-width: var(--text-max-width);
}

figcaption {
	font-style: italic;
}

hr {
	border: none;
	border-block-start: .25rem solid var(--gray-300);
	height: .25rem;
	margin: 1rem 0;
	line-height: 1rem;
}

ul,
ol,
menu {
	margin: 1rem 0;
}

/*
 * Inline
 */

a {
	color: var(--link-color);

	&:focus {
		color: var(--active-link-color);
	}
}

abbr {
	font-weight: 700;
}

del {
	background-color: lightcoral;
}

ins {
	background-color: lightgreen;
}

kbd {
	border: .125rem solid var(--text-color);
	border-radius: .25rem;
	padding: .25rem;
}

mark {
	background-color: lightyellow;
}

:target {
	scroll-margin-block: 5ex;
}

/*
 * Forms
 */

/* Default to display:block for most inputs. */
label,
input:not([type="radio"], [type="checkbox"]),
textarea,
select {
	display: block;
}

/* Increase width for some inputs. */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea {
	inline-size: 100%;
	max-inline-size: var(--text-max-width);
}

label {
	/* When a label is followed by an input, add small margin between. */
	&:has(+ input:not([type="radio"], [type="checkbox"])),
	&:has(+ textarea),
	&:has(+ select) {
		margin-block: 1rem .25rem;
	}

	/* When an input is preceded by a label, add margin after the pair. */
	& + input:not([type="radio"], [type="checkbox"]),
	& + textarea,
	& + select {
		margin-block: .25rem 1rem;
	}
}

fieldset {
	margin-block: 1rem;
	border: none;
	padding: 0;
}

legend {
	margin-block-end: .25rem;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline;
}

:is(input[type="radio"], input[type="checkbox"]) + label {
	display: inline;

	&:after {
		display: block;
		content: "\A";
	}
}

/* No flattened textareas. */
textarea:not([rows]) {
	min-height: 10em;
}

/*
 * Media
 */

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

/* Tables */

table {
	border-collapse: collapse;
	border: .25rem solid var(--text-color);
}

caption {
	caption-side: bottom;
	padding: 1rem 0;
	font-style: italic;
	text-align: left;
}

th,
td {
	border: .125rem solid var(--text-color);
	padding: 1rem;
}

/* Interactive */

details {
	border: .125rem solid var(--text-color);
	padding: 0;

	&[open] summary {
		margin-block-end: 1rem;
		border-block-end: .125rem solid var(--text-color);
	}

	&[open] > :not(summary) {
		margin-inline: 1rem;
	}
}

summary {
	padding: 1rem;
}
