blockquote {
	border-left: var(--gray-300) 4px solid;
	margin-left: 0;
	padding-left: var(--space-unit-x4);
}

dl {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 1rem;
}

dt {
	font-weight: 600;
}
