@font-face {
	font-family: "California-Design-System-Icon-Font";
	src: url("/fonts/California-Design-System-Icon-Font.woff2?c50244e257b704a11c62ce53e749af58") format("woff2"),
url("/fonts/California-Design-System-Icon-Font.woff?c50244e257b704a11c62ce53e749af58") format("woff");
}

ca-icon:before {
	font-family: California-Design-System-Icon-Font !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ca-icon[name="search"]:before {
  content: "\f101";
}
ca-icon[name="arrow-forward"]:before {
  content: "\f102";
}
