/*
 * Layout grid area definitions
 */

ca-layout,
.ca-layout {
	& > ca-site-menu {
		grid-area: burger;
		background-color: lightcoral;
	}

	& > header {
		grid-area: header;
		padding: 1rem;
		background-color: lightblue;
	}

	& > search {
		grid-area: search;
		padding: 1rem;
		background-color: lightgreen;
	}

	& > nav#utility-nav {
		grid-area: utility-nav;
		background-color: orange;
	}

	& > nav#site-nav {
		grid-area: site-nav;
		padding: 1rem;
		background-color: yellow;
	}

	& > main {
		grid-area: main;
		background-color: cornsilk;
	}

	& > footer {
		grid-area: footer;
		background-color: lightpink;
	}
}

/* 
 * Layout grid shifts 
 */

/* Default, mobile and tablet */
ca-layout,
.ca-layout {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"burger utility-nav"
		"header header"
		"main main"
		"site-nav site-nav"
		"footer footer";
}

/* Default (Eureka), small desktop */
@media screen and (min-width: 1024px) {
	ca-layout,
	.ca-layout {
		grid-template-columns: 15rem 1fr;
		grid-template-areas:
			"header utility-nav"
			"header main"
			"site-nav main"
			"site-nav footer";
	}
}

/* Default (Eureka), large desktop */
@media screen and (min-width: 1280px) {
	ca-layout,
	.ca-layout {
		grid-template-columns: 20rem 1fr;
	}
}

/* Horizon, small desktop */
@media screen and (min-width: 1024px) {
	:is(ca-layout, .ca-layout)[format="horizon"] {
		grid-template-columns: 7rem auto 1fr;
		grid-template-areas:
			"header header utility-nav"
			"blank site-nav site-nav" /* Note the "blank" spot. */
			"main main main"
			"footer footer footer";

		/* This little trick plugs the blank grid cell, below the overhanging logo. */
		&::after {
			content: "";
			grid-area: blank;
			background-color: lightgray;
			z-index: -100;
		}
	}
}

/* Skyline, small desktop */
@media screen and (min-width: 1024px) {
	:is(ca-layout, .ca-layout)[format="skyline"] {
		grid-template-columns: max-content auto max-content;
		grid-template-areas:
			"header site-nav utility-nav"
			"main main main"
			"footer footer footer";
	}
}

nav#utility-nav {
	& > ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		& > li:last-child {
			margin-block-end: 0;
		}
	}
}

search svg {
	color: var(--text-color);
}

search {
	display: none;
}
