ca-site-logo {
  display: none;
  background-color: var(--primary-background-20);

  & > a {
    all: unset;
    display: inline-flex;

    & > :is(img, svg) {
      cursor: pointer;
    }
  }

  & :is(img, svg) {
    display: inline-block;
    min-inline-size: 6rem;
    min-block-size: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  ca-site-logo {
    display: flex;
    padding-block: 1rem .5rem;
    padding-inline: 2rem;
  }

  /* Horizon, small desktop */
  ca-layout[format="horizon"] > ca-site-logo {
    padding-inline: 1rem 0;
    padding-block: 1rem;
  }

  /* Skyline, small desktop */
  ca-layout[format="skyline"] > ca-site-logo {
    padding-inline: 1rem 0;
    padding-block: 1rem;
    align-items: center;

    & :is(img, svg) {
      display: inline-block;
      min-inline-size: 4rem;
      min-block-size: 4rem;
    }
  }
}
