:where(nav#utility-nav) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: .5rem 1rem;
  gap: 1rem;
  background-color: var(--primary-background-20);

  & a,
  ca-utility-icon {
    color: var(--primary-100);
  }
}

/* Small desktop */
@media screen and (min-width: 1024px) {
  :where(nav#utility-nav) {
    background-color: var(--primary-background-10);
  }

  ca-layout {
    &[format="horizon"],
    &[format="skyline"] {
      & > :where(nav#utility-nav) {
        background-color: var(--primary-background-20);
      }
    }
  }
}
