ca-layout {
  background-color: var(--primary-background-20);
}

/*
 * Layout grid area definitions
 */

ca-layout {
  & > ca-site-menu {
    grid-area: burger;
  }

  & > ca-site-logo {
    grid-area: logo;
  }

  & > header {
    grid-area: header;
  }

  & > search {
    grid-area: search;
  }

  & > nav#utility-nav {
    grid-area: utility-nav;
  }

  & > nav#content-nav {
    grid-area: content-nav;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }

  /* For hiding elements with the dev tool. */
  & > *[hidden] {
    display: none !important;
  }
}

/* 
 * Layout grid shifts 
 */

/* Default, mobile and tablet */
ca-layout {
  display: grid;
  grid-template-columns: 4.5rem minmax(15rem, 1fr) auto;
  grid-template-rows: auto;
  grid-template-areas:
    "burger search utility-nav"
    "header header header"
    "main main main"
    "content-nav content-nav content-nav"
    "footer footer footer";

  /* :where() drops specificity so it's easy to override on responsive queries. */
  & > :where(nav#content-nav) {
    display: none;
  }
}

/* Default (Eureka), small desktop */
@media screen and (min-width: 1024px) {
  ca-layout {
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto max-content max-content max-content 1fr auto;
    grid-template-areas:
      "logo utility-nav"
      "logo main"
      "header main"
      "search main"
      "content-nav main"
      "content-nav footer";

    &:has(ca-site-logo[hidden]),
    &:not(:has(ca-site-logo)) {
      grid-template-rows: auto max-content 1fr auto;
      grid-template-areas:
        "header utility-nav"
        "search main"
        "content-nav main"
        "content-nav footer";
    }
  }
}

/* Horizon, small desktop */
@media screen and (min-width: 1024px) {
  ca-layout[format="horizon"] {
    grid-template-columns: 7rem max-content minmax(15rem, 1fr) auto;
    grid-template-areas:
      "logo header search utility-nav"
      "logo content-nav content-nav content-nav"
      "main main main main"
      "footer footer footer footer";

    &:has(ca-site-logo[hidden]),
    &:not(:has(ca-site-logo)) {
      grid-template-columns: max-content minmax(15rem, 1fr) auto;
      grid-template-areas:
        "header search utility-nav"
        "content-nav content-nav content-nav"
        "main main main"
        "footer footer footer";
    }
  }
}

/* Skyline, small desktop */
@media screen and (min-width: 1024px) {
  ca-layout[format="skyline"] {
    grid-template-columns: auto auto auto minmax(15rem, 1fr) max-content;
    grid-template-areas:
      "logo header content-nav search utility-nav"
      "main main main main main"
      "footer footer footer footer footer";

    &:has(ca-site-logo[hidden]),
    &:not(:has(ca-site-logo)) {
      grid-template-columns: auto auto minmax(15rem, 1fr) max-content;
      grid-template-areas:
        "header content-nav search utility-nav"
        "main main main main"
        "footer footer footer footer";
    }
  }
}
