:where(nav#utility-nav) {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: .5rem 1rem;
  background-color: var(--primary-background-20);

  & > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    & > li {
      margin: 0;
    }
  }
}

/* Small desktop */
@media screen and (min-width: 1024px) {
  :where(nav#utility-nav) {
    background-color: var(--primary-background-10);
  }

  ca-layout {
    &[format="horizon"],
    &[format="skyline"] {
      & > :where(nav#utility-nav) {
        background-color: var(--primary-background-20);
      }
    }
  }
}
