nav#content-nav {
  padding: 1rem;
  z-index: 3;
  background-color: var(--primary-background-20);
}

@media screen and (min-width: 1024px) {
  /* Horizon, small desktop */
  ca-layout[format="horizon"] > nav#content-nav {
    padding: 0 1rem 0 0;
    border-block-start: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      transparent,
      var(--primary-accent),
      transparent
    );
  }

  /* Skyline, small desktop */
  ca-layout[format="skyline"] > nav#content-nav {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
  }
}

/* Go ahead and display content-nav if JS disabled. */
ca-layout:has(ca-site-menu:not(:defined)) > nav#content-nav {
  display: block;

  /* Without JS, display the nested lists too. */
  & ul ul {
    display: flex;
  }
}

ca-nav-menu {
  block-size: 100%;
  display: flex;

  & ul {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin: 0;
    padding: 0;
    row-gap: .5rem;
    list-style-type: none;
  }

  /* Hide nested lists */
  & ul ul {
    display: none;
    margin-inline-start: 1rem;
  }

  & li {
    margin: 0;
  }

  /* Button and link styles */
  & button {
    all: unset;
    cursor: pointer;
  }
  & a,
  & button {
    box-sizing: border-box;
    inline-size: 100%;
    display: block;
    font-size: var(--text-size-1);
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--primary-110);
    border-radius: var(--border-radius);

    &:hover {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.0) 62%,
          rgba(0, 97, 141, 0.14) 100%
        ), var(--primary-background-40);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    /* In-click state */
    &:active {
      background-color: var(--primary-background-50);
      border: 1px solid var(--primary-80);
    }

    /* Defined as "active" link in UI, with class or data attribute. */
    &.active,
    &[data-active] {
      position: relative;
      color: var(--primary-120);
      font-weight: 600;
      background: var(--primary-background-50);
      z-index: 0;

      /* Need this wild mask to combine gradient border with rounded border. */
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: var(--border-radius);
        padding: 2px; /* Padding creates the border width. */
        /* Apply the gradient background to the padding-box. */
        background: radial-gradient(
            circle closest-corner at left,
            var(--primary-accent),
            transparent 80%
          )
          padding-box;
        /* Exclude the first layer of the mask (the content-box), from the second layer (everything). */
        /* This mask clips the radial-gradient background above, so we only see the edge of it. */
        mask: linear-gradient(black 0 0) content-box, linear-gradient(black 0 0);
        mask-composite: exclude;
      }

      &:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }

    &:focus-visible {
      border: 2px solid var(--primary-10);
      outline: 2px solid var(--primary-120);
    }
  }
  & button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    & ca-icon {
      block-size: 1.5rem;
      inline-size: 1.5rem;
      flex: 0 0 1.5rem;
      transition: transform 0.4s ease;

      &[name="close"] {
        transform: rotate(180deg);
      }
    }
  }
}

@keyframes reveal-subnav-drawer-eureka {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  16% {
    opacity: 1;
    transform: translateX(0.1rem);
  }

  28% {
    transform: translateX(-0.05rem);
  }

  44% {
    transform: translateX(0.001rem);
  }

  59% {
    transform: translateX(-0.0001rem);
  }

  88% {
    transform: translateX(0.00001rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pull-subnav-drawer-eureka {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  16% {
    opacity: 1;
    transform: translateX(.5rem);
  }

  28% {
    transform: translateX(-0.25rem);
  }

  44% {
    transform: translateX(0.05rem);
  }

  59% {
    transform: translateX(-0.001rem);
  }

  88% {
    transform: translateX(0.00001rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Default (Eureka), small desktop */
@media screen and (min-width: 1024px) {
  /* Hide the burger */
  ca-site-menu {
    display: none;
  }

  /* Show the full nav. */
  nav#content-nav {
    display: block;
  }

  ca-layout:not([format="horizon"]):not([format="skyline"]) {
    /* The peeking drawer that slightly pops out when hovering over a nested nav item. */
    & ca-nav-menu {
      &:not([expanded]):has(> button:hover)::before {
        content: "";
        z-index: 3;
        position: absolute;
        block-size: 100%;
        inline-size: 1rem;
        inset-block-start: 0;
        inset-inline-start: 15rem;
        background-color: var(--primary-background-30);
        box-shadow: .25rem 0 .25rem 0 rgba(0, 0, 0, 0.05);
      }
      /* We need to lock the upper shadow in place, so it doesn't dance with the animation. */
      &[expanded]::after,
      &:not([expanded]):has(> button:hover)::after {
        content: "";
        z-index: 4;
        position: absolute;
        block-size: 100%;
        inline-size: .5rem;
        inset-block-start: 0;
        inset-inline-start: 15rem;
        background-color: var(--primary-background-30);
        box-shadow: .25rem 0 .25rem 0 rgba(0, 0, 0, 0.05) inset;
      }
      &[expanded]::after {
        inline-size: 1rem;
      }
      &[expanded] > ul {
        position: absolute;
        margin: 0;
        inset-block-start: 0;
        inset-inline-start: 15rem;
        display: flex;
        padding: 3.5rem 1rem 1rem 1rem;
        inline-size: 15rem;
        block-size: 100%;
        z-index: 1;
        background-color: var(--primary-background-30);
        box-shadow: .25rem 0 .25rem 0 rgba(0, 0, 0, 0.05);
      }
    }
  }

  ca-layout[format="horizon"],
  ca-layout[format="skyline"] {
    & ca-nav-menu {
      position: relative;

      & a {
        padding-block: 1rem;
      }

      & a.active,
      & a[data-active] {
        margin-block: 0;
      }

      & ul {
        flex-direction: row;
        column-gap: 4rem;
      }

      & ul ul {
        flex-direction: column;
        min-inline-size: 15rem;
      }

      & button > ca-icon[name="right"] {
        transform: rotate(90deg);
      }

      &[expanded] > ul {
        position: absolute;
        margin: 0;
        inline-size: 100%;
        inset-block-start: 100%;
        inset-inline-start: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        z-index: 1;
        background-color: var(--primary-background-30);
      }
    }
  }

  ca-layout[format="skyline"] {
    & ca-nav-menu {
      & ul {
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
      }

      & ul ul {
        align-items: start;
      }

      & a.active,
      & a[data-active] {
        margin-block: 0;
      }
    }
  }
}
/* Animations for desktop. */
@media screen and (min-width: 1024px) and (
    prefers-reduced-motion: no-preference
  ) {
  ca-layout:not([format="horizon"]):not([format="skyline"]) {
    & ca-nav-menu:not([expanded]):has(> button:hover)::before {
      opacity: 0;
      animation: reveal-subnav-drawer-eureka ease-out 0.8s forwards;
    }
    & ca-nav-menu[expanded] > ul {
      opacity: 0;
      animation: pull-subnav-drawer-eureka ease-out 0.8s forwards;
    }
  }
}
