:root {
  /* 
	 * Color definitions for desert
	 */

  /* Basic palette */
  --desert-static-10: #fefefe;
  --desert-static-20: #f1e9d9;
  --desert-static-30: #e4d3b3;
  --desert-static-40: #d6be8e;
  --desert-static-50: #c9a868;
  --desert-static-60: #c29d51;
  --desert-static-70: #b58e41;
  --desert-static-80: #967535;
  --desert-static-90: #705828;
  --desert-static-100: #4b3a1a;
  --desert-static-110: #251d0d;
  --desert-static-120: #0f0c05;
  /* Background shades */
  --desert-lightest: var(--desert-static-10);
  --desert-lighter: #fcfaf7;
  --desert-light: #f9f6ef;
  --desert-palest: #f6f1e8;
  --desert-paler: #f1e8d8;
  --desert-pale: #ebe0c9;
  --desert-dim: #443618;
  --desert-dimmer: #352a13;
  --desert-dimmest: #261e0d;
  --desert-dark: #261e0d;
  --desert-darker: #161208;
  --desert-darkest: var(--desert-static-120);
  /* Highlight, call-to-action */
  --desert-highlight: var(--desert-static-70);
  --desert-highlight-active-dark: var(--desert-static-60);
  --desert-highlight-active-light: var(--desert-static-80);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --desert-10: var(--desert-static-10);
  --desert-20: var(--desert-static-20);
  --desert-30: var(--desert-static-30);
  --desert-40: var(--desert-static-40);
  --desert-50: var(--desert-static-50);
  --desert-60: var(--desert-static-60);
  --desert-70: var(--desert-static-70);
  --desert-80: var(--desert-static-80);
  --desert-90: var(--desert-static-90);
  --desert-100: var(--desert-static-100);
  --desert-110: var(--desert-static-110);
  --desert-120: var(--desert-static-120);
  --desert-background-10: var(--desert-lightest);
  --desert-background-20: var(--desert-lighter);
  --desert-background-30: var(--desert-light);
  --desert-background-40: var(--desert-palest);
  --desert-background-50: var(--desert-paler);
  --desert-background-60: var(--desert-pale);
  --desert-text: var(--desert-120);
  --desert-background: var(--desert-background-10);
  --desert-highlight-active: var(--desert-highlight-active-light);

  /* 
	 * Theme configuration
	 * Here we set coastal blue as the active theme color: primary.
	 */

  /* Settings for both light and dark mode */
  --primary-highlight: var(--desert-highlight);

  /* Light mode is default! */
  /* Light mode general palette */
  --primary-10: var(--desert-10);
  --primary-20: var(--desert-20);
  --primary-30: var(--desert-30);
  --primary-40: var(--desert-40);
  --primary-50: var(--desert-50);
  --primary-60: var(--desert-60);
  --primary-70: var(--desert-70);
  --primary-80: var(--desert-80);
  --primary-90: var(--desert-90);
  --primary-100: var(--desert-100);
  --primary-110: var(--desert-110);
  --primary-120: var(--desert-120);
  --primary-background-10: var(--desert-background-10);
  --primary-background-20: var(--desert-background-20);
  --primary-background-30: var(--desert-background-30);
  --primary-background-40: var(--desert-background-40);
  --primary-background-50: var(--desert-background-50);
  --primary-background-60: var(--desert-background-60);
  --primary-text: var(--desert-text);
  --primary-background: var(--desert-background);
  --primary-highlight-active: var(--desert-highlight-active);
}

/* Dark mode */
[data-color-scheme="dark"] {
  /* Inverted palettes for dark mode. */
  --desert-120: var(--desert-static-10);
  --desert-110: var(--desert-static-20);
  --desert-100: var(--desert-static-30);
  --desert-90: var(--desert-static-40);
  --desert-80: var(--desert-static-50);
  --desert-70: var(--desert-static-60);
  --desert-60: var(--desert-static-70);
  --desert-50: var(--desert-static-80);
  --desert-40: var(--desert-static-90);
  --desert-30: var(--desert-static-100);
  --desert-20: var(--desert-static-110);
  --desert-10: var(--desert-static-120);
  --desert-background-10: var(--desert-darkest);
  --desert-background-20: var(--desert-darker);
  --desert-background-30: var(--desert-dark);
  --desert-background-40: var(--desert-dimmest);
  --desert-background-50: var(--desert-dimmer);
  --desert-background-60: var(--desert-dim);
  --desert-text: var(--desert-120);
  --desert-background: var(--desert-background-10);
  --desert-highlight-active: var(--desert-highlight-active-dark);

  /* Dark mode theme configuration */
  --primary-10: var(--desert-10);
  --primary-20: var(--desert-20);
  --primary-30: var(--desert-30);
  --primary-40: var(--desert-40);
  --primary-50: var(--desert-50);
  --primary-60: var(--desert-60);
  --primary-70: var(--desert-70);
  --primary-80: var(--desert-80);
  --primary-90: var(--desert-90);
  --primary-100: var(--desert-100);
  --primary-110: var(--desert-110);
  --primary-120: var(--desert-120);
  --primary-background-10: var(--desert-background-10);
  --primary-background-20: var(--desert-background-20);
  --primary-background-30: var(--desert-background-30);
  --primary-background-40: var(--desert-background-40);
  --primary-background-50: var(--desert-background-50);
  --primary-background-60: var(--desert-background-60);
  --primary-text: var(--desert-text);
  --primary-background: var(--desert-background);
  --primary-highlight-active: var(--desert-highlight-active);
}
