:root {
  /* 
	 * Color definitions for coastal-blue
	 */

  /* Basic palette */
  --coastal-blue-static-10: #fefeff;
  --coastal-blue-static-20: #d0f0ff;
  --coastal-blue-static-30: #a2e2ff;
  --coastal-blue-static-40: #73d3ff;
  --coastal-blue-static-50: #45c5fe;
  --coastal-blue-static-60: #17b6ff;
  --coastal-blue-static-70: #009fe7;
  --coastal-blue-static-80: #007fb9;
  --coastal-blue-static-90: #00618d;
  --coastal-blue-static-100: #003f5c;
  --coastal-blue-static-110: #001f2e;
  --coastal-blue-static-120: #000e14;
  /* Background shades */
  --coastal-blue-lightest: var(--coastal-blue-static-10);
  --coastal-blue-lighter: #f4fbff;
  --coastal-blue-light: #eaf8ff;
  --coastal-blue-palest: #dff5ff;
  --coastal-blue-paler: #caeeff;
  --coastal-blue-pale: #b6e8ff;
  --coastal-blue-dim: #00405d;
  --coastal-blue-dimmer: #003248;
  --coastal-blue-dimmest: #002334;
  --coastal-blue-dark: #001c29;
  --coastal-blue-darker: #00151f;
  --coastal-blue-darkest: var(--coastal-blue-static-120);
  /* Highlight, call-to-action */
  --coastal-blue-highlight: var(--coastal-blue-static-90);
  --coastal-blue-highlight-light: var(--coastal-blue-static-80);
  --coastal-blue-highlight-dark: var(--coastal-blue-static-100);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --coastal-blue-10: var(--coastal-blue-static-10);
  --coastal-blue-20: var(--coastal-blue-static-20);
  --coastal-blue-30: var(--coastal-blue-static-30);
  --coastal-blue-40: var(--coastal-blue-static-40);
  --coastal-blue-50: var(--coastal-blue-static-50);
  --coastal-blue-60: var(--coastal-blue-static-60);
  --coastal-blue-70: var(--coastal-blue-static-70);
  --coastal-blue-80: var(--coastal-blue-static-80);
  --coastal-blue-90: var(--coastal-blue-static-90);
  --coastal-blue-100: var(--coastal-blue-static-100);
  --coastal-blue-110: var(--coastal-blue-static-110);
  --coastal-blue-120: var(--coastal-blue-static-120);
  --coastal-blue-background-10: var(--coastal-blue-lightest);
  --coastal-blue-background-20: var(--coastal-blue-lighter);
  --coastal-blue-background-30: var(--coastal-blue-light);
  --coastal-blue-background-40: var(--coastal-blue-palest);
  --coastal-blue-background-50: var(--coastal-blue-paler);
  --coastal-blue-background-60: var(--coastal-blue-pale);
  --coastal-blue-text: var(--coastal-blue-120);
  --coastal-blue-background: var(--coastal-blue-background-10);
  --coastal-blue-highlight-active: var(--coastal-blue-highlight-dark);

  /* 
	 * Theme configuration
	 * Here we set coastal blue as the active theme color: primary.
	 */

  /* Settings for both light and dark mode */
  --primary-highlight: var(--coastal-blue-highlight);

  /* Light mode is default! */
  /* Light mode general palette */
  --primary-10: var(--coastal-blue-10);
  --primary-20: var(--coastal-blue-20);
  --primary-30: var(--coastal-blue-30);
  --primary-40: var(--coastal-blue-40);
  --primary-50: var(--coastal-blue-50);
  --primary-60: var(--coastal-blue-60);
  --primary-70: var(--coastal-blue-70);
  --primary-80: var(--coastal-blue-80);
  --primary-90: var(--coastal-blue-90);
  --primary-100: var(--coastal-blue-100);
  --primary-110: var(--coastal-blue-110);
  --primary-120: var(--coastal-blue-120);
  --primary-background-10: var(--coastal-blue-background-10);
  --primary-background-20: var(--coastal-blue-background-20);
  --primary-background-30: var(--coastal-blue-background-30);
  --primary-background-40: var(--coastal-blue-background-40);
  --primary-background-50: var(--coastal-blue-background-50);
  --primary-background-60: var(--coastal-blue-background-60);
  --primary-text: var(--coastal-blue-text);
  --primary-background: var(--coastal-blue-background);
  --primary-highlight-active: var(--coastal-blue-highlight-active);
}

/* Dark mode */
[data-color-scheme="dark"] {
  /* Inverted palettes for dark mode. */
  --coastal-blue-120: var(--coastal-blue-static-10);
  --coastal-blue-110: var(--coastal-blue-static-20);
  --coastal-blue-100: var(--coastal-blue-static-30);
  --coastal-blue-90: var(--coastal-blue-static-40);
  --coastal-blue-80: var(--coastal-blue-static-50);
  --coastal-blue-70: var(--coastal-blue-static-60);
  --coastal-blue-60: var(--coastal-blue-static-70);
  --coastal-blue-50: var(--coastal-blue-static-80);
  --coastal-blue-40: var(--coastal-blue-static-90);
  --coastal-blue-30: var(--coastal-blue-static-100);
  --coastal-blue-20: var(--coastal-blue-static-110);
  --coastal-blue-10: var(--coastal-blue-static-120);
  --coastal-blue-background-10: var(--coastal-blue-darkest);
  --coastal-blue-background-20: var(--coastal-blue-darker);
  --coastal-blue-background-30: var(--coastal-blue-dark);
  --coastal-blue-background-40: var(--coastal-blue-dimmest);
  --coastal-blue-background-50: var(--coastal-blue-dimmer);
  --coastal-blue-background-60: var(--coastal-blue-dim);
  --coastal-blue-text: var(--coastal-blue-120);
  --coastal-blue-background: var(--coastal-blue-background-10);
  --coastal-blue-highlight-active: var(--coastal-blue-highlight-light);

  /* Dark mode theme configuration */
  --primary-10: var(--coastal-blue-10);
  --primary-20: var(--coastal-blue-20);
  --primary-30: var(--coastal-blue-30);
  --primary-40: var(--coastal-blue-40);
  --primary-50: var(--coastal-blue-50);
  --primary-60: var(--coastal-blue-60);
  --primary-70: var(--coastal-blue-70);
  --primary-80: var(--coastal-blue-80);
  --primary-90: var(--coastal-blue-90);
  --primary-100: var(--coastal-blue-100);
  --primary-110: var(--coastal-blue-110);
  --primary-120: var(--coastal-blue-120);
  --primary-background-10: var(--coastal-blue-background-10);
  --primary-background-20: var(--coastal-blue-background-20);
  --primary-background-30: var(--coastal-blue-background-30);
  --primary-background-40: var(--coastal-blue-background-40);
  --primary-background-50: var(--coastal-blue-background-50);
  --primary-background-60: var(--coastal-blue-background-60);
  --primary-text: var(--coastal-blue-text);
  --primary-background: var(--coastal-blue-background);
  --primary-highlight-active: var(--coastal-blue-highlight-active);
}
