:root {
  /* 
	 * Color definitions for coastal
	 */

  /* Basic palette */
  --coastal-static-10: #fefeff;
  --coastal-static-20: #d0f0ff;
  --coastal-static-30: #a2e2ff;
  --coastal-static-40: #73d3ff;
  --coastal-static-50: #45c5fe;
  --coastal-static-60: #17b6ff;
  --coastal-static-70: #009fe7;
  --coastal-static-80: #007fb9;
  --coastal-static-90: #00618d;
  --coastal-static-100: #003f5c;
  --coastal-static-110: #001f2e;
  --coastal-static-120: #000e14;
  /* Background shades */
  --coastal-lightest: var(--coastal-static-10);
  --coastal-lighter: #f4fbff;
  --coastal-light: #eaf8ff;
  --coastal-palest: #dff5ff;
  --coastal-paler: #caeeff;
  --coastal-pale: #b6e8ff;
  --coastal-dim: #00405d;
  --coastal-dimmer: #003248;
  --coastal-dimmest: #002334;
  --coastal-dark: #001c29;
  --coastal-darker: #00151f;
  --coastal-darkest: var(--coastal-static-120);
  /* Optional accent */
  --coastal-accent-dark: #d9b983;
  --coastal-accent-light: #cc860c;
  /* Highlight, call-to-action */
  --coastal-highlight: var(--coastal-static-90);
  --coastal-highlight-active-dark: var(--coastal-static-80);
  --coastal-highlight-active-light: var(--coastal-static-100);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --coastal-10: var(--coastal-static-10);
  --coastal-20: var(--coastal-static-20);
  --coastal-30: var(--coastal-static-30);
  --coastal-40: var(--coastal-static-40);
  --coastal-50: var(--coastal-static-50);
  --coastal-60: var(--coastal-static-60);
  --coastal-70: var(--coastal-static-70);
  --coastal-80: var(--coastal-static-80);
  --coastal-90: var(--coastal-static-90);
  --coastal-100: var(--coastal-static-100);
  --coastal-110: var(--coastal-static-110);
  --coastal-120: var(--coastal-static-120);
  --coastal-background-10: var(--coastal-lightest);
  --coastal-background-20: var(--coastal-lighter);
  --coastal-background-30: var(--coastal-light);
  --coastal-background-40: var(--coastal-palest);
  --coastal-background-50: var(--coastal-paler);
  --coastal-background-60: var(--coastal-pale);
  --coastal-text: var(--coastal-120);
  --coastal-background: var(--coastal-background-10);
  --coastal-highlight-active: var(--coastal-highlight-active-light);

  /* 
	 * Theme configuration
	 * Here we set coastal blue as the active theme color: primary.
	 */

  /* Settings for both light and dark mode */
  --primary-highlight: var(--coastal-highlight);

  /* Light mode is default! */
  /* Light mode general palette */
  --primary-10: var(--coastal-10);
  --primary-20: var(--coastal-20);
  --primary-30: var(--coastal-30);
  --primary-40: var(--coastal-40);
  --primary-50: var(--coastal-50);
  --primary-60: var(--coastal-60);
  --primary-70: var(--coastal-70);
  --primary-80: var(--coastal-80);
  --primary-90: var(--coastal-90);
  --primary-100: var(--coastal-100);
  --primary-110: var(--coastal-110);
  --primary-120: var(--coastal-120);
  --primary-background-10: var(--coastal-background-10);
  --primary-background-20: var(--coastal-background-20);
  --primary-background-30: var(--coastal-background-30);
  --primary-background-40: var(--coastal-background-40);
  --primary-background-50: var(--coastal-background-50);
  --primary-background-60: var(--coastal-background-60);
  --primary-text: var(--coastal-text);
  --primary-background: var(--coastal-background);
  --primary-highlight-active: var(--coastal-highlight-active);
}

/* Dark mode */
[data-color-scheme="dark"] {
  /* Inverted palettes for dark mode. */
  --coastal-120: var(--coastal-static-10);
  --coastal-110: var(--coastal-static-20);
  --coastal-100: var(--coastal-static-30);
  --coastal-90: var(--coastal-static-40);
  --coastal-80: var(--coastal-static-50);
  --coastal-70: var(--coastal-static-60);
  --coastal-60: var(--coastal-static-70);
  --coastal-50: var(--coastal-static-80);
  --coastal-40: var(--coastal-static-90);
  --coastal-30: var(--coastal-static-100);
  --coastal-20: var(--coastal-static-110);
  --coastal-10: var(--coastal-static-120);
  --coastal-background-10: var(--coastal-darkest);
  --coastal-background-20: var(--coastal-darker);
  --coastal-background-30: var(--coastal-dark);
  --coastal-background-40: var(--coastal-dimmest);
  --coastal-background-50: var(--coastal-dimmer);
  --coastal-background-60: var(--coastal-dim);
  --coastal-text: var(--coastal-120);
  --coastal-background: var(--coastal-background-10);
  --coastal-highlight-active: var(--coastal-highlight-active-dark);

  /* Dark mode theme configuration */
  --primary-10: var(--coastal-10);
  --primary-20: var(--coastal-20);
  --primary-30: var(--coastal-30);
  --primary-40: var(--coastal-40);
  --primary-50: var(--coastal-50);
  --primary-60: var(--coastal-60);
  --primary-70: var(--coastal-70);
  --primary-80: var(--coastal-80);
  --primary-90: var(--coastal-90);
  --primary-100: var(--coastal-100);
  --primary-110: var(--coastal-110);
  --primary-120: var(--coastal-120);
  --primary-background-10: var(--coastal-background-10);
  --primary-background-20: var(--coastal-background-20);
  --primary-background-30: var(--coastal-background-30);
  --primary-background-40: var(--coastal-background-40);
  --primary-background-50: var(--coastal-background-50);
  --primary-background-60: var(--coastal-background-60);
  --primary-text: var(--coastal-text);
  --primary-background: var(--coastal-background);
  --primary-highlight-active: var(--coastal-highlight-active);
}
