:root {
  /* Universal link colors */
  --link-light: #87cefa;
  --link-light-active: #f692b9;
  --link-dark: #0057ad;
  --link-dark-active: #8a0071;

  /* Light mode link colors (default) */
  --link: var(--link-dark);
  --link-active: var(--link-dark-active);

  /* Grayscale palette, can be used as theme */
  --gray-static-10: #fefefe;
  --gray-static-20: #e7e7e7;
  --gray-static-30: #d0d0d0;
  --gray-static-40: #b9b9b9;
  --gray-static-50: #a2a2a2;
  --gray-static-60: #8b8b8b;
  --gray-static-70: #737373;
  --gray-static-80: #5c5c5c;
  --gray-static-90: #454545;
  --gray-static-100: #292929;
  --gray-static-110: #171717;
  --gray-static-120: #0f0f0f;
  --gray-lightest: var(--gray-static-10);
  --gray-lighter: #f9f9f9;
  --gray-light: #f4f4f4;
  --gray-palest: #efefef;
  --gray-paler: #e4e4e4;
  --gray-pale: #dadada;
  --gray-dim: #2e2e2e;
  --gray-dimmer: #242424;
  --gray-dimmest: #1f1f1f;
  --gray-dark: #1a1a1a;
  --gray-darker: #141414;
  --gray-darkest: var(--gray-static-120);
  --gray-highlight: var(--gray-static-100);
  --gray-highlight-active-dark: var(--gray-static-90);
  --gray-highlight-active-light: var(--gray-static-110);

  /* Magenta palette, bright */
  --magenta-static-10: #fffefe;
  --magenta-static-20: #fdcde3;
  --magenta-static-30: #fc9bc8;
  --magenta-static-40: #fa6aad;
  --magenta-static-50: #f93892;
  --magenta-static-60: #f60776;
  --magenta-static-70: #e00369;
  --magenta-static-80: #c6055f;
  --magenta-static-90: #940447;
  --magenta-static-100: #63022f;
  --magenta-static-110: #310117;
  --magenta-static-120: #140009;
  --magenta-highlight: var(--magenta-static-60);
  --magenta-highlight-active-dark: var(--magenta-static-50);
  --magenta-highlight-active-light: var(--magenta-static-70);

  /* Orange palette, bright */
  --orange-static-10: #fffefe;
  --orange-static-20: #fdd9cd;
  --orange-static-30: #fbb49c;
  --orange-static-40: #f98f6b;
  --orange-static-50: #f76a3a;
  --orange-static-60: #f64d13;
  --orange-static-70: #e94209;
  --orange-static-80: #c43707;
  --orange-static-90: #932905;
  --orange-static-100: #621b03;
  --orange-static-110: #310d01;
  --orange-static-120: #140500;
  --orange-highlight: var(--orange-static-60);
  --orange-highlight-active-dark: var(--orange-static-50);
  --orange-highlight-active-light: var(--orange-static-70);

  /* Green palette, bright */
  --green-static-10: #fefefe;
  --green-static-20: #cdfdea;
  --green-static-30: #9cfbd5;
  --green-static-40: #6afac1;
  --green-static-50: #39f8ac;
  --green-static-60: #12eb95;
  --green-static-70: #0acc7f;
  --green-static-80: #05a465;
  --green-static-90: #00804d;
  --green-static-100: #03623c;
  --green-static-110: #01311e;
  --green-static-120: #00140c;
  --green-highlight: var(--green-static-80);
  --green-highlight-active-dark: var(--green-static-70);
  --green-highlight-active-light: var(--green-static-90);

  /* Blue palette, bright */
  --blue-static-10: #fefeff;
  --blue-static-20: #cce0fe;
  --blue-static-30: #99c2ff;
  --blue-static-40: #66a4ff;
  --blue-static-50: #3386ff;
  --blue-static-60: #1c78ff;
  --blue-static-70: #0063f2;
  --blue-static-80: #0053cc;
  --blue-static-90: #003e99;
  --blue-static-100: #002966;
  --blue-static-110: #001433;
  --blue-static-120: #000814;
  --blue-highlight: var(--blue-static-70);
  --blue-highlight-active-dark: var(--blue-static-60);
  --blue-highlight-active-light: var(--blue-static-80);

  /* Purple palette, bright */
  --purple-static-10: #fefeff;
  --purple-static-20: #d0cdfd;
  --purple-static-30: #a29bfc;
  --purple-static-40: #746afa;
  --purple-static-50: #574afa;
  --purple-static-60: #4638f9;
  --purple-static-70: #2718e2;
  --purple-static-80: #1305c6;
  --purple-static-90: #0e0494;
  --purple-static-100: #090263;
  --purple-static-110: #040131;
  --purple-static-120: #020014;
  --purple-highlight: var(--purple-static-50);
  --purple-highlight-active-dark: var(--purple-static-40);
  --purple-highlight-active-light: var(--purple-static-60);

  /* Red palette, alert */
  --red-static-10: #fffefe;
  --red-static-20: #fcced1;
  --red-static-30: #fa9da3;
  --red-static-40: #f86c76;
  --red-static-50: #f2515c;
  --red-static-60: #f5202f;
  --red-static-70: #de0818;
  --red-static-80: #c30815;
  --red-static-90: #920610;
  --red-static-100: #61040a;
  --red-static-110: #300205;
  --red-static-120: #130002;
  --red-highlight: var(--red-static-60);
  --red-highlight-active-dark: var(--red-static-50);
  --red-highlight-active-light: var(--red-static-70);

  /* Yellow palette, alert */
  --yellow-static-10: #fffefe;
  --yellow-static-20: #fcebce;
  --yellow-static-30: #f9d89e;
  --yellow-static-40: #f6c46e;
  --yellow-static-50: #efad39;
  --yellow-static-60: #e59810;
  --yellow-static-70: #cc860c;
  --yellow-static-80: #b47509;
  --yellow-static-90: #905e08;
  --yellow-static-100: #603f05;
  --yellow-static-110: #301f02;
  --yellow-static-120: #130c01;
  --yellow-highlight: var(--yellow-static-70);
  --yellow-highlight-active-dark: var(--yellow-static-60);
  --yellow-highlight-active-light: var(--yellow-static-80);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --gray-10: var(--gray-static-10);
  --gray-20: var(--gray-static-20);
  --gray-30: var(--gray-static-30);
  --gray-40: var(--gray-static-40);
  --gray-50: var(--gray-static-50);
  --gray-60: var(--gray-static-60);
  --gray-70: var(--gray-static-70);
  --gray-80: var(--gray-static-80);
  --gray-90: var(--gray-static-90);
  --gray-100: var(--gray-static-100);
  --gray-110: var(--gray-static-110);
  --gray-120: var(--gray-static-120);
  --gray-background-10: var(--gray-lightest);
  --gray-background-20: var(--gray-lighter);
  --gray-background-30: var(--gray-light);
  --gray-background-40: var(--gray-palest);
  --gray-background-50: var(--gray-paler);
  --gray-background-60: var(--gray-pale);
  --gray-text: var(--gray-120);
  --gray-background: var(--gray-background-10);
  --gray-highlight-active: var(--gray-highlight-active-light);

  --magenta-10: var(--magenta-static-10);
  --magenta-20: var(--magenta-static-20);
  --magenta-30: var(--magenta-static-30);
  --magenta-40: var(--magenta-static-40);
  --magenta-50: var(--magenta-static-50);
  --magenta-60: var(--magenta-static-60);
  --magenta-70: var(--magenta-static-70);
  --magenta-80: var(--magenta-static-80);
  --magenta-90: var(--magenta-static-90);
  --magenta-100: var(--magenta-static-100);
  --magenta-110: var(--magenta-static-110);
  --magenta-120: var(--magenta-static-120);
  --magenta-highlight-active: var(--magenta-highlight-active-light);
  --orange-10: var(--orange-static-10);
  --orange-20: var(--orange-static-20);
  --orange-30: var(--orange-static-30);
  --orange-40: var(--orange-static-40);
  --orange-50: var(--orange-static-50);
  --orange-60: var(--orange-static-60);
  --orange-70: var(--orange-static-70);
  --orange-80: var(--orange-static-80);
  --orange-90: var(--orange-static-90);
  --orange-100: var(--orange-static-100);
  --orange-110: var(--orange-static-110);
  --orange-120: var(--orange-static-120);
  --orange-highlight-active: var(--orange-highlight-active-light);
  --green-10: var(--green-static-10);
  --green-20: var(--green-static-20);
  --green-30: var(--green-static-30);
  --green-40: var(--green-static-40);
  --green-50: var(--green-static-50);
  --green-60: var(--green-static-60);
  --green-70: var(--green-static-70);
  --green-80: var(--green-static-80);
  --green-90: var(--green-static-90);
  --green-100: var(--green-static-100);
  --green-110: var(--green-static-110);
  --green-120: var(--green-static-120);
  --green-highlight-active: var(--green-highlight-active-light);
  --blue-10: var(--blue-static-10);
  --blue-20: var(--blue-static-20);
  --blue-30: var(--blue-static-30);
  --blue-40: var(--blue-static-40);
  --blue-50: var(--blue-static-50);
  --blue-60: var(--blue-static-60);
  --blue-70: var(--blue-static-70);
  --blue-80: var(--blue-static-80);
  --blue-90: var(--blue-static-90);
  --blue-100: var(--blue-static-100);
  --blue-110: var(--blue-static-110);
  --blue-120: var(--blue-static-120);
  --blue-highlight-active: var(--blue-highlight-active-light);
  --purple-10: var(--purple-static-10);
  --purple-20: var(--purple-static-20);
  --purple-30: var(--purple-static-30);
  --purple-40: var(--purple-static-40);
  --purple-50: var(--purple-static-50);
  --purple-60: var(--purple-static-60);
  --purple-70: var(--purple-static-70);
  --purple-80: var(--purple-static-80);
  --purple-90: var(--purple-static-90);
  --purple-100: var(--purple-static-100);
  --purple-110: var(--purple-static-110);
  --purple-120: var(--purple-static-120);
  --purple-highlight-active: var(--purple-highlight-active-light);
  --red-10: var(--red-static-10);
  --red-20: var(--red-static-20);
  --red-30: var(--red-static-30);
  --red-40: var(--red-static-40);
  --red-50: var(--red-static-50);
  --red-60: var(--red-static-60);
  --red-70: var(--red-static-70);
  --red-80: var(--red-static-80);
  --red-90: var(--red-static-90);
  --red-100: var(--red-static-100);
  --red-110: var(--red-static-110);
  --red-120: var(--red-static-120);
  --red-highlight-active: var(--red-highlight-active-light);
  --yellow-10: var(--yellow-static-10);
  --yellow-20: var(--yellow-static-20);
  --yellow-30: var(--yellow-static-30);
  --yellow-40: var(--yellow-static-40);
  --yellow-50: var(--yellow-static-50);
  --yellow-60: var(--yellow-static-60);
  --yellow-70: var(--yellow-static-70);
  --yellow-80: var(--yellow-static-80);
  --yellow-90: var(--yellow-static-90);
  --yellow-100: var(--yellow-static-100);
  --yellow-110: var(--yellow-static-110);
  --yellow-120: var(--yellow-static-120);
  --yellow-highlight-active: var(--yellow-highlight-active-light);

  /* Default theme configuration. Set gray if coastal is not present. */
  /* Light mode (default) */
  --primary-10: var(--gray-10);
  --primary-20: var(--gray-20);
  --primary-30: var(--gray-30);
  --primary-40: var(--gray-40);
  --primary-50: var(--gray-50);
  --primary-60: var(--gray-60);
  --primary-70: var(--gray-70);
  --primary-80: var(--gray-80);
  --primary-90: var(--gray-90);
  --primary-100: var(--gray-100);
  --primary-110: var(--gray-110);
  --primary-120: var(--gray-120);
  --primary-background-10: var(--gray-background-10);
  --primary-background-20: var(--gray-background-20);
  --primary-background-30: var(--gray-background-30);
  --primary-background-40: var(--gray-background-40);
  --primary-background-50: var(--gray-background-50);
  --primary-background-60: var(--gray-background-60);
  --primary-highlight: var(--gray-highlight);
  --primary-highlight-active: var(--gray-highlight-active);
  --primary-text: var(--gray-text);
  --primary-background: var(--gray-background);

  --text: var(--gray-text);
  --background: var(--gray-background);
}

/* Dark mode */
[data-color-scheme="dark"] {
  --link: var(--link-light);
  --link-active: var(--link-light-active);

  /* Invert for dark mode. */
  --gray-10: var(--gray-static-120);
  --gray-20: var(--gray-static-110);
  --gray-30: var(--gray-static-100);
  --gray-40: var(--gray-static-90);
  --gray-50: var(--gray-static-80);
  --gray-60: var(--gray-static-70);
  --gray-70: var(--gray-static-60);
  --gray-80: var(--gray-static-50);
  --gray-90: var(--gray-static-40);
  --gray-100: var(--gray-static-30);
  --gray-110: var(--gray-static-20);
  --gray-120: var(--gray-static-10);
  --gray-background-10: var(--gray-darkest);
  --gray-background-20: var(--gray-darker);
  --gray-background-30: var(--gray-dark);
  --gray-background-40: var(--gray-dimmest);
  --gray-background-50: var(--gray-dimmer);
  --gray-background-60: var(--gray-dim);
  --gray-text: var(--gray-120);
  --gray-background: var(--gray-background-10);
  --gray-highlight-active: var(--gray-highlight-active-dark);

  --magenta-10: var(--magenta-static-120);
  --magenta-20: var(--magenta-static-110);
  --magenta-30: var(--magenta-static-100);
  --magenta-40: var(--magenta-static-90);
  --magenta-50: var(--magenta-static-80);
  --magenta-60: var(--magenta-static-70);
  --magenta-70: var(--magenta-static-60);
  --magenta-80: var(--magenta-static-50);
  --magenta-90: var(--magenta-static-40);
  --magenta-100: var(--magenta-static-30);
  --magenta-110: var(--magenta-static-20);
  --magenta-120: var(--magenta-static-10);
  --magenta-highlight-active: var(--magenta-highlight-active-dark);
  --orange-10: var(--orange-static-120);
  --orange-20: var(--orange-static-110);
  --orange-30: var(--orange-static-100);
  --orange-40: var(--orange-static-90);
  --orange-50: var(--orange-static-80);
  --orange-60: var(--orange-static-70);
  --orange-70: var(--orange-static-60);
  --orange-80: var(--orange-static-50);
  --orange-90: var(--orange-static-40);
  --orange-100: var(--orange-static-30);
  --orange-110: var(--orange-static-20);
  --orange-120: var(--orange-static-10);
  --orange-highlight-active: var(--orange-highlight-active-dark);
  --green-10: var(--green-static-120);
  --green-20: var(--green-static-110);
  --green-30: var(--green-static-100);
  --green-40: var(--green-static-90);
  --green-50: var(--green-static-80);
  --green-60: var(--green-static-70);
  --green-70: var(--green-static-60);
  --green-80: var(--green-static-50);
  --green-90: var(--green-static-40);
  --green-100: var(--green-static-30);
  --green-110: var(--green-static-20);
  --green-120: var(--green-static-10);
  --green-highlight-active: var(--green-highlight-active-dark);
  --blue-10: var(--blue-static-120);
  --blue-20: var(--blue-static-110);
  --blue-30: var(--blue-static-100);
  --blue-40: var(--blue-static-90);
  --blue-50: var(--blue-static-80);
  --blue-60: var(--blue-static-70);
  --blue-70: var(--blue-static-60);
  --blue-80: var(--blue-static-50);
  --blue-90: var(--blue-static-40);
  --blue-100: var(--blue-static-30);
  --blue-110: var(--blue-static-20);
  --blue-120: var(--blue-static-10);
  --blue-highlight-active: var(--blue-highlight-active-dark);
  --purple-10: var(--purple-static-120);
  --purple-20: var(--purple-static-110);
  --purple-30: var(--purple-static-100);
  --purple-40: var(--purple-static-90);
  --purple-50: var(--purple-static-80);
  --purple-60: var(--purple-static-70);
  --purple-70: var(--purple-static-60);
  --purple-80: var(--purple-static-50);
  --purple-90: var(--purple-static-40);
  --purple-100: var(--purple-static-30);
  --purple-110: var(--purple-static-20);
  --purple-120: var(--purple-static-10);
  --purple-highlight-active: var(--purple-highlight-active-dark);
  --red-10: var(--red-static-120);
  --red-20: var(--red-static-110);
  --red-30: var(--red-static-100);
  --red-40: var(--red-static-90);
  --red-50: var(--red-static-80);
  --red-60: var(--red-static-70);
  --red-70: var(--red-static-60);
  --red-80: var(--red-static-50);
  --red-90: var(--red-static-40);
  --red-100: var(--red-static-30);
  --red-110: var(--red-static-20);
  --red-120: var(--red-static-10);
  --red-highlight-active: var(--red-highlight-active-dark);
  --yellow-10: var(--yellow-static-120);
  --yellow-20: var(--yellow-static-110);
  --yellow-30: var(--yellow-static-100);
  --yellow-40: var(--yellow-static-90);
  --yellow-50: var(--yellow-static-80);
  --yellow-60: var(--yellow-static-70);
  --yellow-70: var(--yellow-static-60);
  --yellow-80: var(--yellow-static-50);
  --yellow-90: var(--yellow-static-40);
  --yellow-100: var(--yellow-static-30);
  --yellow-110: var(--yellow-static-30);
  --yellow-120: var(--yellow-static-10);
  --yellow-highlight-active: var(--yellow-highlight-active-dark);

  /* Default gray theme configuration for dark mode. */
  --primary-10: var(--gray-10);
  --primary-20: var(--gray-20);
  --primary-30: var(--gray-30);
  --primary-40: var(--gray-40);
  --primary-50: var(--gray-50);
  --primary-60: var(--gray-60);
  --primary-70: var(--gray-70);
  --primary-80: var(--gray-80);
  --primary-90: var(--gray-90);
  --primary-100: var(--gray-100);
  --primary-110: var(--gray-110);
  --primary-120: var(--gray-120);
  --primary-background-10: var(--gray-background-10);
  --primary-background-20: var(--gray-background-20);
  --primary-background-30: var(--gray-background-30);
  --primary-background-40: var(--gray-background-40);
  --primary-background-50: var(--gray-background-50);
  --primary-background-60: var(--gray-background-60);
  --primary-highlight-active: var(--gray-highlight-active);
  --primary-text: var(--gray-text);
  --primary-background: var(--gray-background);

  --text: var(--gray-text);
  --background: var(--gray-background);
}
