:root {
  --primary-static-10: var(--valley-static-10);
  --primary-static-20: var(--valley-static-20);
  --primary-static-30: var(--valley-static-30);
  --primary-static-40: var(--valley-static-40);
  --primary-static-50: var(--valley-static-50);
  --primary-static-60: var(--valley-static-60);
  --primary-static-70: var(--valley-static-70);
  --primary-static-80: var(--valley-static-80);
  --primary-static-90: var(--valley-static-90);
  --primary-static-100: var(--valley-static-100);
  --primary-static-110: var(--valley-static-110);
  --primary-static-120: var(--valley-static-120);

  --primary-lightest: var(--valley-lightest);
  --primary-lighter: var(--valley-lighter);
  --primary-light: var(--valley-light);
  --primary-palest: var(--valley-palest);
  --primary-paler: var(--valley-paler);
  --primary-pale: var(--valley-pale);
  --primary-dim: var(--valley-dim);
  --primary-dimmer: var(--valley-dimmer);
  --primary-dimmest: var(--valley-dimmest);
  --primary-dark: var(--valley-dark);
  --primary-darker: var(--valley-darker);
  --primary-darkest: var(--valley-darkest);

  --primary-main-accent: var(--valley-main-accent);
  --primary-highlight: var(--valley-highlight);
}

/* Light mode */
:root,
[data-color-scheme="light"] {
  --primary-optional-accent: var(--valley-optional-accent-light);
  --primary-highlight-active: var(--valley-highlight-active-light);
}
/* Dark mode */
[data-color-scheme="dark"] {
  --primary-optional-accent: var(--valley-optional-accent-dark);
  --primary-highlight-active: var(--valley-highlight-active-dark);
}

/* The below definitions do not need to be spelled out like this in every theme. 
 * We're just doing this for convenience in standard set-ups.
 * In your custom theme, just define --primary-accent and --border-radius directly.
*/
:root,
[data-accent*="primary"] {
  --primary-accent: var(--primary-main-accent);
}
[data-accent*="secondary"] {
  --primary-accent: var(--primary-optional-accent);
}
:root,
[data-corners="soft"] {
  /* Roundedness default */
  --border-radius: 0.25rem;
}
[data-corners="sharp"] {
  --border-radius: 0;
}
[data-corners="round"] {
  --border-radius: 3.125rem;
}
