:root {
	--link-light: #87cefa;
	--link-light-active: #f692b9;
	--link-dark: #0057ad;
	--link-dark-active: #8a0071;

	--text-light: #fff;
	--text-dark: #292929;

	/* Pulls from the loaded theme */
	--primary-text: var(--primary-foreground-10);
	--primary-background: var(--primary-background-10);

	/* Light mode (default) */
	--link: var(--link-dark);
	--link-active: var(--link-dark-active);
	--text: var(--text-dark);
}

/* Dark mode */
[data-color-scheme="dark"] {
	--link: var(--link-light);
	--link-active: var(--link-light-active);
	--text: var(--text-light);
}
