/* Color definitions */
:root {
	/* Basic palette */
	--coastal-blue-10: #fefeff;
	--coastal-blue-20: #d0f0ff;
	--coastal-blue-30: #a2e2ff;
	--coastal-blue-40: #73d3ff;
	--coastal-blue-50: #45c5fe;
	--coastal-blue-60: #17b6ff;
	--coastal-blue-70: #009fe7;
	--coastal-blue-80: #007fb9;
	--coastal-blue-90: #00618d;
	--coastal-blue-100: #003f5c;
	--coastal-blue-110: #001f2e;
	--coastal-blue-120: #000e14;

	/* Foreground/background shades */
	--coastal-blue-lightest: var(--coastal-blue-10);
	--coastal-blue-lighter: #f4fbff;
	--coastal-blue-light: #eaf8ff;
	--coastal-blue-palest: #dff5ff;
	--coastal-blue-paler: #caeeff;
	--coastal-blue-pale: #b6e8ff;
	--coastal-blue-dim: #00405d;
	--coastal-blue-dimmer: #003248;
	--coastal-blue-dimmest: #002334;
	--coastal-blue-dark: #001c29;
	--coastal-blue-darker: #00151f;
	--coastal-blue-darkest: var(--coastal-blue-120);

	/* Highlight, call-to-action */
	--coastal-blue-highlight: var(--coastal-blue-90);
	--coastal-blue-highlight-light: var(--coastal-blue-80);
	--coastal-blue-highlight-dark: var(--coastal-blue-100);

	/* Light mode (default) */
	--primary-background-10: var(--coastal-blue-lightest);
	--primary-background-20: var(--coastal-blue-lighter);
	--primary-background-30: var(--coastal-blue-light);
	--primary-background-40: var(--coastal-blue-palest);
	--primary-background-50: var(--coastal-blue-paler);
	--primary-background-60: var(--coastal-blue-pale);

	--primary-foreground-60: var(--coastal-blue-dim);
	--primary-foreground-50: var(--coastal-blue-dimmer);
	--primary-foreground-40: var(--coastal-blue-dimmest);
	--primary-foreground-30: var(--coastal-blue-dark);
	--primary-foreground-20: var(--coastal-blue-darker);
	--primary-foreground-10: var(--coastal-blue-darkest);

	--primary-highlight-active: var(--coastal-blue-highlight-dark);

	--primary-highlight: var(--coastal-blue-highlight);
}

/* Dark mode */
[data-color-scheme="dark"] {
	--primary-foreground-10: var(--coastal-blue-lightest);
	--primary-foreground-20: var(--coastal-blue-lighter);
	--primary-foreground-30: var(--coastal-blue-light);
	--primary-foreground-40: var(--coastal-blue-palest);
	--primary-foreground-50: var(--coastal-blue-paler);
	--primary-foreground-60: var(--coastal-blue-pale);

	--primary-background-60: var(--coastal-blue-dim);
	--primary-background-50: var(--coastal-blue-dimmer);
	--primary-background-40: var(--coastal-blue-dimmest);
	--primary-background-30: var(--coastal-blue-dark);
	--primary-background-20: var(--coastal-blue-darker);
	--primary-background-10: var(--coastal-blue-darkest);

	--primary-highlight-active: var(--coastal-blue-highlight-light);
}
