:root {
  /* 
	 * Color definitions for Coastal Blue
	 */

  /* Basic palette */
  --valley-green-static-10: #feffff;
  --valley-green-static-20: #dbecef;
  --valley-green-static-30: #b8dadf;
  --valley-green-static-40: #94c8d0;
  --valley-green-static-50: #71b6c0;
  --valley-green-static-60: #4da4b1;
  --valley-green-static-70: #46919c;
  --valley-green-static-80: #3c7f89;
  --valley-green-static-90: #2e626a;
  --valley-green-static-100: #1f4146;
  --valley-green-static-110: #0f2023;
  --valley-green-static-120: #060d0e;
  /* Background shades */
  --valley-green-lightest: var(--valley-green-static-10);
  --valley-green-lighter: #f7fbfb;
  --valley-green-light: #f0f7f8;
  --valley-green-palest: #e9f3f5;
  --valley-green-paler: #daecef;
  --valley-green-pale: #cce5e8;
  --valley-green-dim: #1c3c41;
  --valley-green-dimmer: #162e32;
  --valley-green-dimmest: #0f2124;
  --valley-green-dark: #0c1a1c;
  --valley-green-darker: #091415;
  --valley-green-darkest: var(--valley-green-static-120);
  /* Highlight, call-to-action */
  --valley-green-highlight: var(--valley-green-static-80);
  --valley-green-highlight-light: var(--valley-green-static-70);
  --valley-green-highlight-dark: var(--valley-green-static-90);

  /* The "flip" palette inverts based on light or dark mode. */
  --valley-green-flip-10: var(--valley-green-10);
  --valley-green-flip-20: var(--valley-green-20);
  --valley-green-flip-30: var(--valley-green-30);
  --valley-green-flip-40: var(--valley-green-40);
  --valley-green-flip-50: var(--valley-green-50);
  --valley-green-flip-60: var(--valley-green-60);
  --valley-green-flip-70: var(--valley-green-70);
  --valley-green-flip-80: var(--valley-green-80);
  --valley-green-flip-90: var(--valley-green-90);
  --valley-green-flip-100: var(--valley-green-100);
  --valley-green-flip-110: var(--valley-green-110);
  --valley-green-flip-120: var(--valley-green-120);

  /* 
	 * Theme configuration
	 * Here we set coastal blue as the active theme color: primary.
	 */

  /* Settings for both light and dark mode */
  --primary-highlight: var(--valley-green-highlight);

  /* Light mode is default! */
  /* Light mode general palette */
  --primary-10: var(--valley-green-flip-10);
  --primary-20: var(--valley-green-flip-20);
  --primary-30: var(--valley-green-flip-30);
  --primary-40: var(--valley-green-flip-40);
  --primary-50: var(--valley-green-flip-50);
  --primary-60: var(--valley-green-flip-60);
  --primary-70: var(--valley-green-flip-70);
  --primary-80: var(--valley-green-flip-80);
  --primary-90: var(--valley-green-flip-90);
  --primary-100: var(--valley-green-flip-100);
  --primary-110: var(--valley-green-flip-110);
  --primary-120: var(--valley-green-flip-120);
  /* Light mode background shades */
  --primary-background-10: var(--valley-green-lightest);
  --primary-background-20: var(--valley-green-lighter);
  --primary-background-30: var(--valley-green-light);
  --primary-background-40: var(--valley-green-palest);
  --primary-background-50: var(--valley-green-paler);
  --primary-background-60: var(--valley-green-pale);
  /* General light mode settings */
  --primary-highlight-active: var(--valley-green-highlight-dark);
  --primary-text: var(--primary-120);
  --primary-background: var(--primary-background-10);
}

/* Dark mode */
[data-color-scheme="dark"] {
  /* The "flip" palette inverts based on light or dark mode. */
  --valley-green-flip-120: var(--valley-green-10);
  --valley-green-flip-110: var(--valley-green-20);
  --valley-green-flip-100: var(--valley-green-30);
  --valley-green-flip-90: var(--valley-green-40);
  --valley-green-flip-80: var(--valley-green-50);
  --valley-green-flip-70: var(--valley-green-60);
  --valley-green-flip-60: var(--valley-green-70);
  --valley-green-flip-50: var(--valley-green-80);
  --valley-green-flip-40: var(--valley-green-90);
  --valley-green-flip-30: var(--valley-green-100);
  --valley-green-flip-20: var(--valley-green-110);
  --valley-green-flip-10: var(--valley-green-120);

  /* Dark mode general palette */
  --primary-10: var(--valley-green-flip-10);
  --primary-20: var(--valley-green-flip-20);
  --primary-30: var(--valley-green-flip-30);
  --primary-40: var(--valley-green-flip-40);
  --primary-50: var(--valley-green-flip-50);
  --primary-60: var(--valley-green-flip-60);
  --primary-70: var(--valley-green-flip-70);
  --primary-80: var(--valley-green-flip-80);
  --primary-90: var(--valley-green-flip-90);
  --primary-100: var(--valley-green-flip-100);
  --primary-110: var(--valley-green-flip-110);
  --primary-120: var(--valley-green-flip-120);
  /* Dark mode background shades */
  --primary-background-60: var(--valley-green-dim);
  --primary-background-50: var(--valley-green-dimmer);
  --primary-background-40: var(--valley-green-dimmest);
  --primary-background-30: var(--valley-green-dark);
  --primary-background-20: var(--valley-green-darker);
  --primary-background-10: var(--valley-green-darkest);
  /* General dark mode settings */
  --primary-highlight-active: var(--valley-green-highlight-light);
  --primary-text: var(--primary-120);
  --primary-background: var(--primary-background-10);
}

:root {
  /* 
	 * Color definitions for valley-green
	 */

  /* Basic palette */
  --valley-green-static-10: #feffff;
  --valley-green-static-20: #dbecef;
  --valley-green-static-30: #b8dadf;
  --valley-green-static-40: #94c8d0;
  --valley-green-static-50: #71b6c0;
  --valley-green-static-60: #4da4b1;
  --valley-green-static-70: #46919c;
  --valley-green-static-80: #3c7f89;
  --valley-green-static-90: #2e626a;
  --valley-green-static-100: #1f4146;
  --valley-green-static-110: #0f2023;
  --valley-green-static-120: #060d0e;
  /* Background shades */
  --valley-green-lightest: var(--valley-green-static-10);
  --valley-green-lighter: #f7fbfb;
  --valley-green-light: #f0f7f8;
  --valley-green-palest: #e9f3f5;
  --valley-green-paler: #daecef;
  --valley-green-pale: #cce5e8;
  --valley-green-dim: #1c3c41;
  --valley-green-dimmer: #162e32;
  --valley-green-dimmest: #0f2124;
  --valley-green-dark: #0c1a1c;
  --valley-green-darker: #091415;
  --valley-green-darkest: var(--valley-green-static-120);
  /* Highlight, call-to-action */
  --valley-green-highlight: var(--valley-green-static-80);
  --valley-green-highlight-light: var(--valley-green-static-70);
  --valley-green-highlight-dark: var(--valley-green-static-90);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --valley-green-10: var(--valley-green-static-10);
  --valley-green-20: var(--valley-green-static-20);
  --valley-green-30: var(--valley-green-static-30);
  --valley-green-40: var(--valley-green-static-40);
  --valley-green-50: var(--valley-green-static-50);
  --valley-green-60: var(--valley-green-static-60);
  --valley-green-70: var(--valley-green-static-70);
  --valley-green-80: var(--valley-green-static-80);
  --valley-green-90: var(--valley-green-static-90);
  --valley-green-100: var(--valley-green-static-100);
  --valley-green-110: var(--valley-green-static-110);
  --valley-green-120: var(--valley-green-static-120);
  --valley-green-background-10: var(--valley-green-lightest);
  --valley-green-background-20: var(--valley-green-lighter);
  --valley-green-background-30: var(--valley-green-light);
  --valley-green-background-40: var(--valley-green-palest);
  --valley-green-background-50: var(--valley-green-paler);
  --valley-green-background-60: var(--valley-green-pale);
  --valley-green-text: var(--valley-green-120);
  --valley-green-background: var(--valley-green-background-10);
  --valley-green-highlight-active: var(--valley-green-highlight-dark);

  /* 
	 * Theme configuration
	 * Here we set coastal blue as the active theme color: primary.
	 */

  /* Settings for both light and dark mode */
  --primary-highlight: var(--valley-green-highlight);

  /* Light mode is default! */
  /* Light mode general palette */
  --primary-10: var(--valley-green-10);
  --primary-20: var(--valley-green-20);
  --primary-30: var(--valley-green-30);
  --primary-40: var(--valley-green-40);
  --primary-50: var(--valley-green-50);
  --primary-60: var(--valley-green-60);
  --primary-70: var(--valley-green-70);
  --primary-80: var(--valley-green-80);
  --primary-90: var(--valley-green-90);
  --primary-100: var(--valley-green-100);
  --primary-110: var(--valley-green-110);
  --primary-120: var(--valley-green-120);
  --primary-background-10: var(--valley-green-background-10);
  --primary-background-20: var(--valley-green-background-20);
  --primary-background-30: var(--valley-green-background-30);
  --primary-background-40: var(--valley-green-background-40);
  --primary-background-50: var(--valley-green-background-50);
  --primary-background-60: var(--valley-green-background-60);
  --primary-text: var(--valley-green-text);
  --primary-background: var(--valley-green-background);
  --primary-highlight-active: var(--valley-green-highlight-active);
}

/* Dark mode */
[data-color-scheme="dark"] {
  /* Inverted palettes for dark mode. */
  --valley-green-120: var(--valley-green-static-10);
  --valley-green-110: var(--valley-green-static-20);
  --valley-green-100: var(--valley-green-static-30);
  --valley-green-90: var(--valley-green-static-40);
  --valley-green-80: var(--valley-green-static-50);
  --valley-green-70: var(--valley-green-static-60);
  --valley-green-60: var(--valley-green-static-70);
  --valley-green-50: var(--valley-green-static-80);
  --valley-green-40: var(--valley-green-static-90);
  --valley-green-30: var(--valley-green-static-100);
  --valley-green-20: var(--valley-green-static-110);
  --valley-green-10: var(--valley-green-static-120);
  --valley-green-background-10: var(--valley-green-darkest);
  --valley-green-background-20: var(--valley-green-darker);
  --valley-green-background-30: var(--valley-green-dark);
  --valley-green-background-40: var(--valley-green-dimmest);
  --valley-green-background-50: var(--valley-green-dimmer);
  --valley-green-background-60: var(--valley-green-dim);
  --valley-green-text: var(--valley-green-120);
  --valley-green-background: var(--valley-green-background-10);
  --valley-green-highlight-active: var(--valley-green-highlight-light);

  /* Dark mode theme configuration */
  --primary-10: var(--valley-green-10);
  --primary-20: var(--valley-green-20);
  --primary-30: var(--valley-green-30);
  --primary-40: var(--valley-green-40);
  --primary-50: var(--valley-green-50);
  --primary-60: var(--valley-green-60);
  --primary-70: var(--valley-green-70);
  --primary-80: var(--valley-green-80);
  --primary-90: var(--valley-green-90);
  --primary-100: var(--valley-green-100);
  --primary-110: var(--valley-green-110);
  --primary-120: var(--valley-green-120);
  --primary-background-10: var(--valley-green-background-10);
  --primary-background-20: var(--valley-green-background-20);
  --primary-background-30: var(--valley-green-background-30);
  --primary-background-40: var(--valley-green-background-40);
  --primary-background-50: var(--valley-green-background-50);
  --primary-background-60: var(--valley-green-background-60);
  --primary-text: var(--valley-green-text);
  --primary-background: var(--valley-green-background);
  --primary-highlight-active: var(--valley-green-highlight-active);
}
