:root {
  /* 
	 * Color definitions for mountain-gray
	 */

  /* Basic palette */
  --mountain-gray-static-10: #fefeff;
  --mountain-gray-static-20: #e0e7ea;
  --mountain-gray-static-30: #c1cfd6;
  --mountain-gray-static-40: #a2b8c2;
  --mountain-gray-static-50: #83a0ae;
  --mountain-gray-static-60: #688c9d;
  --mountain-gray-static-70: #5e8394;
  --mountain-gray-static-80: #506d7b;
  --mountain-gray-static-90: #3c525c;
  --mountain-gray-static-100: #28363d;
  --mountain-gray-static-110: #141b1e;
  --mountain-gray-static-120: #080b0c;
  /* Background shades */
  --mountain-gray-lightest: var(--mountain-gray-static-10);
  --mountain-gray-lighter: #f8fafa;
  --mountain-gray-light: #f2f5f6;
  --mountain-gray-palest: #ecf0f2;
  --mountain-gray-paler: #dfe6ea;
  --mountain-gray-pale: #d2dde2;
  --mountain-gray-dim: #243238;
  --mountain-gray-dimmer: #1c272c;
  --mountain-gray-dimmest: #141c1f;
  --mountain-gray-dark: #101619;
  --mountain-gray-darker: #0c1012;
  --mountain-gray-darkest: var(--mountain-gray-static-120);
  /* Highlight, call-to-action */
  --mountain-gray-highlight: var(--mountain-gray-static-60);
  --mountain-gray-highlight-light: var(--mountain-gray-static-50);
  --mountain-gray-highlight-dark: var(--mountain-gray-static-70);

  /* The dynamic palette inverts based on light or dark mode. Light here. */
  --mountain-gray-10: var(--mountain-gray-static-10);
  --mountain-gray-20: var(--mountain-gray-static-20);
  --mountain-gray-30: var(--mountain-gray-static-30);
  --mountain-gray-40: var(--mountain-gray-static-40);
  --mountain-gray-50: var(--mountain-gray-static-50);
  --mountain-gray-60: var(--mountain-gray-static-60);
  --mountain-gray-70: var(--mountain-gray-static-70);
  --mountain-gray-80: var(--mountain-gray-static-80);
  --mountain-gray-90: var(--mountain-gray-static-90);
  --mountain-gray-100: var(--mountain-gray-static-100);
  --mountain-gray-110: var(--mountain-gray-static-110);
  --mountain-gray-120: var(--mountain-gray-static-120);
  --mountain-gray-background-10: var(--mountain-gray-lightest);
  --mountain-gray-background-20: var(--mountain-gray-lighter);
  --mountain-gray-background-30: var(--mountain-gray-light);
  --mountain-gray-background-40: var(--mountain-gray-palest);
  --mountain-gray-background-50: var(--mountain-gray-paler);
  --mountain-gray-background-60: var(--mountain-gray-pale);
  --mountain-gray-text: var(--mountain-gray-120);
  --mountain-gray-background: var(--mountain-gray-background-10);
  --mountain-gray-highlight-active: var(--mountain-gray-highlight-dark);

  /* 
	 * Theme configuration
	 * Here we set coastal blue as the active theme color: primary.
	 */

  /* Settings for both light and dark mode */
  --primary-highlight: var(--mountain-gray-highlight);

  /* Light mode is default! */
  /* Light mode general palette */
  --primary-10: var(--mountain-gray-10);
  --primary-20: var(--mountain-gray-20);
  --primary-30: var(--mountain-gray-30);
  --primary-40: var(--mountain-gray-40);
  --primary-50: var(--mountain-gray-50);
  --primary-60: var(--mountain-gray-60);
  --primary-70: var(--mountain-gray-70);
  --primary-80: var(--mountain-gray-80);
  --primary-90: var(--mountain-gray-90);
  --primary-100: var(--mountain-gray-100);
  --primary-110: var(--mountain-gray-110);
  --primary-120: var(--mountain-gray-120);
  --primary-background-10: var(--mountain-gray-background-10);
  --primary-background-20: var(--mountain-gray-background-20);
  --primary-background-30: var(--mountain-gray-background-30);
  --primary-background-40: var(--mountain-gray-background-40);
  --primary-background-50: var(--mountain-gray-background-50);
  --primary-background-60: var(--mountain-gray-background-60);
  --primary-text: var(--mountain-gray-text);
  --primary-background: var(--mountain-gray-background);
  --primary-highlight-active: var(--mountain-gray-highlight-active);
}

/* Dark mode */
[data-color-scheme="dark"] {
  /* Inverted palettes for dark mode. */
  --mountain-gray-120: var(--mountain-gray-static-10);
  --mountain-gray-110: var(--mountain-gray-static-20);
  --mountain-gray-100: var(--mountain-gray-static-30);
  --mountain-gray-90: var(--mountain-gray-static-40);
  --mountain-gray-80: var(--mountain-gray-static-50);
  --mountain-gray-70: var(--mountain-gray-static-60);
  --mountain-gray-60: var(--mountain-gray-static-70);
  --mountain-gray-50: var(--mountain-gray-static-80);
  --mountain-gray-40: var(--mountain-gray-static-90);
  --mountain-gray-30: var(--mountain-gray-static-100);
  --mountain-gray-20: var(--mountain-gray-static-110);
  --mountain-gray-10: var(--mountain-gray-static-120);
  --mountain-gray-background-10: var(--mountain-gray-darkest);
  --mountain-gray-background-20: var(--mountain-gray-darker);
  --mountain-gray-background-30: var(--mountain-gray-dark);
  --mountain-gray-background-40: var(--mountain-gray-dimmest);
  --mountain-gray-background-50: var(--mountain-gray-dimmer);
  --mountain-gray-background-60: var(--mountain-gray-dim);
  --mountain-gray-text: var(--mountain-gray-120);
  --mountain-gray-background: var(--mountain-gray-background-10);
  --mountain-gray-highlight-active: var(--mountain-gray-highlight-light);

  /* Dark mode theme configuration */
  --primary-10: var(--mountain-gray-10);
  --primary-20: var(--mountain-gray-20);
  --primary-30: var(--mountain-gray-30);
  --primary-40: var(--mountain-gray-40);
  --primary-50: var(--mountain-gray-50);
  --primary-60: var(--mountain-gray-60);
  --primary-70: var(--mountain-gray-70);
  --primary-80: var(--mountain-gray-80);
  --primary-90: var(--mountain-gray-90);
  --primary-100: var(--mountain-gray-100);
  --primary-110: var(--mountain-gray-110);
  --primary-120: var(--mountain-gray-120);
  --primary-background-10: var(--mountain-gray-background-10);
  --primary-background-20: var(--mountain-gray-background-20);
  --primary-background-30: var(--mountain-gray-background-30);
  --primary-background-40: var(--mountain-gray-background-40);
  --primary-background-50: var(--mountain-gray-background-50);
  --primary-background-60: var(--mountain-gray-background-60);
  --primary-text: var(--mountain-gray-text);
  --primary-background: var(--mountain-gray-background);
  --primary-highlight-active: var(--mountain-gray-highlight-active);
}
