{% include "../src/header/header.html" %}

<main>
  <section>
    <div class="wrapper-fixed-width">
      <!-- To use different breakpoints add following extensions the class: -breakpoint-large, -breakpoint-medium, -breakpoint-small -->

      <div class="container">
        <h2>Cards</h2>

        <h3>Static card group</h3>
        {% include "../src/card/static-card-group.html" %}

        <h3>Static horizontal group</h3>
        {% include "../src/card/static-horizontal-group.html" %}

        <h3>Static horizontal end group</h3>
        {% include "../src/card/static-horizontal-end-group.html" %}

        <h3>Static image fit group</h3>
        {% include "../src/card/static-image-fit-group.html" %}

        <h3>Interactive card group</h3>
        {% include "../src/card/interactive-card-group.html" %}

        <h3>Interactive horizontal group</h3>
        {% include "../src/card/interactive-horizontal-group.html" %}

        <h3>Interactive horizontal end group</h3>
        {% include "../src/card/interactive-horizontal-end-group.html" %}
      </div>
    </div>
  </section>
</main>
