---
permalink: /
---
<link rel="stylesheet" href="/packs/bundle.css" />
<script src="/packs/bundle.js"></script>

<h1>Demo pages</h1>
<p>Use demo pages to combine parts and test the system as a whole.</p>
<p>Demo pages are located in the <em>demo/pages</em> folder.</p>
<ul>
{% for _page in pages %}
  <li>
    <a href="{{_page.href}}">{{_page.name}}</a>
  </li>
{% endfor %}
</ul>

<h1>Component pages</h1>
<p>Use component pages to test parts of the system in isolation.</p>
<p>Component pages are located in the <em>parts</em> folder.
<ul>
{% for part in parts %}
  <li>
    <a href="{{part.href}}">[{{part.group}}] {{part.name}}</a>
  </li>
{% endfor %}
</ul>

