/* establish layer-order: last takes precedence */
@layer global, typogrqphy, layouts, utilities;
@layer global {
  * {
    box-sizing: border-box;
    margin: 0;
  }
}
@layer typogrqphy {
  body {
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: var(--font-family), system-ui, -apple-system, "Roboto", "Helvetica Neue", sans-serif;
    font-size: clamp(1rem, var(--text-size-2), 5rem);
    letter-spacing: 0.02rem;
    font-weight: 400;
    line-height: var(--text-lineheight-base);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  a {
    color: var(--link-color);
  }
  a:focus {
    color: var(--active-link-color);
  }
  /* --- Typography ---  */
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    text-wrap: balance;
    margin-bottom: clamp(1.3rem, 1.2272rem + 0.3326vw, 1.5rem);
  }
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    margin-top: clamp(2.2rem, 2.0909rem + 0.499vw, 2.5rem);
  }
  p,
  li,
  small,
  blockquote,
  figcaption {
    max-width: var(--text-max-width);
    text-wrap: pretty;
  }
  h1,
  .h1 {
    font-weight: 700;
    font-size: var(--text-size-7);
    line-height: var(--text-lineheight-medium);
  }
  h2,
  .h2 {
    font-weight: 700;
    font-size: var(--text-size-6);
    line-height: var(--text-lineheight-medium);
  }
  h3,
  .h3 {
    font-weight: 700;
    font-size: var(--text-size-5);
    line-height: var(--text-lineheight-medium);
  }
  h4,
  .h4 {
    font-weight: 600;
    font-size: var(--text-size-4);
    line-height: var(--text-lineheight-medium);
  }
  h5,
  .h5 {
    font-weight: 600;
    font-size: var(--text-size-3);
    line-height: var(--text-lineheight-medium);
  }
  p,
  li {
    line-height: var(--text-lineheight-medium);
    margin-bottom: clamp(1.3rem, 1.2272rem + 0.3326vw, 1.5rem);
  }
  h1 + p,
  .lead {
    font-size: var(--text-size-3);
    line-height: var(--text-lineheight-small);
    margin-bottom: clamp(1.7rem, 1.6363rem + 0.2911vw, 1.875rem);
  }
  small,
  .text-small {
    font-weight: 500;
    font-size: var(--text-size-small);
    line-height: var(--text-lineheight-large);
    margin-bottom: clamp(1.22rem, 1.2091rem + 0.0499vw, 1.25rem);
  }
  blockquote {
    border-left: var(--gray-300) 4px solid;
    margin-left: 0;
    padding-left: var(--space-unit-x4);
  }
}
@layer utilities {
  /* --- Utilities  --- */
  /* spacing */
  /* colors */
  /* borders */
  /* Accessibility */
  .visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
@layer layouts {
  /* --- Layouts --- */
  .wrapper-fixed-width {
    max-width: var(--desktop-max-width);
    margin-right: auto;
    margin-left: auto;
  }
  [class^=container] {
    padding-left: var(--space-unit-x2);
    padding-right: var(--space-unit-x2);
  }
  /* fixed layout with left sidebar */
  [class^=container-left-sidebar] {
    display: flex;
    margin-top: 0;
    gap: var(--columns-gap);
    align-items: stretch;
    flex-wrap: wrap;
  }
  [class^=container-left-sidebar] > :first-child {
    flex-basis: var(--sidebar-max-width);
    flex-grow: 1;
  }
  [class^=container-left-sidebar] > :last-child {
    flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
    flex-grow: var(--flex-grow-max);
  }
  /* flex container with equal columns */
  [class^=container-flex] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--columns-gap);
  }
  [class^=container-flex] > * {
    flex-grow: 1;
    flex-basis: calc((var(--breakpoint-width) - 100%) * 999);
    margin-block-start: 0;
  }
  /* 6 columns max */
  [class^=container-flex-equal-columns] > :nth-last-child(n+7),
  [class^=container-flex-equal-columns] > :nth-last-child(n+7) ~ * {
    flex-basis: 100%;
  }
  /* flex container with 2 columns */
  [class^=container-flex-two-columns] > :nth-last-child(n+3),
  [class^=container-flex-two-columns] > :nth-last-child(n+3) ~ * {
    flex-basis: 100%;
  }
  [class^=container-flex-two-columns-1fr-2fr] > :nth-child(2) {
    flex-grow: 2;
  }
  [class^=container-flex-two-columns-1fr-3fr] > :nth-child(2) {
    flex-grow: 3;
  }
  [class^=container-flex-two-columns-2fr-1fr] > :nth-child(1) {
    flex-grow: 2;
  }
  [class^=container-flex-two-columns-3fr-1fr] > :nth-child(1) {
    flex-grow: 3;
  }
  /* flex container with 3 columns */
  [class^=container-flex-three-columns] > :nth-last-child(n+4),
  [class^=container-flex-three-columns] > :nth-last-child(n+4) ~ * {
    flex-basis: 100%;
  }
  [class^=container-flex-three-columns-1fr-2fr-1fr] > :nth-child(2) {
    flex-grow: 2;
  }
  [class^=container-flex-three-columns-2fr-1fr-1fr] > :nth-child(1) {
    flex-grow: 2;
  }
  [class^=container-flex-three-columns-1fr-1fr-2fr] > :nth-child(3) {
    flex-grow: 2;
  }
  .container-left-sidebar-breakpoint-large,
  .container-flex-breakpoint-large,
  .container-flex-equal-columns-breakpoint-large,
  .container-flex-two-columns-breakpoint-large,
  .container-flex-three-columns-breakpoint-large,
  .container-flex-two-columns-1fr-2fr-breakpoint-large,
  .container-flex-two-columns-1fr-3fr-breakpoint-large,
  .container-flex-two-columns-2fr-1fr-breakpoint-large,
  .container-flex-two-columns-3fr-1fr-breakpoint-large,
  .container-flex-three-columns-2fr-1fr-1fr-breakpoint-large,
  .container-flex-three-columns-1fr-2fr-1fr-breakpoint-large,
  .container-flex-three-columns-1fr-1fr-2fr-breakpoint-large {
    --breakpoint-width: var(--breakpoint-width-large);
  }
  .container-left-sidebar,
  .container-left-sidebar-breakpoint-medium,
  .container-flex,
  .container-flex-breakpoint-medium,
  .container-flex-equal-columns,
  .container-flex-equal-columns-breakpoint-medium,
  .container-flex-two-columns,
  .container-flex-two-columns-breakpoint-medium,
  .container-flex-two-columns-1fr-2fr,
  .container-flex-two-columns-1fr-2fr-breakpoint-medium,
  .container-flex-two-columns-1fr-3fr,
  .container-flex-two-columns-1fr-3fr-breakpoint-medium,
  .container-flex-two-columns-2fr-1fr,
  .container-flex-two-columns-2fr-1fr-breakpoint-medium,
  .container-flex-two-columns-3fr-1fr,
  .container-flex-two-columns-3fr-1fr-breakpoint-medium,
  .container-flex-three-columns,
  .container-flex-three-columns-breakpoint-medium,
  .container-flex-three-columns-2fr-1fr-1fr,
  .container-flex-three-columns-2fr-1fr-1fr-breakpoint-medium,
  .container-flex-three-columns-1fr-2fr-1fr,
  .container-flex-three-columns-1fr-2fr-1fr-breakpoint-medium,
  .container-flex-three-columns-1fr-1fr-2fr,
  .container-flex-three-columns-1fr-1fr-2fr-breakpoint-medium {
    --breakpoint-width: var(--breakpoint-width-medium);
  }
  .container-left-sidebar-breakpoint-small,
  .container-flex-breakpoint-small,
  .container-flex-equal-columns-breakpoint-small,
  .container-flex-two-columns-breakpoint-small,
  .container-flex-two-columns-1fr-2fr-breakpoint-small,
  .container-flex-two-columns-1fr-3fr-breakpoint-small,
  .container-flex-two-columns-2fr-1fr-breakpoint-small,
  .container-flex-two-columns-3fr-1fr-breakpoint-small,
  .container-flex-three-columns-breakpoint-small,
  .container-flex-three-columns-2fr-1fr-1fr-breakpoint-small,
  .container-flex-three-columns-1fr-2fr-1fr-breakpoint-small,
  .container-flex-three-columns-1fr-1fr-2fr-breakpoint-small {
    --breakpoint-width: var(--breakpoint-width-small);
  }
  /* Grid layouts */
  [class^=container-grid] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--columns-gap);
    grid-row-gap: var(--columns-gap);
  }
  [class^=container-grid] > * {
    margin-top: 0;
  }
  [class^=container-grid-two-columns] {
    grid-template-columns: 1fr 1fr;
  }
  [class^=container-grid-three-columns] {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* Two columns grid layout with fractioned columns */
  [class*=container-grid-two-columns-1fr-2fr] {
    grid-template-columns: 1fr 2fr;
  }
  [class^=container-grid-two-columns-2fr-1fr] {
    grid-template-columns: 2fr 1fr;
  }
  [class^=container-grid-two-columns-1fr-3fr] {
    grid-template-columns: 1fr 3fr;
  }
  [class^=container-grid-two-columns-3fr-1fr] {
    grid-template-columns: 3fr 1fr;
  }
  /* Three columns grid layout with fractioned columns */
  [class^=container-grid-three-columns-1fr-2fr-1fr] {
    grid-template-columns: 1fr 2fr 1fr;
  }
  [class^=container-grid-three-columns-2fr-1fr-1fr] {
    grid-template-columns: 2fr 1fr 1fr;
  }
  [class^=container-grid-three-columns-1fr-1fr-2fr] {
    grid-template-columns: 1fr 1fr 2fr;
  }
  [class^=container-grid-three-columns-1fr-3fr-1fr] {
    grid-template-columns: 1fr 3fr 1fr;
  }
  [class^=container-grid-three-columns-1fr-4fr-1fr] {
    grid-template-columns: 1fr 4fr 1fr;
  }
  @media (max-width: 34rem) {
    .container-grid-two-columns-breakpoint-small,
    .container-grid-two-columns-1fr-2fr-breakpoint-small,
    .container-grid-two-columns-2fr-1fr-breakpoint-small,
    .container-grid-two-columns-1fr-3fr-breakpoint-small,
    .container-grid-two-columns-3fr-1fr-breakpoint-small,
    .container-grid-three-columns-breakpoint-small,
    .container-grid-three-columns-1fr-2fr-1fr-breakpoint-small,
    .container-grid-three-columns-2fr-1fr-1fr-breakpoint-small,
    .container-grid-three-columns-1fr-1fr-2fr-breakpoint-small,
    .container-grid-three-columns-1fr-3fr-1fr-breakpoint-small,
    .container-grid-three-columns-1fr-4fr-1fr-breakpoint-small {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
  @media (max-width: 48rem) {
    .container-grid-two-columns,
    .container-grid-two-columns-1fr-2fr,
    .container-grid-two-columns-2fr-1fr,
    .container-grid-two-columns-1fr-2fr-breakpoint-medium,
    .container-grid-two-columns-2fr-1fr-breakpoint-medium,
    .container-grid-two-columns-1fr-3fr,
    .container-grid-two-columns-3fr-1fr,
    .container-grid-two-columns-1fr-3fr-breakpoint-medium,
    .container-grid-two-columns-3fr-1fr-breakpoint-medium,
    .container-grid-three-columns,
    .container-grid-three-columns-breakpoint-medium,
    .container-grid-three-columns-1fr-2fr-1fr,
    .container-grid-three-columns-2fr-1fr-1fr,
    .container-grid-three-columns-1fr-1fr-2fr,
    .container-grid-three-columns-1fr-3fr-1fr,
    .container-grid-three-columns-1fr-4fr-1fr,
    .container-grid-three-columns-1fr-2fr-1fr-breakpoint-medium,
    .container-grid-three-columns-2fr-1fr-1fr-breakpoint-medium,
    .container-grid-three-columns-1fr-1fr-2fr-breakpoint-medium,
    .container-grid-three-columns-1fr-3fr-1fr-breakpoint-medium,
    .container-grid-three-columns-1fr-4fr-1fr-breakpoint-medium {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
  @media (max-width: 67rem) {
    .container-grid-two-columns-breakpoint-large,
    .container-grid-two-columns-1fr-2fr-breakpoint-large,
    .container-grid-two-columns-2fr-1fr-breakpoint-large,
    .container-grid-two-columns-1fr-3fr-breakpoint-large,
    .container-grid-two-columns-3fr-1fr-breakpoint-large,
    .container-grid-three-columns-breakpoint-large,
    .container-grid-three-columns-1fr-2fr-1fr-breakpoint-large,
    .container-grid-three-columns-2fr-1fr-1fr-breakpoint-large,
    .container-grid-three-columns-1fr-1fr-2fr-breakpoint-large,
    .container-grid-three-columns-1fr-3fr-1fr-breakpoint-large,
    .container-grid-three-columns-1fr-4fr-1fr-breakpoint-large {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--main-dark);
    --text-color: var(--text-white);
    --link-color: var(--hyperlink-dark);
    --active-link-color: var(--hyperlink-activated-dark);
  }
}