<h1>Buttons</h1>

<p>The button style can be applied to both buttons and links.</p>



<h2>Default button</h2>

<p>Use the <code>ca-button</code> class to add button styles to links or buttons.</p>

<p>Here's a link.</p>

<ca-code-demo>
  <template>
    <a href="#" class="ca-button">Default button</a>
  </template>
</ca-code-demo>

<p>We still apply the class even when it's a proper <code>&lt;button&gt;</code>. This ensures we don't pollute other
  use cases of the
  <code>&lt;button&gt;</code> element.</code>
</p>

<ca-code-demo>
  <template>
    <button class="ca-button">Default button</button>
  </template>
</ca-code-demo>



<h2>Button colors</h2>

<p>Buttons come in many colors.</p>

<p>The default button uses your theme's primary color.</p>

<ca-code-demo>
  <template>
    <ca-mesh gap="2" style="--cell-width: 10rem;">
      <button class="ca-button">Primary</button>
      <button class="ca-button ca-button-gray">Gray</button>
      <button class="ca-button ca-button-yellow">Yellow</button>
      <button class="ca-button ca-button-red">Red</button>
      <button class="ca-button ca-button-magenta">Magenta</button>
      <button class="ca-button ca-button-orange">Orange</button>
      <button class="ca-button ca-button-green">Green</button>
      <button class="ca-button ca-button-blue">Blue</button>
      <button class="ca-button ca-button-purple">Purple</button>
      <button class="ca-button ca-button-coastal">Coastal</button>
      <button class="ca-button ca-button-desert">Desert</button>
      <button class="ca-button ca-button-mountain">Mountain</button>
      <button class="ca-button ca-button-valley">Valley</button>
    </ca-mesh>
  </template>
</ca-code-demo>



<h2>Include icons</h2>

<p>Icons can be added to buttons.</p>

<ca-code-demo>
  <template>
    <button class="ca-button">
      <ca-icon name="account"></ca-icon>
      <!-- This will work without the <span> too. -->
      <span>Login</span>
    </button>
  </template>
</ca-code-demo>



<h2>Specialty buttons</h2>

<p>By modifying the button's CSS variables, different looks are possible.</p>

<p>Here's the button for utility icons as seen throughout the layout.</p>

<ca-code-demo>
  <template>
    <a href="#" class="ca-button ca-button-utility">
      <ca-icon name="account"></ca-icon>
    </a>
  </template>
</ca-code-demo>

<p>We can add text too.</p>

<ca-code-demo>
  <template>
    <a href="#" class="ca-button ca-button-utility">
      <ca-icon name="account"></ca-icon>
      <span>Utility</span>
    </a>
  </template>
</ca-code-demo>


<h2>With decorations</h2>

<p>We can use <code>ca-tip</code> to add tooltips, and <code>ca-badge</code> to add status counters.</p>

<ca-code-demo>
  <template>
    <a href="#" class="ca-button ca-button-utility">
      <ca-icon name="mail"></ca-icon>
      <ca-badge>9</ca-badge>
      <ca-tip>Unread messages</ca-tip>
    </a>
  </template>
</ca-code-demo>