<h1>Icon</h1>

<p>We include commonly used icons.</p>



<h2>Basic usage</h2>

<p>Use the <code>&lt;ca-icon&gt;</code> element to add icons to your designs.</p>

<ca-code-demo class="content-width-small">
  <template>
    <ca-icon name="mail"></ca-icon>
  </template>
</ca-code-demo>


<style>
  ca-mesh.icon-list {
    --cell-width: 15rem;

    & ca-card {
      & ca-icon {
        flex: 0 0 2rem !important;
      }

      & code {
        font-size: var(--text-size-0);
      }
    }
  }
</style>

<h2>icon list</h2>

<p>Here are all the included icons.</p>

<ca-mesh gap="2" class="icon-list">
  <ca-card class="ca-padding-2">
    <ca-icon name="bear-menu" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>bear-menu</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="pancakes-menu" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>pancakes-menu</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="youtube" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>youtube</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="twitter-x" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>twitter-x</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="tiktok" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>tiktok</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="linked-in" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>linked-in</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="facebook" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>facebook</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="instagram" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>instagram</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="github" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>github</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="account" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>account</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="add" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>add</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="apps" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>apps</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="back-ios" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>back-ios</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="back" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>back</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="forward-ios" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>forward-ios</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="forward" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>forward</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="attach-file" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>attach-file</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="attach-money" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>attach-money</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="check" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>check</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="check-circle" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>check-circle</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="close" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>close</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="code" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>code</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="dark-mode" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>dark-mode</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="dehaze" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>dehaze</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="download" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>download</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="error" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>error</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="exclamation" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>exclamation</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="filter-alt-off" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>filter-alt-off</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="filter-alt" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>filter-alt</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="filter-list-off" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>filter-list-off</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="filter-list" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>filter-list</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="globe" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>globe</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="info" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>info</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="info-circle" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>info-circle</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="arrow-down" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>arrow-down</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="arrow-left" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>arrow-left</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="arrow-right" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>arrow-right</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="arrow-up" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>arrow-up</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="double-arrow-down" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>double-arrow-down</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="double-arrow-left" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>double-arrow-left</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="double-arrow-right" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>double-arrow-right</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="double-arrow-up" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>double-arrow-up</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="language" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>language</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="light-mode" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>light-mode</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="login" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>login</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="logout" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>logout</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="mail" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>mail</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="comment" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>comment</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="notification-add" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>notification-add</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="notification-edit" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>notification-edit</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="notification-important" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>notification-important</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="notification-active" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>notification-active</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="notification-off" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>notification-off</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="notification-circle" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>notification-circle</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="settings" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>settings</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="shopping-cart" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>shopping-cart</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="star" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>star</code>
    </div>
  </ca-card>
  <ca-card class="ca-padding-2">
    <ca-icon name="star-half" slot="img" class="ca-size-4 ca-place-self-center"></ca-icon>
    <div class="ca-padding-y-1 ca-padding-left-2 ca-place-self-center">
      <code>star-half</code>
    </div>
  </ca-card>
</ca-mesh>