---
layout: blank-page
---

<ca-layout format="">
  <header>
    <ca-burger>
      <a href="#content-nav" title="Menu" class="button button-burger">
        <ca-icon name="pancakes-menu"></ca-icon>
        <span class="visually-hidden">Menu</span>
      </a>
    </ca-burger>

    <ca-org>
      <a href="/">
        <ca-pic slot="img" emblem="ca.gov" aria-label="ca.gov"></ca-pic>
        <span slot="cal">California</span>
        <span slot="dept">Department Website Long Name</span>
      </a>
    </ca-org>

    <search slot="priority">
      <form>
        <label for="site-search" class="visually-hidden">Search this site</label>
        <input type="search" id="site-search" placeholder="Search" />
        <button type="submit">
          <ca-icon name="search"></ca-icon>
          <span class="visually-hidden">Search</span>
        </button>
      </form>
    </search>

    <nav id="utility-nav" slot="utility" aria-label="Utility navigation">
      <ul>
        <li>
          <ca-layout-toggle></ca-layout-toggle>
        </li>
        <li>
          <ca-color-scheme-toggle>
            <button class="button button-utility">
              <ca-icon name="light-mode"></ca-icon>
              <span class="visually-hidden">Switch between light and dark modes</span>
            </button>
          </ca-color-scheme-toggle>
        </li>
        <li>
          <a href="#" title="Login" class="button button-utility">
            <ca-icon name="account"></ca-icon>
            Login
          </a>
        </li>
      </ul>
    </nav>


    <nav slot="menu" id="content-nav" aria-label="Content navigation">
      <menu>
        <li><a href="#">Navigation link</a></li>
        <li>
          <ca-pop>
            <button class="ca-button-menu" slot="pop-button">
              Navigation
              <ca-icon name="arrow-down"></ca-icon>
            </button>
            <menu slot="pop-content">
              <li><a href="#">Drawer 1</a></li>
              <li><a href="#">Sub-link 2</a></li>
              <li>
                <menu>
                  <li><a href="#">Drawer 1</a></li>
                  <li><a href="#">Sub-link 2</a></li>
                  <li>
                    <a href="#">Nested link 3</a>
                  </li>
                </menu>
              </li>
              <li>
                <ca-pop>
                  <button class="ca-button-menu" slot="pop-button">
                    Navigation
                    <ca-icon name="arrow-down"></ca-icon>
                  </button>
                  <menu slot="pop-content">
                    <li><a href="#">Drawer 1</a></li>
                    <li><a href="#">Sub-link 2</a></li>
                    <li>
                      <a href="#">Nested link 3</a>
                    </li>
                  </menu>
                </ca-pop>
              </li>
            </menu>
          </ca-pop>
        </li>
        <li><a href="#">Another link that's super long</a></li>
        <li><a href="#">Differ widths</a></li>
      </menu>
    </nav>

  </header>

  <main>
    <ca-card flow="horizontal" format="hero">
      <article>
        <h3><a href="#">Using fit</a></h3>
        <p>Here we get the image under control in our smaller card.</p>
      </article>
      <img src="https://live.staticflickr.com/8628/16622486169_087756b818_b.jpg" alt="California poppy flower" />
    </ca-card>

    <p>Icon test: <ca-icon name="mail"></ca-icon> </p>

    <ca-menu>
      <button class="button" slot="summary">Navigation <ca-icon name="arrowdown"></ca-icon></button>
      <menu>
        <li><a href="#">Drawer 1</a></li>
        <li><a href="#">Sub-link 2</a></li>
        <li><a href="#">Nested link 3</a></li>
      </menu>
    </ca-menu>

    <ca-org format="horizontal">
      <ca-pic slot="img" emblem="ca.gov" aria-label="ca.gov"></ca-pic>
      <span slot="cal">California</span>
      <span slot="dept">Department Website Long Name</span>
    </ca-org>

    <h1>Layout page</h1>
    <p>Lead text.</p>
    <p>Normal text.</p>
    <h2>Heading</h2>
    <p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id
      est laborum.</p>
    <p class="ca-outdent"><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor
      incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id
      est laborum.</p>
  </main>

  <footer>
    <ca-box columns="5" gap="6" size="large" format="site-links">
      <ca-column span="2">
        <ca-org>
          <a href="/">
            <ca-pic slot="img" emblem="ca.gov" aria-label="ca.gov"></ca-pic>
            <span slot="cal">California</span>
            <span slot="dept">Department Website Long Name</span>
          </a>
        </ca-org>
      </ca-column>

      <ca-grid class="ca-span-3" gap="6">
        <section>
          <h2>Footer column heading</h2>
          <ul>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
          </ul>
        </section>
        <section>
          <h2>Footer column heading</h2>
          <ul>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
          </ul>
        </section>
        <section>
          <h2>Footer column heading</h2>
          <ul>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
            <li><a href="#">Footer link</a></li>
          </ul>
        </section>
      </ca-grid>
    </ca-box>

    <hr>

    <ul class="flex flex-row flex-wrap gap-2">
      <li class="flex-basis-full">
        <a href="#">Website Accessibility Certification</a>
      </li>
      <li>
        <a href="#">Conditions of use</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Accessibility</a>
      </li>
      <li>
        <a href="#">Sitemap</a>
      </li>
    </ul>

    <ul class="flex flex-row gap-2 margin-y-6">
      <li>
        <a href="#" class="button button-social">
          <ca-icon name="mail"></ca-icon>
          <span class="visually-hidden">Email</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-icon name="facebook"></ca-icon>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-icon name="linked-in"></ca-icon>
          <span class="visually-hidden">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-icon name="twitter-x"></ca-icon>
          <span class="visually-hidden">X.com</span>
        </a>
      </li>
      <li>
        <a href="#" class="button button-social">
          <ca-icon name="youtube"></ca-icon>
          <span class="visually-hidden">YouTube</span>
        </a>
      </li>
    </ul>

    <ca-flex format="footer-end">
      <ca-flex format="copyright-stamp">
        <ca-icon name="footer-ca-bear"></ca-icon>
        <p>An official California state website</p>
        <p>© <ca-current-year>2025</ca-current-year> State of California</p>
      </ca-flex>
      <ca-flex format="footer-utility">
        <a href="#" class="button button-utility">
          <ca-icon name="help"></ca-icon>
          <span class="visually-hidden">Help</span>
        </a>
        <a href="#" class="button button-utility">
          <ca-icon name="back-to-top"></ca-icon>
          <span class="visually-hidden">Back to top</span>
        </a>
      </ca-flex>
    </ca-flex>
  </footer>
</ca-layout>